<a href="https://colab.research.google.com/github/guybrush1989/DMT-Group80/blob/master/benchmark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls '/content/drive/My Drive/Group 80 - DTM/assignment1/'

 assignment_1_advanced.pdf     Log.gdoc
 dataset_mood_smartphone.csv   Report.gdoc
'General Summary.gdoc'	      'Scientific explanation algorithms DSS.docx'

In [0]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Group 80 - DTM/assignment1/dataset_mood_smartphone.csv')

In [0]:
df.head(5)

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [0]:
df = df[['id','time','variable','value']]

In [0]:
df_mood = df.loc[df['variable'] == 'mood']
df_mood

           id                     time variable  value
0     AS14.01  2014-02-26 13:00:00.000     mood    6.0
1     AS14.01  2014-02-26 15:00:00.000     mood    6.0
2     AS14.01  2014-02-26 18:00:00.000     mood    6.0
3     AS14.01  2014-02-26 21:00:00.000     mood    7.0
4     AS14.01  2014-02-27 09:00:00.000     mood    6.0
...       ...                      ...      ...    ...
5636  AS14.33  2014-05-30 09:00:00.000     mood    8.0
5637  AS14.33  2014-05-30 13:00:00.000     mood    6.0
5638  AS14.33  2014-05-30 19:00:00.000     mood    8.0
5639  AS14.33  2014-05-30 20:00:00.000     mood    6.0
5640  AS14.33  2014-05-31 12:00:00.000     mood    7.0

[5641 rows x 4 columns]

In [0]:
import numpy as np

df_mood = df_mood.drop(columns=['variable'])
df_mood = df_mood.rename(columns={'value':'mood'})

df_mood['moodAvg'] = np.nan
df_mood['moodPred'] = np.nan

In [0]:
df_mood.loc[df_mood['time']=='2014-04-17 11:00:00.000']

           id                     time  mood  moodAvg  moodPred
135   AS14.01  2014-04-17 11:00:00.000   7.0      NaN       NaN
136   AS14.01  2014-04-17 11:00:00.000   6.0      NaN       NaN
5380  AS14.32  2014-04-17 11:00:00.000   8.0      NaN       NaN

In [0]:
df_mood = df_mood.drop_duplicates(subset=['id','time'], keep='last').reset_index(drop=True)

In [0]:
df_mood.loc[df_mood['time']=='2014-04-17 11:00:00.000']

           id                     time  mood  moodAvg  moodPred
135   AS14.01  2014-04-17 11:00:00.000   6.0      NaN       NaN
5368  AS14.32  2014-04-17 11:00:00.000   8.0      NaN       NaN

In [0]:
for index in df_mood.index:
  df_mood.iloc[index,1] = pd.to_datetime(df_mood.iloc[index,1]).date()

df_mood

           id        time  mood  moodAvg  moodPred
0     AS14.01  2014-02-26   6.0      NaN       NaN
1     AS14.01  2014-02-26   6.0      NaN       NaN
2     AS14.01  2014-02-26   6.0      NaN       NaN
3     AS14.01  2014-02-26   7.0      NaN       NaN
4     AS14.01  2014-02-27   6.0      NaN       NaN
...       ...         ...   ...      ...       ...
5623  AS14.33  2014-05-30   8.0      NaN       NaN
5624  AS14.33  2014-05-30   6.0      NaN       NaN
5625  AS14.33  2014-05-30   8.0      NaN       NaN
5626  AS14.33  2014-05-30   6.0      NaN       NaN
5627  AS14.33  2014-05-31   7.0      NaN       NaN

[5628 rows x 5 columns]

In [0]:
df_mood.loc[df_mood['id']==df_mood.iloc[0,0]][df_mood['time']==df_mood.iloc[0,1]]['mood'].agg('mean')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

6.25

In [0]:
for index in df_mood.index:
  df_mood.iloc[index,3] = df_mood.loc[df_mood['id']==df_mood.iloc[index,0]][df_mood['time']==df_mood.iloc[index,1]]['mood'].agg('mean')

df_mood

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

           id        time  mood   moodAvg  moodPred
0     AS14.01  2014-02-26   6.0  6.250000       NaN
1     AS14.01  2014-02-26   6.0  6.250000       NaN
2     AS14.01  2014-02-26   6.0  6.250000       NaN
3     AS14.01  2014-02-26   7.0  6.250000       NaN
4     AS14.01  2014-02-27   6.0  6.333333       NaN
...       ...         ...   ...       ...       ...
5623  AS14.33  2014-05-30   8.0  6.800000       NaN
5624  AS14.33  2014-05-30   6.0  6.800000       NaN
5625  AS14.33  2014-05-30   8.0  6.800000       NaN
5626  AS14.33  2014-05-30   6.0  6.800000       NaN
5627  AS14.33  2014-05-31   7.0  7.000000       NaN

[5628 rows x 5 columns]

In [0]:
from datetime import date
df_mood.loc[df_mood['time']== date(2014, 4, 17)]

           id        time  mood   moodAvg  moodPred
135   AS14.01  2014-04-17   6.0  6.500000       NaN
136   AS14.01  2014-04-17   7.0  6.500000       NaN
137   AS14.01  2014-04-17   6.0  6.500000       NaN
138   AS14.01  2014-04-17   7.0  6.500000       NaN
356   AS14.02  2014-04-17   5.0  6.666667       NaN
...       ...         ...   ...       ...       ...
5440  AS14.33  2014-04-17   8.0  7.200000       NaN
5441  AS14.33  2014-04-17   6.0  7.200000       NaN
5442  AS14.33  2014-04-17   7.0  7.200000       NaN
5443  AS14.33  2014-04-17   7.0  7.200000       NaN
5444  AS14.33  2014-04-17   8.0  7.200000       NaN

[125 rows x 5 columns]

In [0]:
df_moodAvg = df_mood.drop(columns=['mood'])
df_moodAvg = df_moodAvg.drop_duplicates(subset=['id','time']).reset_index(drop=True)
df_moodAvg

           id        time   moodAvg  moodPred
0     AS14.01  2014-02-26  6.250000       NaN
1     AS14.01  2014-02-27  6.333333       NaN
2     AS14.01  2014-03-21  6.200000       NaN
3     AS14.01  2014-03-22  6.400000       NaN
4     AS14.01  2014-03-23  6.800000       NaN
...       ...         ...       ...       ...
1263  AS14.33  2014-05-27  6.200000       NaN
1264  AS14.33  2014-05-28  8.200000       NaN
1265  AS14.33  2014-05-29  7.000000       NaN
1266  AS14.33  2014-05-30  6.800000       NaN
1267  AS14.33  2014-05-31  7.000000       NaN

[1268 rows x 4 columns]

In [0]:
df_moodAvg['id'].unique()

array(['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07',
       'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15',
       'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24',
       'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30',
       'AS14.31', 'AS14.32', 'AS14.33'], dtype=object)

In [0]:
dfs = {'df_moodAvg_' + str(df_moodAvg['id'].unique()[i]):df_moodAvg.loc[df_moodAvg['id'] == df_moodAvg['id'].unique()[i]].reset_index() for i in range(0,df_moodAvg['id'].unique().size)}

In [0]:
print(len(dfs))

27

In [0]:
for id in df_moodAvg['id'].unique():
  print(dfs['df_moodAvg_'+id])

    index       id        time   moodAvg  moodPred
0       0  AS14.01  2014-02-26  6.250000       NaN
1       1  AS14.01  2014-02-27  6.333333       NaN
2       2  AS14.01  2014-03-21  6.200000       NaN
3       3  AS14.01  2014-03-22  6.400000       NaN
4       4  AS14.01  2014-03-23  6.800000       NaN
5       5  AS14.01  2014-03-24  6.000000       NaN
6       6  AS14.01  2014-03-25  6.750000       NaN
7       7  AS14.01  2014-03-26  6.600000       NaN
8       8  AS14.01  2014-03-27  7.000000       NaN
9       9  AS14.01  2014-03-28  6.400000       NaN
10     10  AS14.01  2014-03-29  8.000000       NaN
11     11  AS14.01  2014-03-30  7.500000       NaN
12     12  AS14.01  2014-03-31  7.400000       NaN
13     13  AS14.01  2014-04-01  6.000000       NaN
14     14  AS14.01  2014-04-02  6.500000       NaN
15     15  AS14.01  2014-04-03  6.400000       NaN
16     16  AS14.01  2014-04-04  6.200000       NaN
17     17  AS14.01  2014-04-05  6.800000       NaN
18     18  AS14.01  2014-04-06  6.500000       NaN
19     19  AS14.01  2014-04-07  6.500000       NaN
20     20  AS14.01  2014-04-08  6.600000       NaN
21     21  AS14.01  2014-04-09  7.400000       NaN
22     22  AS14.01  2014-04-10  7.400000       NaN
23     23  AS14.01  2014-04-11  7.000000       NaN
24     24  AS14.01  2014-04-12  7.250000       NaN
25     25  AS14.01  2014-04-13  8.000000       NaN
26     26  AS14.01  2014-04-14  7.200000       NaN
27     27  AS14.01  2014-04-15  6.400000       NaN
28     28  AS14.01  2014-04-16  7.200000       NaN
29     29  AS14.01  2014-04-17  6.500000       NaN
30     30  AS14.01  2014-04-18  6.800000       NaN
31     31  AS14.01  2014-04-19  7.800000       NaN
32     32  AS14.01  2014-04-20  7.250000       NaN
33     33  AS14.01  2014-04-21  7.600000       NaN
34     34  AS14.01  2014-04-22  7.400000       NaN
35     35  AS14.01  2014-04-23  7.600000       NaN
36     36  AS14.01  2014-04-24  7.600000       NaN
37     37  AS14.01  2014-04-25  7.200000       NaN
38     38  AS14.01  2014-04-26  7.600000       NaN
39     39  AS14.01  2014-04-27  7.500000       NaN
40     40  AS14.01  2014-04-28  7.600000       NaN
41     41  AS14.01  2014-04-29  7.000000       NaN
42     42  AS14.01  2014-04-30  7.800000       NaN
43     43  AS14.01  2014-05-01  8.000000       NaN
44     44  AS14.01  2014-05-02  7.600000       NaN
45     45  AS14.01  2014-05-03  8.000000       NaN
46     46  AS14.01  2014-05-04  8.000000       NaN
    index       id        time   moodAvg  moodPred
0      47  AS14.02  2014-03-16  6.333333       NaN
1      48  AS14.02  2014-03-17  6.750000       NaN
2      49  AS14.02  2014-03-18  8.200000       NaN
3      50  AS14.02  2014-03-19  6.800000       NaN
4      51  AS14.02  2014-03-20  7.250000       NaN
5      52  AS14.02  2014-03-21  7.500000       NaN
6      53  AS14.02  2014-03-22  6.500000       NaN
7      54  AS14.02  2014-03-23  6.250000       NaN
8      55  AS14.02  2014-03-24  6.400000       NaN
9      56  AS14.02  2014-03-25  7.750000       NaN
10     57  AS14.02  2014-03-26  7.200000       NaN
11     58  AS14.02  2014-03-27  7.250000       NaN
12     59  AS14.02  2014-03-28  6.800000       NaN
13     60  AS14.02  2014-03-29  7.250000       NaN
14     61  AS14.02  2014-03-30  7.000000       NaN
15     62  AS14.02  2014-03-31  7.200000       NaN
16     63  AS14.02  2014-04-01  7.400000       NaN
17     64  AS14.02  2014-04-02  6.400000       NaN
18     65  AS14.02  2014-04-03  5.750000       NaN
19     66  AS14.02  2014-04-04  6.400000       NaN
20     67  AS14.02  2014-04-05  7.400000       NaN
21     68  AS14.02  2014-04-06  4.500000       NaN
22     69  AS14.02  2014-04-07  6.800000       NaN
23     70  AS14.02  2014-04-08  6.250000       NaN
24     71  AS14.02  2014-04-09  7.250000       NaN
25     72  AS14.02  2014-04-10  7.250000       NaN
26     73  AS14.02  2014-04-11  6.500000       NaN
27     74  AS14.02  2014-04-12  6.000000       NaN
28     75  AS14.02  2014-04-13  7.200000       NaN
29     76  AS14.02  2014-04-14  8.000000       NaN
30     77  AS14.02  2014-04-15  7.250000       NaN
31     78  AS14.02  2014-04-16  6.666667       NaN
32     79  AS14.02  2014-04-17  6.666667       NaN
33     80  AS14.02  2014-04-18  6.500000       NaN
34     81  AS14.02  2014-04-19  5.666667       NaN
35     82  AS14.02  2014-04-20  5.000000       NaN
36     83  AS14.02  2014-04-21  6.000000       NaN
37     84  AS14.02  2014-04-22  5.666667       NaN
38     85  AS14.02  2014-04-23  5.500000       NaN
39     86  AS14.02  2014-04-24  7.000000       NaN
40     87  AS14.02  2014-04-25  9.000000       NaN
    index       id        time   moodAvg  moodPred
0      88  AS14.03  2014-03-21  9.000000       NaN
1      89  AS14.03  2014-03-22  7.800000       NaN
2      90  AS14.03  2014-03-23  8.200000       NaN
3      91  AS14.03  2014-03-24  7.800000       NaN
4      92  AS14.03  2014-03-25  7.800000       NaN
5      93  AS14.03  2014-03-26  8.250000       NaN
6      94  AS14.03  2014-03-27  7.750000       NaN
7      95  AS14.03  2014-03-28  8.000000       NaN
8      96  AS14.03  2014-03-29  8.600000       NaN
9      97  AS14.03  2014-03-30  8.400000       NaN
10     98  AS14.03  2014-03-31  7.400000       NaN
11     99  AS14.03  2014-04-01  7.600000       NaN
12    100  AS14.03  2014-04-02  7.400000       NaN
13    101  AS14.03  2014-04-03  7.800000       NaN
14    102  AS14.03  2014-04-04  7.800000       NaN
15    103  AS14.03  2014-04-05  7.600000       NaN
16    104  AS14.03  2014-04-06  6.800000       NaN
17    105  AS14.03  2014-04-07  7.400000       NaN
18    106  AS14.03  2014-04-08  7.400000       NaN
19    107  AS14.03  2014-04-09  7.800000       NaN
20    108  AS14.03  2014-04-10  7.400000       NaN
21    109  AS14.03  2014-04-11  7.600000       NaN
22    110  AS14.03  2014-04-12  7.666667       NaN
23    111  AS14.03  2014-04-13  7.400000       NaN
24    112  AS14.03  2014-04-14  7.000000       NaN
25    113  AS14.03  2014-04-15  7.600000       NaN
26    114  AS14.03  2014-04-16  8.000000       NaN
27    115  AS14.03  2014-04-17  7.250000       NaN
28    116  AS14.03  2014-04-18  7.500000       NaN
29    117  AS14.03  2014-04-19  7.800000       NaN
30    118  AS14.03  2014-04-20  7.500000       NaN
31    119  AS14.03  2014-04-21  7.400000       NaN
32    120  AS14.03  2014-04-22  7.600000       NaN
33    121  AS14.03  2014-04-23  7.000000       NaN
34    122  AS14.03  2014-04-24  7.400000       NaN
35    123  AS14.03  2014-04-25  7.500000       NaN
36    124  AS14.03  2014-04-26  7.500000       NaN
37    125  AS14.03  2014-04-27  7.600000       NaN
38    126  AS14.03  2014-04-28  7.000000       NaN
39    127  AS14.03  2014-04-29  7.200000       NaN
40    128  AS14.03  2014-04-30  7.000000       NaN
41    129  AS14.03  2014-05-01  7.200000       NaN
42    130  AS14.03  2014-05-02  7.600000       NaN
43    131  AS14.03  2014-05-03  7.750000       NaN
44    132  AS14.03  2014-05-04  7.400000       NaN
45    133  AS14.03  2014-05-05  7.250000       NaN
46    134  AS14.03  2014-05-07  7.666667       NaN
    index       id        time   moodAvg  moodPred
0     135  AS14.05  2014-03-14  8.000000       NaN
1     136  AS14.05  2014-03-15  6.200000       NaN
2     137  AS14.05  2014-03-16  6.333333       NaN
3     138  AS14.05  2014-03-17  6.000000       NaN
4     139  AS14.05  2014-03-18  7.500000       NaN
5     140  AS14.05  2014-03-19  6.750000       NaN
6     141  AS14.05  2014-03-20  7.200000       NaN
7     142  AS14.05  2014-03-21  7.250000       NaN
8     143  AS14.05  2014-03-22  3.750000       NaN
9     144  AS14.05  2014-03-23  4.400000       NaN
10    145  AS14.05  2014-03-24  3.750000       NaN
11    146  AS14.05  2014-03-25  5.333333       NaN
12    147  AS14.05  2014-03-26  5.500000       NaN
13    148  AS14.05  2014-03-27  5.800000       NaN
14    149  AS14.05  2014-03-28  6.200000       NaN
15    150  AS14.05  2014-03-29  6.400000       NaN
16    151  AS14.05  2014-03-30  6.200000       NaN
17    152  AS14.05  2014-03-31  6.800000       NaN
18    153  AS14.05  2014-04-01  7.000000       NaN
19    154  AS14.05  2014-04-02  7.000000       NaN
20    155  AS14.05  2014-04-03  7.200000       NaN
21    156  AS14.05  2014-04-04  7.000000       NaN
22    157  AS14.05  2014-04-05  7.500000       NaN
23    158  AS14.05  2014-04-06  6.800000       NaN
24    159  AS14.05  2014-04-07  6.750000       NaN
25    160  AS14.05  2014-04-08  6.750000       NaN
26    161  AS14.05  2014-04-09  7.000000       NaN
27    162  AS14.05  2014-04-10  7.200000       NaN
28    163  AS14.05  2014-04-11  7.000000       NaN
29    164  AS14.05  2014-04-12  7.000000       NaN
30    165  AS14.05  2014-04-13  7.500000       NaN
31    166  AS14.05  2014-04-14  6.400000       NaN
32    167  AS14.05  2014-04-15  7.000000       NaN
33    168  AS14.05  2014-04-16  7.200000       NaN
34    169  AS14.05  2014-04-17  6.600000       NaN
35    170  AS14.05  2014-04-18  7.500000       NaN
36    171  AS14.05  2014-04-19  7.200000       NaN
37    172  AS14.05  2014-04-20  7.200000       NaN
38    173  AS14.05  2014-04-21  7.200000       NaN
39    174  AS14.05  2014-04-22  7.200000       NaN
40    175  AS14.05  2014-04-23  7.200000       NaN
41    176  AS14.05  2014-04-24  7.200000       NaN
42    177  AS14.05  2014-04-25  7.200000       NaN
43    178  AS14.05  2014-04-26  7.800000       NaN
44    179  AS14.05  2014-04-27  7.400000       NaN
45    180  AS14.05  2014-04-28  7.000000       NaN
46    181  AS14.05  2014-04-29  6.800000       NaN
47    182  AS14.05  2014-04-30  7.000000       NaN
48    183  AS14.05  2014-05-01  6.800000       NaN
49    184  AS14.05  2014-05-02  7.000000       NaN
50    185  AS14.05  2014-05-03  6.750000       NaN
51    186  AS14.05  2014-05-04  7.000000       NaN
52    187  AS14.05  2014-05-05  6.333333       NaN
    index       id        time   moodAvg  moodPred
0     188  AS14.06  2014-03-24  7.000000       NaN
1     189  AS14.06  2014-03-25  7.000000       NaN
2     190  AS14.06  2014-03-26  8.000000       NaN
3     191  AS14.06  2014-03-27  7.000000       NaN
4     192  AS14.06  2014-03-28  7.600000       NaN
5     193  AS14.06  2014-03-29  7.800000       NaN
6     194  AS14.06  2014-03-30  7.800000       NaN
7     195  AS14.06  2014-03-31  7.000000       NaN
8     196  AS14.06  2014-04-01  7.750000       NaN
9     197  AS14.06  2014-04-02  6.800000       NaN
10    198  AS14.06  2014-04-03  7.200000       NaN
11    199  AS14.06  2014-04-04  7.000000       NaN
12    200  AS14.06  2014-04-05  7.000000       NaN
13    201  AS14.06  2014-04-06  7.000000       NaN
14    202  AS14.06  2014-04-07  6.200000       NaN
15    203  AS14.06  2014-04-08  6.600000       NaN
16    204  AS14.06  2014-04-09  7.400000       NaN
17    205  AS14.06  2014-04-10  7.600000       NaN
18    206  AS14.06  2014-04-11  7.800000       NaN
19    207  AS14.06  2014-04-12  8.200000       NaN
20    208  AS14.06  2014-04-13  6.333333       NaN
21    209  AS14.06  2014-04-14  7.250000       NaN
22    210  AS14.06  2014-04-15  7.000000       NaN
23    211  AS14.06  2014-04-16  7.600000       NaN
24    212  AS14.06  2014-04-17  6.800000       NaN
25    213  AS14.06  2014-04-18  6.250000       NaN
26    214  AS14.06  2014-04-19  6.800000       NaN
27    215  AS14.06  2014-04-20  8.200000       NaN
28    216  AS14.06  2014-04-21  7.000000       NaN
29    217  AS14.06  2014-04-22  6.600000       NaN
30    218  AS14.06  2014-04-23  7.000000       NaN
31    219  AS14.06  2014-04-24  7.750000       NaN
32    220  AS14.06  2014-04-25  6.400000       NaN
33    221  AS14.06  2014-04-26  7.500000       NaN
34    222  AS14.06  2014-04-27  7.200000       NaN
35    223  AS14.06  2014-04-28  6.750000       NaN
36    224  AS14.06  2014-04-29  7.250000       NaN
37    225  AS14.06  2014-04-30  6.800000       NaN
38    226  AS14.06  2014-05-01  8.000000       NaN
39    227  AS14.06  2014-05-02  7.200000       NaN
40    228  AS14.06  2014-05-03  6.250000       NaN
41    229  AS14.06  2014-05-04  7.600000       NaN
42    230  AS14.06  2014-05-05  7.000000       NaN
43    231  AS14.06  2014-05-07  6.750000       NaN
44    232  AS14.06  2014-05-08  7.000000       NaN
    index       id        time   moodAvg  moodPred
0     233  AS14.07  2014-03-19  6.800000       NaN
1     234  AS14.07  2014-03-20  5.250000       NaN
2     235  AS14.07  2014-03-21  7.000000       NaN
3     236  AS14.07  2014-03-22  6.000000       NaN
4     237  AS14.07  2014-03-23  7.750000       NaN
5     238  AS14.07  2014-03-24  8.000000       NaN
6     239  AS14.07  2014-03-25  7.666667       NaN
7     240  AS14.07  2014-03-26  6.600000       NaN
8     241  AS14.07  2014-03-27  6.800000       NaN
9     242  AS14.07  2014-03-28  8.250000       NaN
10    243  AS14.07  2014-03-29  7.000000       NaN
11    244  AS14.07  2014-03-30  6.200000       NaN
12    245  AS14.07  2014-03-31  4.333333       NaN
13    246  AS14.07  2014-04-01  6.600000       NaN
14    247  AS14.07  2014-04-02  5.500000       NaN
15    248  AS14.07  2014-04-03  6.200000       NaN
16    249  AS14.07  2014-04-04  6.500000       NaN
17    250  AS14.07  2014-04-05  6.000000       NaN
18    251  AS14.07  2014-04-06  6.750000       NaN
19    252  AS14.07  2014-04-07  5.400000       NaN
20    253  AS14.07  2014-04-08  6.800000       NaN
21    254  AS14.07  2014-04-09  6.400000       NaN
22    255  AS14.07  2014-04-10  6.200000       NaN
23    256  AS14.07  2014-04-11  3.500000       NaN
24    257  AS14.07  2014-04-12  6.400000       NaN
25    258  AS14.07  2014-04-13  6.500000       NaN
26    259  AS14.07  2014-04-14  6.200000       NaN
27    260  AS14.07  2014-04-15  6.000000       NaN
28    261  AS14.07  2014-04-16  4.750000       NaN
29    262  AS14.07  2014-04-17  3.800000       NaN
30    263  AS14.07  2014-04-18  5.200000       NaN
31    264  AS14.07  2014-04-19  7.000000       NaN
32    265  AS14.07  2014-04-20  3.000000       NaN
33    266  AS14.07  2014-04-21  6.600000       NaN
34    267  AS14.07  2014-04-22  6.000000       NaN
35    268  AS14.07  2014-04-23  6.000000       NaN
36    269  AS14.07  2014-04-24  5.600000       NaN
37    270  AS14.07  2014-04-25  3.333333       NaN
38    271  AS14.07  2014-04-26  5.400000       NaN
39    272  AS14.07  2014-04-27  6.000000       NaN
40    273  AS14.07  2014-04-28  6.750000       NaN
41    274  AS14.07  2014-04-29  5.000000       NaN
42    275  AS14.07  2014-04-30  5.000000       NaN
43    276  AS14.07  2014-05-01  5.000000       NaN
44    277  AS14.07  2014-05-02  6.200000       NaN
45    278  AS14.07  2014-05-03  5.666667       NaN
46    279  AS14.07  2014-05-04  8.000000       NaN
47    280  AS14.07  2014-05-05  5.500000       NaN
    index       id        time   moodAvg  moodPred
0     281  AS14.08  2014-03-05  6.333333       NaN
1     282  AS14.08  2014-03-06  7.200000       NaN
2     283  AS14.08  2014-03-07  7.400000       NaN
3     284  AS14.08  2014-03-08  7.000000       NaN
4     285  AS14.08  2014-03-09  7.200000       NaN
..    ...      ...         ...       ...       ...
57    338  AS14.08  2014-05-01  7.000000       NaN
58    339  AS14.08  2014-05-02  7.200000       NaN
59    340  AS14.08  2014-05-03  7.400000       NaN
60    341  AS14.08  2014-05-04  6.800000       NaN
61    342  AS14.08  2014-05-05  6.666667       NaN

[62 rows x 5 columns]
    index       id        time   moodAvg  moodPred
0     343  AS14.09  2014-03-21  7.000000       NaN
1     344  AS14.09  2014-03-22  7.000000       NaN
2     345  AS14.09  2014-03-23  6.750000       NaN
3     346  AS14.09  2014-03-24  7.250000       NaN
4     347  AS14.09  2014-03-25  6.200000       NaN
5     348  AS14.09  2014-03-26  7.750000       NaN
6     349  AS14.09  2014-03-27  7.800000       NaN
7     350  AS14.09  2014-03-28  8.250000       NaN
8     351  AS14.09  2014-03-29  8.000000       NaN
9     352  AS14.09  2014-03-30  7.750000       NaN
10    353  AS14.09  2014-03-31  7.000000       NaN
11    354  AS14.09  2014-04-01  7.600000       NaN
12    355  AS14.09  2014-04-02  6.200000       NaN
13    356  AS14.09  2014-04-03  7.600000       NaN
14    357  AS14.09  2014-04-04  7.250000       NaN
15    358  AS14.09  2014-04-05  7.500000       NaN
16    359  AS14.09  2014-04-06  6.800000       NaN
17    360  AS14.09  2014-04-07  6.200000       NaN
18    361  AS14.09  2014-04-08  7.200000       NaN
19    362  AS14.09  2014-04-09  6.500000       NaN
20    363  AS14.09  2014-04-10  6.000000       NaN
21    364  AS14.09  2014-04-11  6.800000       NaN
22    365  AS14.09  2014-04-12  7.000000       NaN
23    366  AS14.09  2014-04-13  6.000000       NaN
24    367  AS14.09  2014-04-14  5.800000       NaN
25    368  AS14.09  2014-04-15  6.000000       NaN
26    369  AS14.09  2014-04-16  5.500000       NaN
27    370  AS14.09  2014-04-17  7.000000       NaN
28    371  AS14.09  2014-04-18  6.600000       NaN
29    372  AS14.09  2014-04-19  8.000000       NaN
30    373  AS14.09  2014-04-20  6.250000       NaN
31    374  AS14.09  2014-04-21  6.500000       NaN
32    375  AS14.09  2014-04-22  6.600000       NaN
33    376  AS14.09  2014-04-23  6.333333       NaN
34    377  AS14.09  2014-04-24  7.200000       NaN
35    378  AS14.09  2014-04-25  7.250000       NaN
36    379  AS14.09  2014-04-26  8.000000       NaN
37    380  AS14.09  2014-04-27  6.250000       NaN
38    381  AS14.09  2014-04-28  6.600000       NaN
39    382  AS14.09  2014-04-29  6.750000       NaN
40    383  AS14.09  2014-04-30  7.000000       NaN
41    384  AS14.09  2014-05-01  7.500000       NaN
42    385  AS14.09  2014-05-02  7.600000       NaN
43    386  AS14.09  2014-05-03  7.750000       NaN
44    387  AS14.09  2014-05-04  6.600000       NaN
45    388  AS14.09  2014-05-05  6.000000       NaN
    index       id        time  moodAvg  moodPred
0     389  AS14.12  2014-03-15     5.50       NaN
1     390  AS14.12  2014-03-27     7.00       NaN
2     391  AS14.12  2014-03-28     6.75       NaN
3     392  AS14.12  2014-03-29     6.75       NaN
4     393  AS14.12  2014-03-30     5.75       NaN
5     394  AS14.12  2014-03-31     6.40       NaN
6     395  AS14.12  2014-04-01     6.40       NaN
7     396  AS14.12  2014-04-02     6.00       NaN
8     397  AS14.12  2014-04-03     5.40       NaN
9     398  AS14.12  2014-04-04     6.50       NaN
10    399  AS14.12  2014-04-05     6.20       NaN
11    400  AS14.12  2014-04-06     6.25       NaN
12    401  AS14.12  2014-04-07     6.40       NaN
13    402  AS14.12  2014-04-08     6.25       NaN
14    403  AS14.12  2014-04-09     5.25       NaN
15    404  AS14.12  2014-04-10     6.40       NaN
16    405  AS14.12  2014-04-11     6.60       NaN
17    406  AS14.12  2014-04-12     6.80       NaN
18    407  AS14.12  2014-04-13     5.60       NaN
19    408  AS14.12  2014-04-14     6.60       NaN
20    409  AS14.12  2014-04-15     6.80       NaN
21    410  AS14.12  2014-04-16     7.00       NaN
22    411  AS14.12  2014-04-17     6.80       NaN
23    412  AS14.12  2014-04-18     6.60       NaN
24    413  AS14.12  2014-04-19     5.80       NaN
25    414  AS14.12  2014-04-20     6.40       NaN
26    415  AS14.12  2014-04-21     6.00       NaN
27    416  AS14.12  2014-04-22     6.50       NaN
28    417  AS14.12  2014-04-23     5.80       NaN
29    418  AS14.12  2014-04-24     6.60       NaN
30    419  AS14.12  2014-04-25     6.00       NaN
31    420  AS14.12  2014-04-26     7.00       NaN
32    421  AS14.12  2014-04-27     6.00       NaN
33    422  AS14.12  2014-04-28     6.60       NaN
34    423  AS14.12  2014-04-29     6.00       NaN
35    424  AS14.12  2014-04-30     6.25       NaN
36    425  AS14.12  2014-05-01     6.20       NaN
37    426  AS14.12  2014-05-02     5.50       NaN
38    427  AS14.12  2014-05-03     5.60       NaN
39    428  AS14.12  2014-05-04     4.80       NaN
40    429  AS14.12  2014-05-05     6.00       NaN
    index       id        time   moodAvg  moodPred
0     430  AS14.13  2014-03-13  7.000000       NaN
1     431  AS14.13  2014-03-14  7.800000       NaN
2     432  AS14.13  2014-03-15  7.000000       NaN

In [0]:
for id in df_moodAvg['id'].unique():
  dfs['df_moodAvg_'+id]['moodPred'] = dfs['df_moodAvg_'+id]['moodAvg'].shift(periods=1)
  print(dfs['df_moodAvg_'+id])

    index       id        time   moodAvg  moodPred
0       0  AS14.01  2014-02-26  6.250000       NaN
1       1  AS14.01  2014-02-27  6.333333  6.250000
2       2  AS14.01  2014-03-21  6.200000  6.333333
3       3  AS14.01  2014-03-22  6.400000  6.200000
4       4  AS14.01  2014-03-23  6.800000  6.400000
5       5  AS14.01  2014-03-24  6.000000  6.800000
6       6  AS14.01  2014-03-25  6.750000  6.000000
7       7  AS14.01  2014-03-26  6.600000  6.750000
8       8  AS14.01  2014-03-27  7.000000  6.600000
9       9  AS14.01  2014-03-28  6.400000  7.000000
10     10  AS14.01  2014-03-29  8.000000  6.400000
11     11  AS14.01  2014-03-30  7.500000  8.000000
12     12  AS14.01  2014-03-31  7.400000  7.500000
13     13  AS14.01  2014-04-01  6.000000  7.400000
14     14  AS14.01  2014-04-02  6.500000  6.000000
15     15  AS14.01  2014-04-03  6.400000  6.500000
16     16  AS14.01  2014-04-04  6.200000  6.400000
17     17  AS14.01  2014-04-05  6.800000  6.200000
18     18  AS14.01  2014-04-06  6.500000  6.800000
19     19  AS14.01  2014-04-07  6.500000  6.500000
20     20  AS14.01  2014-04-08  6.600000  6.500000
21     21  AS14.01  2014-04-09  7.400000  6.600000
22     22  AS14.01  2014-04-10  7.400000  7.400000
23     23  AS14.01  2014-04-11  7.000000  7.400000
24     24  AS14.01  2014-04-12  7.250000  7.000000
25     25  AS14.01  2014-04-13  8.000000  7.250000
26     26  AS14.01  2014-04-14  7.200000  8.000000
27     27  AS14.01  2014-04-15  6.400000  7.200000
28     28  AS14.01  2014-04-16  7.200000  6.400000
29     29  AS14.01  2014-04-17  6.500000  7.200000
30     30  AS14.01  2014-04-18  6.800000  6.500000
31     31  AS14.01  2014-04-19  7.800000  6.800000
32     32  AS14.01  2014-04-20  7.250000  7.800000
33     33  AS14.01  2014-04-21  7.600000  7.250000
34     34  AS14.01  2014-04-22  7.400000  7.600000
35     35  AS14.01  2014-04-23  7.600000  7.400000
36     36  AS14.01  2014-04-24  7.600000  7.600000
37     37  AS14.01  2014-04-25  7.200000  7.600000
38     38  AS14.01  2014-04-26  7.600000  7.200000
39     39  AS14.01  2014-04-27  7.500000  7.600000
40     40  AS14.01  2014-04-28  7.600000  7.500000
41     41  AS14.01  2014-04-29  7.000000  7.600000
42     42  AS14.01  2014-04-30  7.800000  7.000000
43     43  AS14.01  2014-05-01  8.000000  7.800000
44     44  AS14.01  2014-05-02  7.600000  8.000000
45     45  AS14.01  2014-05-03  8.000000  7.600000
46     46  AS14.01  2014-05-04  8.000000  8.000000
    index       id        time   moodAvg  moodPred
0      47  AS14.02  2014-03-16  6.333333       NaN
1      48  AS14.02  2014-03-17  6.750000  6.333333
2      49  AS14.02  2014-03-18  8.200000  6.750000
3      50  AS14.02  2014-03-19  6.800000  8.200000
4      51  AS14.02  2014-03-20  7.250000  6.800000
5      52  AS14.02  2014-03-21  7.500000  7.250000
6      53  AS14.02  2014-03-22  6.500000  7.500000
7      54  AS14.02  2014-03-23  6.250000  6.500000
8      55  AS14.02  2014-03-24  6.400000  6.250000
9      56  AS14.02  2014-03-25  7.750000  6.400000
10     57  AS14.02  2014-03-26  7.200000  7.750000
11     58  AS14.02  2014-03-27  7.250000  7.200000
12     59  AS14.02  2014-03-28  6.800000  7.250000
13     60  AS14.02  2014-03-29  7.250000  6.800000
14     61  AS14.02  2014-03-30  7.000000  7.250000
15     62  AS14.02  2014-03-31  7.200000  7.000000
16     63  AS14.02  2014-04-01  7.400000  7.200000
17     64  AS14.02  2014-04-02  6.400000  7.400000
18     65  AS14.02  2014-04-03  5.750000  6.400000
19     66  AS14.02  2014-04-04  6.400000  5.750000
20     67  AS14.02  2014-04-05  7.400000  6.400000
21     68  AS14.02  2014-04-06  4.500000  7.400000
22     69  AS14.02  2014-04-07  6.800000  4.500000
23     70  AS14.02  2014-04-08  6.250000  6.800000
24     71  AS14.02  2014-04-09  7.250000  6.250000
25     72  AS14.02  2014-04-10  7.250000  7.250000
26     73  AS14.02  2014-04-11  6.500000  7.250000
27     74  AS14.02  2014-04-12  6.000000  6.500000
28     75  AS14.02  2014-04-13  7.200000  6.000000
29     76  AS14.02  2014-04-14  8.000000  7.200000
30     77  AS14.02  2014-04-15  7.250000  8.000000
31     78  AS14.02  2014-04-16  6.666667  7.250000
32     79  AS14.02  2014-04-17  6.666667  6.666667
33     80  AS14.02  2014-04-18  6.500000  6.666667
34     81  AS14.02  2014-04-19  5.666667  6.500000
35     82  AS14.02  2014-04-20  5.000000  5.666667
36     83  AS14.02  2014-04-21  6.000000  5.000000
37     84  AS14.02  2014-04-22  5.666667  6.000000
38     85  AS14.02  2014-04-23  5.500000  5.666667
39     86  AS14.02  2014-04-24  7.000000  5.500000
40     87  AS14.02  2014-04-25  9.000000  7.000000
    index       id        time   moodAvg  moodPred
0      88  AS14.03  2014-03-21  9.000000       NaN
1      89  AS14.03  2014-03-22  7.800000  9.000000
2      90  AS14.03  2014-03-23  8.200000  7.800000
3      91  AS14.03  2014-03-24  7.800000  8.200000
4      92  AS14.03  2014-03-25  7.800000  7.800000
5      93  AS14.03  2014-03-26  8.250000  7.800000
6      94  AS14.03  2014-03-27  7.750000  8.250000
7      95  AS14.03  2014-03-28  8.000000  7.750000
8      96  AS14.03  2014-03-29  8.600000  8.000000
9      97  AS14.03  2014-03-30  8.400000  8.600000
10     98  AS14.03  2014-03-31  7.400000  8.400000
11     99  AS14.03  2014-04-01  7.600000  7.400000
12    100  AS14.03  2014-04-02  7.400000  7.600000
13    101  AS14.03  2014-04-03  7.800000  7.400000
14    102  AS14.03  2014-04-04  7.800000  7.800000
15    103  AS14.03  2014-04-05  7.600000  7.800000
16    104  AS14.03  2014-04-06  6.800000  7.600000
17    105  AS14.03  2014-04-07  7.400000  6.800000
18    106  AS14.03  2014-04-08  7.400000  7.400000
19    107  AS14.03  2014-04-09  7.800000  7.400000
20    108  AS14.03  2014-04-10  7.400000  7.800000
21    109  AS14.03  2014-04-11  7.600000  7.400000
22    110  AS14.03  2014-04-12  7.666667  7.600000
23    111  AS14.03  2014-04-13  7.400000  7.666667
24    112  AS14.03  2014-04-14  7.000000  7.400000
25    113  AS14.03  2014-04-15  7.600000  7.000000
26    114  AS14.03  2014-04-16  8.000000  7.600000
27    115  AS14.03  2014-04-17  7.250000  8.000000
28    116  AS14.03  2014-04-18  7.500000  7.250000
29    117  AS14.03  2014-04-19  7.800000  7.500000
30    118  AS14.03  2014-04-20  7.500000  7.800000
31    119  AS14.03  2014-04-21  7.400000  7.500000
32    120  AS14.03  2014-04-22  7.600000  7.400000
33    121  AS14.03  2014-04-23  7.000000  7.600000
34    122  AS14.03  2014-04-24  7.400000  7.000000
35    123  AS14.03  2014-04-25  7.500000  7.400000
36    124  AS14.03  2014-04-26  7.500000  7.500000
37    125  AS14.03  2014-04-27  7.600000  7.500000
38    126  AS14.03  2014-04-28  7.000000  7.600000
39    127  AS14.03  2014-04-29  7.200000  7.000000
40    128  AS14.03  2014-04-30  7.000000  7.200000
41    129  AS14.03  2014-05-01  7.200000  7.000000
42    130  AS14.03  2014-05-02  7.600000  7.200000
43    131  AS14.03  2014-05-03  7.750000  7.600000
44    132  AS14.03  2014-05-04  7.400000  7.750000
45    133  AS14.03  2014-05-05  7.250000  7.400000
46    134  AS14.03  2014-05-07  7.666667  7.250000
    index       id        time   moodAvg  moodPred
0     135  AS14.05  2014-03-14  8.000000       NaN
1     136  AS14.05  2014-03-15  6.200000  8.000000
2     137  AS14.05  2014-03-16  6.333333  6.200000
3     138  AS14.05  2014-03-17  6.000000  6.333333
4     139  AS14.05  2014-03-18  7.500000  6.000000
5     140  AS14.05  2014-03-19  6.750000  7.500000
6     141  AS14.05  2014-03-20  7.200000  6.750000
7     142  AS14.05  2014-03-21  7.250000  7.200000
8     143  AS14.05  2014-03-22  3.750000  7.250000
9     144  AS14.05  2014-03-23  4.400000  3.750000
10    145  AS14.05  2014-03-24  3.750000  4.400000
11    146  AS14.05  2014-03-25  5.333333  3.750000
12    147  AS14.05  2014-03-26  5.500000  5.333333
13    148  AS14.05  2014-03-27  5.800000  5.500000
14    149  AS14.05  2014-03-28  6.200000  5.800000
15    150  AS14.05  2014-03-29  6.400000  6.200000
16    151  AS14.05  2014-03-30  6.200000  6.400000
17    152  AS14.05  2014-03-31  6.800000  6.200000
18    153  AS14.05  2014-04-01  7.000000  6.800000
19    154  AS14.05  2014-04-02  7.000000  7.000000
20    155  AS14.05  2014-04-03  7.200000  7.000000
21    156  AS14.05  2014-04-04  7.000000  7.200000
22    157  AS14.05  2014-04-05  7.500000  7.000000
23    158  AS14.05  2014-04-06  6.800000  7.500000
24    159  AS14.05  2014-04-07  6.750000  6.800000
25    160  AS14.05  2014-04-08  6.750000  6.750000
26    161  AS14.05  2014-04-09  7.000000  6.750000
27    162  AS14.05  2014-04-10  7.200000  7.000000
28    163  AS14.05  2014-04-11  7.000000  7.200000
29    164  AS14.05  2014-04-12  7.000000  7.000000
30    165  AS14.05  2014-04-13  7.500000  7.000000
31    166  AS14.05  2014-04-14  6.400000  7.500000
32    167  AS14.05  2014-04-15  7.000000  6.400000
33    168  AS14.05  2014-04-16  7.200000  7.000000
34    169  AS14.05  2014-04-17  6.600000  7.200000
35    170  AS14.05  2014-04-18  7.500000  6.600000
36    171  AS14.05  2014-04-19  7.200000  7.500000
37    172  AS14.05  2014-04-20  7.200000  7.200000
38    173  AS14.05  2014-04-21  7.200000  7.200000
39    174  AS14.05  2014-04-22  7.200000  7.200000
40    175  AS14.05  2014-04-23  7.200000  7.200000
41    176  AS14.05  2014-04-24  7.200000  7.200000
42    177  AS14.05  2014-04-25  7.200000  7.200000
43    178  AS14.05  2014-04-26  7.800000  7.200000
44    179  AS14.05  2014-04-27  7.400000  7.800000
45    180  AS14.05  2014-04-28  7.000000  7.400000
46    181  AS14.05  2014-04-29  6.800000  7.000000
47    182  AS14.05  2014-04-30  7.000000  6.800000
48    183  AS14.05  2014-05-01  6.800000  7.000000
49    184  AS14.05  2014-05-02  7.000000  6.800000
50    185  AS14.05  2014-05-03  6.750000  7.000000
51    186  AS14.05  2014-05-04  7.000000  6.750000
52    187  AS14.05  2014-05-05  6.333333  7.000000
    index       id        time   moodAvg  moodPred
0     188  AS14.06  2014-03-24  7.000000       NaN
1     189  AS14.06  2014-03-25  7.000000  7.000000
2     190  AS14.06  2014-03-26  8.000000  7.000000
3     191  AS14.06  2014-03-27  7.000000  8.000000
4     192  AS14.06  2014-03-28  7.600000  7.000000
5     193  AS14.06  2014-03-29  7.800000  7.600000
6     194  AS14.06  2014-03-30  7.800000  7.800000
7     195  AS14.06  2014-03-31  7.000000  7.800000
8     196  AS14.06  2014-04-01  7.750000  7.000000
9     197  AS14.06  2014-04-02  6.800000  7.750000
10    198  AS14.06  2014-04-03  7.200000  6.800000
11    199  AS14.06  2014-04-04  7.000000  7.200000
12    200  AS14.06  2014-04-05  7.000000  7.000000
13    201  AS14.06  2014-04-06  7.000000  7.000000
14    202  AS14.06  2014-04-07  6.200000  7.000000
15    203  AS14.06  2014-04-08  6.600000  6.200000
16    204  AS14.06  2014-04-09  7.400000  6.600000
17    205  AS14.06  2014-04-10  7.600000  7.400000
18    206  AS14.06  2014-04-11  7.800000  7.600000
19    207  AS14.06  2014-04-12  8.200000  7.800000
20    208  AS14.06  2014-04-13  6.333333  8.200000
21    209  AS14.06  2014-04-14  7.250000  6.333333
22    210  AS14.06  2014-04-15  7.000000  7.250000
23    211  AS14.06  2014-04-16  7.600000  7.000000
24    212  AS14.06  2014-04-17  6.800000  7.600000
25    213  AS14.06  2014-04-18  6.250000  6.800000
26    214  AS14.06  2014-04-19  6.800000  6.250000
27    215  AS14.06  2014-04-20  8.200000  6.800000
28    216  AS14.06  2014-04-21  7.000000  8.200000
29    217  AS14.06  2014-04-22  6.600000  7.000000
30    218  AS14.06  2014-04-23  7.000000  6.600000
31    219  AS14.06  2014-04-24  7.750000  7.000000
32    220  AS14.06  2014-04-25  6.400000  7.750000
33    221  AS14.06  2014-04-26  7.500000  6.400000
34    222  AS14.06  2014-04-27  7.200000  7.500000
35    223  AS14.06  2014-04-28  6.750000  7.200000
36    224  AS14.06  2014-04-29  7.250000  6.750000
37    225  AS14.06  2014-04-30  6.800000  7.250000
38    226  AS14.06  2014-05-01  8.000000  6.800000
39    227  AS14.06  2014-05-02  7.200000  8.000000
40    228  AS14.06  2014-05-03  6.250000  7.200000
41    229  AS14.06  2014-05-04  7.600000  6.250000
42    230  AS14.06  2014-05-05  7.000000  7.600000
43    231  AS14.06  2014-05-07  6.750000  7.000000
44    232  AS14.06  2014-05-08  7.000000  6.750000
    index       id        time   moodAvg  moodPred
0     233  AS14.07  2014-03-19  6.800000       NaN
1     234  AS14.07  2014-03-20  5.250000  6.800000
2     235  AS14.07  2014-03-21  7.000000  5.250000
3     236  AS14.07  2014-03-22  6.000000  7.000000
4     237  AS14.07  2014-03-23  7.750000  6.000000
5     238  AS14.07  2014-03-24  8.000000  7.750000
6     239  AS14.07  2014-03-25  7.666667  8.000000
7     240  AS14.07  2014-03-26  6.600000  7.666667
8     241  AS14.07  2014-03-27  6.800000  6.600000
9     242  AS14.07  2014-03-28  8.250000  6.800000
10    243  AS14.07  2014-03-29  7.000000  8.250000
11    244  AS14.07  2014-03-30  6.200000  7.000000
12    245  AS14.07  2014-03-31  4.333333  6.200000
13    246  AS14.07  2014-04-01  6.600000  4.333333
14    247  AS14.07  2014-04-02  5.500000  6.600000
15    248  AS14.07  2014-04-03  6.200000  5.500000
16    249  AS14.07  2014-04-04  6.500000  6.200000
17    250  AS14.07  2014-04-05  6.000000  6.500000
18    251  AS14.07  2014-04-06  6.750000  6.000000
19    252  AS14.07  2014-04-07  5.400000  6.750000
20    253  AS14.07  2014-04-08  6.800000  5.400000
21    254  AS14.07  2014-04-09  6.400000  6.800000
22    255  AS14.07  2014-04-10  6.200000  6.400000
23    256  AS14.07  2014-04-11  3.500000  6.200000
24    257  AS14.07  2014-04-12  6.400000  3.500000
25    258  AS14.07  2014-04-13  6.500000  6.400000
26    259  AS14.07  2014-04-14  6.200000  6.500000
27    260  AS14.07  2014-04-15  6.000000  6.200000
28    261  AS14.07  2014-04-16  4.750000  6.000000
29    262  AS14.07  2014-04-17  3.800000  4.750000
30    263  AS14.07  2014-04-18  5.200000  3.800000
31    264  AS14.07  2014-04-19  7.000000  5.200000
32    265  AS14.07  2014-04-20  3.000000  7.000000
33    266  AS14.07  2014-04-21  6.600000  3.000000
34    267  AS14.07  2014-04-22  6.000000  6.600000
35    268  AS14.07  2014-04-23  6.000000  6.000000
36    269  AS14.07  2014-04-24  5.600000  6.000000
37    270  AS14.07  2014-04-25  3.333333  5.600000
38    271  AS14.07  2014-04-26  5.400000  3.333333
39    272  AS14.07  2014-04-27  6.000000  5.400000
40    273  AS14.07  2014-04-28  6.750000  6.000000
41    274  AS14.07  2014-04-29  5.000000  6.750000
42    275  AS14.07  2014-04-30  5.000000  5.000000
43    276  AS14.07  2014-05-01  5.000000  5.000000
44    277  AS14.07  2014-05-02  6.200000  5.000000
45    278  AS14.07  2014-05-03  5.666667  6.200000
46    279  AS14.07  2014-05-04  8.000000  5.666667
47    280  AS14.07  2014-05-05  5.500000  8.000000
    index       id        time   moodAvg  moodPred
0     281  AS14.08  2014-03-05  6.333333       NaN
1     282  AS14.08  2014-03-06  7.200000  6.333333
2     283  AS14.08  2014-03-07  7.400000  7.200000
3     284  AS14.08  2014-03-08  7.000000  7.400000
4     285  AS14.08  2014-03-09  7.200000  7.000000
..    ...      ...         ...       ...       ...
57    338  AS14.08  2014-05-01  7.000000  6.666667
58    339  AS14.08  2014-05-02  7.200000  7.000000
59    340  AS14.08  2014-05-03  7.400000  7.200000
60    341  AS14.08  2014-05-04  6.800000  7.400000
61    342  AS14.08  2014-05-05  6.666667  6.800000

[62 rows x 5 columns]
    index       id        time   moodAvg  moodPred
0     343  AS14.09  2014-03-21  7.000000       NaN
1     344  AS14.09  2014-03-22  7.000000  7.000000
2     345  AS14.09  2014-03-23  6.750000  7.000000
3     346  AS14.09  2014-03-24  7.250000  6.750000
4     347  AS14.09  2014-03-25  6.200000  7.250000
5     348  AS14.09  2014-03-26  7.750000  6.200000
6     349  AS14.09  2014-03-27  7.800000  7.750000
7     350  AS14.09  2014-03-28  8.250000  7.800000
8     351  AS14.09  2014-03-29  8.000000  8.250000
9     352  AS14.09  2014-03-30  7.750000  8.000000
10    353  AS14.09  2014-03-31  7.000000  7.750000
11    354  AS14.09  2014-04-01  7.600000  7.000000
12    355  AS14.09  2014-04-02  6.200000  7.600000
13    356  AS14.09  2014-04-03  7.600000  6.200000
14    357  AS14.09  2014-04-04  7.250000  7.600000
15    358  AS14.09  2014-04-05  7.500000  7.250000
16    359  AS14.09  2014-04-06  6.800000  7.500000
17    360  AS14.09  2014-04-07  6.200000  6.800000
18    361  AS14.09  2014-04-08  7.200000  6.200000
19    362  AS14.09  2014-04-09  6.500000  7.200000
20    363  AS14.09  2014-04-10  6.000000  6.500000
21    364  AS14.09  2014-04-11  6.800000  6.000000
22    365  AS14.09  2014-04-12  7.000000  6.800000
23    366  AS14.09  2014-04-13  6.000000  7.000000
24    367  AS14.09  2014-04-14  5.800000  6.000000
25    368  AS14.09  2014-04-15  6.000000  5.800000
26    369  AS14.09  2014-04-16  5.500000  6.000000
27    370  AS14.09  2014-04-17  7.000000  5.500000
28    371  AS14.09  2014-04-18  6.600000  7.000000
29    372  AS14.09  2014-04-19  8.000000  6.600000
30    373  AS14.09  2014-04-20  6.250000  8.000000
31    374  AS14.09  2014-04-21  6.500000  6.250000
32    375  AS14.09  2014-04-22  6.600000  6.500000
33    376  AS14.09  2014-04-23  6.333333  6.600000
34    377  AS14.09  2014-04-24  7.200000  6.333333
35    378  AS14.09  2014-04-25  7.250000  7.200000
36    379  AS14.09  2014-04-26  8.000000  7.250000
37    380  AS14.09  2014-04-27  6.250000  8.000000
38    381  AS14.09  2014-04-28  6.600000  6.250000
39    382  AS14.09  2014-04-29  6.750000  6.600000
40    383  AS14.09  2014-04-30  7.000000  6.750000
41    384  AS14.09  2014-05-01  7.500000  7.000000
42    385  AS14.09  2014-05-02  7.600000  7.500000
43    386  AS14.09  2014-05-03  7.750000  7.600000
44    387  AS14.09  2014-05-04  6.600000  7.750000
45    388  AS14.09  2014-05-05  6.000000  6.600000
    index       id        time  moodAvg  moodPred
0     389  AS14.12  2014-03-15     5.50       NaN
1     390  AS14.12  2014-03-27     7.00      5.50
2     391  AS14.12  2014-03-28     6.75      7.00
3     392  AS14.12  2014-03-29     6.75      6.75
4     393  AS14.12  2014-03-30     5.75      6.75
5     394  AS14.12  2014-03-31     6.40      5.75
6     395  AS14.12  2014-04-01     6.40      6.40
7     396  AS14.12  2014-04-02     6.00      6.40
8     397  AS14.12  2014-04-03     5.40      6.00
9     398  AS14.12  2014-04-04     6.50      5.40
10    399  AS14.12  2014-04-05     6.20      6.50
11    400  AS14.12  2014-04-06     6.25      6.20
12    401  AS14.12  2014-04-07     6.40      6.25
13    402  AS14.12  2014-04-08     6.25      6.40
14    403  AS14.12  2014-04-09     5.25      6.25
15    404  AS14.12  2014-04-10     6.40      5.25
16    405  AS14.12  2014-04-11     6.60      6.40
17    406  AS14.12  2014-04-12     6.80      6.60
18    407  AS14.12  2014-04-13     5.60      6.80
19    408  AS14.12  2014-04-14     6.60      5.60
20    409  AS14.12  2014-04-15     6.80      6.60
21    410  AS14.12  2014-04-16     7.00      6.80
22    411  AS14.12  2014-04-17     6.80      7.00
23    412  AS14.12  2014-04-18     6.60      6.80
24    413  AS14.12  2014-04-19     5.80      6.60
25    414  AS14.12  2014-04-20     6.40      5.80
26    415  AS14.12  2014-04-21     6.00      6.40
27    416  AS14.12  2014-04-22     6.50      6.00
28    417  AS14.12  2014-04-23     5.80      6.50
29    418  AS14.12  2014-04-24     6.60      5.80
30    419  AS14.12  2014-04-25     6.00      6.60
31    420  AS14.12  2014-04-26     7.00      6.00
32    421  AS14.12  2014-04-27     6.00      7.00
33    422  AS14.12  2014-04-28     6.60      6.00
34    423  AS14.12  2014-04-29     6.00      6.60
35    424  AS14.12  2014-04-30     6.25      6.00
36    425  AS14.12  2014-05-01     6.20      6.25
37    426  AS14.12  2014-05-02     5.50      6.20
38    427  AS14.12  2014-05-03     5.60      5.50
39    428  AS14.12  2014-05-04     4.80      5.60
40    429  AS14.12  2014-05-05     6.00      4.80
    index       id        time   moodAvg  moodPred
0     430  AS14.13  2014-03-13  7.000000       NaN
1     431  AS14.13  2014-03-14  7.800000  7.000000
2     432  AS14.13  2014-03-15  7.000000  7.800000

In [0]:
for id in df_moodAvg['id'].unique():
  print(dfs['df_moodAvg_'+id].shape[0])
  print(int(dfs['df_moodAvg_'+id].shape[0]/5))
  print('-----')

47
9
-----
41
8
-----
47
9
-----
53
10
-----
45
9
-----
48
9
-----
62
12
-----
46
9
-----
41
8
-----
53
10
-----
44
8
-----
55
11
-----
53
10
-----
56
11
-----
46
9
-----
47
9
-----
39
7
-----
55
11
-----
30
6
-----
68
13
-----
42
8
-----
38
7
-----
42
8
-----
47
9
-----
43
8
-----
37
7
-----
43
8
-----

In [0]:
for id in df_moodAvg['id'].unique():
  print(dfs['df_moodAvg_'+id].tail(int(dfs['df_moodAvg_'+id].shape[0]/5)))
  print('-----')

    index       id        time  moodAvg  moodPred
38     38  AS14.01  2014-04-26      7.6       7.2
39     39  AS14.01  2014-04-27      7.5       7.6
40     40  AS14.01  2014-04-28      7.6       7.5
41     41  AS14.01  2014-04-29      7.0       7.6
42     42  AS14.01  2014-04-30      7.8       7.0
43     43  AS14.01  2014-05-01      8.0       7.8
44     44  AS14.01  2014-05-02      7.6       8.0
45     45  AS14.01  2014-05-03      8.0       7.6
46     46  AS14.01  2014-05-04      8.0       8.0
-----
    index       id        time   moodAvg  moodPred
33     80  AS14.02  2014-04-18  6.500000  6.666667
34     81  AS14.02  2014-04-19  5.666667  6.500000
35     82  AS14.02  2014-04-20  5.000000  5.666667
36     83  AS14.02  2014-04-21  6.000000  5.000000
37     84  AS14.02  2014-04-22  5.666667  6.000000
38     85  AS14.02  2014-04-23  5.500000  5.666667
39     86  AS14.02  2014-04-24  7.000000  5.500000
40     87  AS14.02  2014-04-25  9.000000  7.000000
-----
    index       id        time   moodAvg  moodPred
38    126  AS14.03  2014-04-28  7.000000      7.60
39    127  AS14.03  2014-04-29  7.200000      7.00
40    128  AS14.03  2014-04-30  7.000000      7.20
41    129  AS14.03  2014-05-01  7.200000      7.00
42    130  AS14.03  2014-05-02  7.600000      7.20
43    131  AS14.03  2014-05-03  7.750000      7.60
44    132  AS14.03  2014-05-04  7.400000      7.75
45    133  AS14.03  2014-05-05  7.250000      7.40
46    134  AS14.03  2014-05-07  7.666667      7.25
-----
    index       id        time   moodAvg  moodPred
43    178  AS14.05  2014-04-26  7.800000      7.20
44    179  AS14.05  2014-04-27  7.400000      7.80
45    180  AS14.05  2014-04-28  7.000000      7.40
46    181  AS14.05  2014-04-29  6.800000      7.00
47    182  AS14.05  2014-04-30  7.000000      6.80
48    183  AS14.05  2014-05-01  6.800000      7.00
49    184  AS14.05  2014-05-02  7.000000      6.80
50    185  AS14.05  2014-05-03  6.750000      7.00
51    186  AS14.05  2014-05-04  7.000000      6.75
52    187  AS14.05  2014-05-05  6.333333      7.00
-----
    index       id        time  moodAvg  moodPred
36    224  AS14.06  2014-04-29     7.25      6.75
37    225  AS14.06  2014-04-30     6.80      7.25
38    226  AS14.06  2014-05-01     8.00      6.80
39    227  AS14.06  2014-05-02     7.20      8.00
40    228  AS14.06  2014-05-03     6.25      7.20
41    229  AS14.06  2014-05-04     7.60      6.25
42    230  AS14.06  2014-05-05     7.00      7.60
43    231  AS14.06  2014-05-07     6.75      7.00
44    232  AS14.06  2014-05-08     7.00      6.75
-----
    index       id        time   moodAvg  moodPred
39    272  AS14.07  2014-04-27  6.000000  5.400000
40    273  AS14.07  2014-04-28  6.750000  6.000000
41    274  AS14.07  2014-04-29  5.000000  6.750000
42    275  AS14.07  2014-04-30  5.000000  5.000000
43    276  AS14.07  2014-05-01  5.000000  5.000000
44    277  AS14.07  2014-05-02  6.200000  5.000000
45    278  AS14.07  2014-05-03  5.666667  6.200000
46    279  AS14.07  2014-05-04  8.000000  5.666667
47    280  AS14.07  2014-05-05  5.500000  8.000000
-----
    index       id        time   moodAvg  moodPred
50    331  AS14.08  2014-04-24  6.666667  5.600000
51    332  AS14.08  2014-04-25  6.333333  6.666667
52    333  AS14.08  2014-04-26  6.000000  6.333333
53    334  AS14.08  2014-04-27  6.000000  6.000000
54    335  AS14.08  2014-04-28  5.800000  6.000000
55    336  AS14.08  2014-04-29  5.750000  5.800000
56    337  AS14.08  2014-04-30  6.666667  5.750000
57    338  AS14.08  2014-05-01  7.000000  6.666667
58    339  AS14.08  2014-05-02  7.200000  7.000000
59    340  AS14.08  2014-05-03  7.400000  7.200000
60    341  AS14.08  2014-05-04  6.800000  7.400000
61    342  AS14.08  2014-05-05  6.666667  6.800000
-----
    index       id        time  moodAvg  moodPred
37    380  AS14.09  2014-04-27     6.25      8.00
38    381  AS14.09  2014-04-28     6.60      6.25
39    382  AS14.09  2014-04-29     6.75      6.60
40    383  AS14.09  2014-04-30     7.00      6.75
41    384  AS14.09  2014-05-01     7.50      7.00
42    385  AS14.09  2014-05-02     7.60      7.50
43    386  AS14.09  2014-05-03     7.75      7.60
44    387  AS14.09  2014-05-04     6.60      7.75
45    388  AS14.09  2014-05-05     6.00      6.60
-----
    index       id        time  moodAvg  moodPred
33    422  AS14.12  2014-04-28     6.60      6.00
34    423  AS14.12  2014-04-29     6.00      6.60
35    424  AS14.12  2014-04-30     6.25      6.00
36    425  AS14.12  2014-05-01     6.20      6.25
37    426  AS14.12  2014-05-02     5.50      6.20
38    427  AS14.12  2014-05-03     5.60      5.50
39    428  AS14.12  2014-05-04     4.80      5.60
40    429  AS14.12  2014-05-05     6.00      4.80
-----
    index       id        time   moodAvg  moodPred
43    473  AS14.13  2014-04-25  7.750000  7.666667
44    474  AS14.13  2014-04-26  8.800000  7.750000
45    475  AS14.13  2014-04-27  8.000000  8.800000
46    476  AS14.13  2014-04-28  8.166667  8.000000
47    477  AS14.13  2014-04-29  8.500000  8.166667
48    478  AS14.13  2014-04-30  7.833333  8.500000
49    479  AS14.13  2014-05-01  8.333333  7.833333
50    480  AS14.13  2014-05-02  8.000000  8.333333
51    481  AS14.13  2014-05-03  7.250000  8.000000
52    482  AS14.13  2014-05-04  8.000000  7.250000
-----
    index       id        time   moodAvg  moodPred
36    519  AS14.14  2014-04-26  8.000000  8.000000
37    520  AS14.14  2014-04-27  7.666667  8.000000
38    521  AS14.14  2014-04-30  7.000000  7.666667
39    522  AS14.14  2014-05-01  6.000000  7.000000
40    523  AS14.14  2014-05-02  6.666667  6.000000
41    524  AS14.14  2014-05-03  6.800000  6.666667
42    525  AS14.14  2014-05-04  6.800000  6.800000
43    526  AS14.14  2014-05-05  7.000000  6.800000
-----
    index       id        time  moodAvg  moodPred
44    571  AS14.15  2014-04-27      7.0       6.2
45    572  AS14.15  2014-04-28      7.0       7.0
46    573  AS14.15  2014-04-29      7.0       7.0
47    574  AS14.15  2014-04-30      6.0       7.0
48    575  AS14.15  2014-05-01      6.6       6.0
49    576  AS14.15  2014-05-02      7.0       6.6
50    577  AS14.15  2014-05-03      6.8       7.0
51    578  AS14.15  2014-05-04      7.0       6.8
52    579  AS14.15  2014-05-05      7.0       7.0
53    580  AS14.15  2014-05-07      7.0       7.0
54    581  AS14.15  2014-05-08      7.0       7.0
-----
    index       id        time   moodAvg  moodPred
43    625  AS14.16  2014-04-25  7.200000      5.40
44    626  AS14.16  2014-04-26  6.750000      7.20
45    627  AS14.16  2014-04-27  7.200000      6.75
46    628  AS14.16  2014-04-28  8.000000      7.20
47    629  AS14.16  2014-04-29  7.000000      8.00
48    630  AS14.16  2014-04-30  7.000000      7.00
49    631  AS14.16  2014-05-01  7.000000      7.00
50    632  AS14.16  2014-05-02  8.000000      7.00
51    633  AS14.16  2014-05-04  7.000000      8.00
52    634  AS14.16  2014-05-05  7.333333      7.00
-----
    index       id        time   moodAvg  moodPred
45    680  AS14.17  2014-04-24  7.200000  7.250000
46    681  AS14.17  2014-04-25  7.200000  7.200000
47    682  AS14.17  2014-04-26  8.000000  7.200000
48    683  AS14.17  2014-04-27  7.200000  8.000000
49    684  AS14.17  2014-04-28  6.750000  7.200000
50    685  AS14.17  2014-04-29  7.000000  6.750000
51    686  AS14.17  2014-04-30  7.000000  7.000000
52    687  AS14.17  2014-05-01  8.000000  7.000000
53    688  AS14.17  2014-05-02  7.000000  8.000000
54    689  AS14.17  2014-05-03  7.333333  7.000000
55    690  AS14.17  2014-05-05  7.500000  7.333333
-----
    index       id        time   moodAvg  moodPred
37    728  AS14.19  2014-04-27  6.333333  7.750000
38    729  AS14.19  2014-04-28  6.400000  6.333333
39    730  AS14.19  2014-04-29  7.200000  6.400000
40    731  AS14.19  2014-04-30  7.000000  7.200000
41    732  AS14.19  2014-05-01  6.800000  7.000000
42    733  AS14.19  2014-05-02  7.800000  6.800000
43    734  AS14.19  2014-05-03  7.400000  7.800000
44    735  AS14.19  2014-05-04  6.600000  7.400000
45    736  AS14.19  2014-05-05  7.000000  6.600000
-----
    index       id        time   moodAvg  moodPred
38    775  AS14.20  2014-04-27  6.800000  7.000000
39    776  AS14.20  2014-04-28  6.800000  6.800000
40    777  AS14.20  2014-04-29  7.250000  6.800000
41    778  AS14.20  2014-04-30  7.000000  7.250000
42    779  AS14.20  2014-05-01  7.000000  7.000000
43    780  AS14.20  2014-05-02  7.200000  7.000000
44    781  AS14.20  2014-05-03  6.750000  7.200000
45    782  AS14.20  2014-05-04  7.333333  6.750000
46    783  AS14.20  2014-05-05  7.000000  7.333333
-----
    index       id        time  moodAvg  moodPred
32    816  AS14.23  2014-04-24      7.4       7.0
33    817  AS14.23  2014-04-25      7.8       7.4
34    818  AS14.23  2014-04-26      7.5       7.8
35    819  AS14.23  2014-04-27      7.0       7.5
36    820  AS14.23  2014-04-28      7.6       7.0
37    821  AS14.23  2014-04-29      7.4       7.6
38    822  AS14.23  2014-04-30      9.0       7.4
-----
    index       id        time   moodAvg  moodPred
44    867  AS14.24  2014-05-29  7.000000  6.600000
45    868  AS14.24  2014-05-30  7.400000  7.000000
46    869  AS14.24  2014-05-31  7.000000  7.400000
47    870  AS14.24  2014-06-01  6.833333  7.000000
48    871  AS14.24  2014-06-02  6.750000  6.833333
49    872  AS14.24  2014-06-03  7.800000  6.750000
50    873  AS14.24  2014-06-04  7.000000  7.800000
51    874  AS14.24  2014-06-05  7.000000  7.000000
52    875  AS14.24  2014-06-06  7.500000  7.000000
53    876  AS14.24  2014-06-07  8.000000  7.500000
54    877  AS14.24  2014-06-08  6.500000  8.000000
-----
    index       id        time   moodAvg  moodPred
24    902  AS14.25  2014-05-02  6.500000  7.000000
25    903  AS14.25  2014-05-03  6.250000  6.500000
26    904  AS14.25  2014-05-04  7.200000  6.250000
27    905  AS14.25  2014-05-05  6.666667  7.200000
28    906  AS14.25  2014-05-07  6.800000  6.666667
29    907  AS14.25  2014-05-08  7.000000  6.800000
-----
    index       id        time  moodAvg  moodPred
55    963  AS14.26  2014-05-18      7.2       7.4
56    964  AS14.26  2014-05-19      7.4       7.2
57    965  AS14.26  2014-05-20      7.6       7.4
58    966  AS14.26  2014-05-21      7.0       7.6
59    967  AS14.26  2014-05-22      6.6       7.0
60    968  AS14.26  2014-05-23      6.2       6.6
61    969  AS14.26  2014-05-24      7.6       6.2
62    970  AS14.26  2014-05-25      8.0       7.6
63    971  AS14.26  2014-05-26      7.2       8.0
64    972  AS14.26  2014-05-27      5.8       7.2
65    973  AS14.26  2014-05-28      5.4       5.8
66    974  AS14.26  2014-05-29      7.4       5.4
67    975  AS14.26  2014-05-30      6.4       7.4
-----
    index       id        time  moodAvg  moodPred
34   1010  AS14.27  2014-05-08      7.0       7.8
35   1011  AS14.27  2014-05-09      6.4       7.0
36   1012  AS14.27  2014-05-10      6.6       6.4
37   1013  AS14.27  2014-05-11      7.0       6.6
38   1014  AS14.27  2014-05-12      7.8       7.0
39   1015  AS14.27  2014-05-13      6.8       7.8
40   1016  AS14.27  2014-05-14      7.5       6.8
41   1017  AS14.27  2014-05-15      7.0       7.5
-----
    index       id        time   moodAvg  moodPred
31   1049  AS14.28  2014-05-01  6.400000  6.200000
32   1050  AS14.28  2014-05-02  6.800000  6.400000
33   1051  AS14.28  2014-05-03  7.400000  6.800000
34   1052  AS14.28  2014-05-04  6.800000  7.400000
35   1053  AS14.28  2014-05-05  7.000000  6.800000
36   1054  AS14.28  2014-05-07  6.333333  7.000000
37   1055  AS14.28  2014-05-08  6.500000  6.333333
-----
    index       id        time  moodAvg  moodPred
34   1090  AS14.29  2014-05-08      7.8       7.8
35   1091  AS14.29  2014-05-09      7.4       7.8
36   1092  AS14.29  2014-05-10      7.0       7.4
37   1093  AS14.29  2014-05-11      7.0       7.0
38   1094  AS14.29  2014-05-12      7.6       7.0
39   1095  AS14.29  2014-05-13      8.2       7.6
40   1096  AS14.29  2014-05-14      7.6       8.2
41   1097  AS14.29  2014-05-15      6.0       7.6
-----
    index       id        time  moodAvg  moodPred
38   1136  AS14.30  2014-04-27      7.8       7.8
39   1137  AS14.30  2014-04-28      8.0       7.8
40   1138  AS14.30  2014-04-29      8.0       8.0
41   1139  AS14.30  2014-04-30      7.8       8.0
42   1140  AS14.30  2014-05-01      8.2       7.8
43   1141  AS14.30  2014-05-02      8.0       8.2
44   1142  AS14.30  2014-05-03      7.8       8.0
45   1143  AS14.30  2014-05-04      7.8       7.8
46   1144  AS14.30  2014-05-05      8.0       7.8
-----
    index       id        time   moodAvg  moodPred
35   1180  AS14.31  2014-05-08  7.000000  6.750000
36   1181  AS14.31  2014-05-09  7.000000  7.000000
37   1182  AS14.31  2014-05-10  7.333333  7.000000
38   1183  AS14.31  2014-05-11  7.000000  7.333333
39   1184  AS14.31  2014-05-12  7.000000  7.000000
40   1185  AS14.31  2014-05-13  7.000000  7.000000
41   1186  AS14.31  2014-05-14  7.000000  7.000000
42   1187  AS14.31  2014-05-15  7.000000  7.000000
-----
    index       id        time  moodAvg  moodPred
30   1218  AS14.32  2014-05-05     7.00  8.666667
31   1219  AS14.32  2014-05-07     6.00  7.000000
32   1220  AS14.32  2014-05-08     6.00  6.000000
33   1221  AS14.32  2014-05-09     7.75  6.000000
34   1222  AS14.32  2014-05-10     7.25  7.750000
35   1223  AS14.32  2014-05-11     7.20  7.250000
36   1224  AS14.32  2014-05-12     7.20  7.200000
-----
    index       id        time  moodAvg  moodPred
35   1260  AS14.33  2014-05-24     6.40  5.833333
36   1261  AS14.33  2014-05-25     6.25  6.400000
37   1262  AS14.33  2014-05-26     5.40  6.250000
38   1263  AS14.33  2014-05-27     6.20  5.400000
39   1264  AS14.33  2014-05-28     8.20  6.200000
40   1265  AS14.33  2014-05-29     7.00  8.200000
41   1266  AS14.33  2014-05-30     6.80  7.000000
42   1267  AS14.33  2014-05-31     7.00  6.800000
-----

In [0]:
y = dfs['df_moodAvg_AS14.01'].tail(int(dfs['df_moodAvg_AS14.01'].shape[0]/5)).loc[:,'moodPred']

In [0]:
x = dfs['df_moodAvg_AS14.01'].tail(int(dfs['df_moodAvg_AS14.01'].shape[0]/5)).loc[:,'moodAvg']

In [31]:
import statsmodels.api as sm

model = sm.OLS(y, x)
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:               moodPred   R-squared (uncentered):                   0.997
Model:                            OLS   Adj. R-squared (uncentered):              0.997
Method:                 Least Squares   F-statistic:                              2853.
Date:                Sat, 04 Apr 2020   Prob (F-statistic):                    1.67e-11
Time:                        13:59:44   Log-Likelihood:                         -4.5602
No. Observations:                   9   AIC:                                      11.12
Df Residuals:                       8   BIC:                                      11.32
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
moodAvg        0.9871      0.018     53.416      0.000       0.944       1.030
==============================================================================
Omnibus:                        0.010   Durbin-Watson:                   2.898
Prob(Omnibus):                  0.995   Jarque-Bera (JB):                0.172
Skew:                           0.035   Prob(JB):                        0.917
Kurtosis:                       2.326   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))

In [32]:
from sklearn.metrics import mean_squared_error as mse

mse(y,x)

0.17111111111111102

In [34]:
for id in df_moodAvg['id'].unique():
  print(mse(dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodPred'],dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodAvg']))
  print('-----')

0.17111111111111102
-----
1.0694444444444444
-----
0.10901234567901232
-----
0.14094444444444446
-----
0.6380555555555555
-----
1.9337654320987652
-----
0.23430555555555577
-----
0.5816666666666667
-----
0.4206249999999999
-----
0.38188888888888933
-----
0.2572222222222223
-----
0.20363636363636362
-----
0.739611111111111
-----
0.33512626262626255
-----
0.5212654320987656
-----
0.11098765432098763
-----
0.5171428571428568
-----
0.4552020202020202
-----
0.25953703703703707
-----
0.8215384615384613
-----
0.4474999999999999
-----
0.20460317460317484
-----
0.49499999999999966
-----
0.03999999999999995
-----
0.03559027777777773
-----
1.013253968253968
-----
0.9032638888888882
-----