<a href="https://colab.research.google.com/github/guybrush1989/DMT-Group80/blob/master/benchmark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls '/content/drive/My Drive/Group 80 - DTM/assignment1/'

 assignment_1_advanced.pdf    'General Summary.gdoc'   Report.gdoc
 dataset_mood_smartphone.csv   Log.gdoc

In [0]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Group 80 - DTM/assignment1/dataset_mood_smartphone.csv')

In [50]:
df.head(5)

        id                     time variable  value
0  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [0]:
df = df[['id','time','variable','value']]

In [0]:
df_mood = df.loc[df['variable'] == 'mood']
df_mood

In [0]:
import numpy as np

df_mood = df_mood.drop(columns=['variable'])
df_mood = df_mood.rename(columns={'value':'mood'})

df_mood['moodAvg'] = np.nan
df_mood['moodPred'] = np.nan

In [155]:
for index in df_mood.index:
  df_mood.iloc[index,1] = pd.to_datetime(df_mood.iloc[index,1]).date()

df_mood

           id        time  mood  moodAvg  moodPred
0     AS14.01  2014-02-26   6.0      NaN       NaN
1     AS14.01  2014-02-26   6.0      NaN       NaN
2     AS14.01  2014-02-26   6.0      NaN       NaN
3     AS14.01  2014-02-26   7.0      NaN       NaN
4     AS14.01  2014-02-27   6.0      NaN       NaN
...       ...         ...   ...      ...       ...
5636  AS14.33  2014-05-30   8.0      NaN       NaN
5637  AS14.33  2014-05-30   6.0      NaN       NaN
5638  AS14.33  2014-05-30   8.0      NaN       NaN
5639  AS14.33  2014-05-30   6.0      NaN       NaN
5640  AS14.33  2014-05-31   7.0      NaN       NaN

[5641 rows x 5 columns]

In [135]:
#df_inter = df_mood.loc[df_mood['id']==df_mood.iloc[0,0]][df_mood['time']==df_mood.iloc[0,1]]['value']
#df_inter.agg('mean')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

6.25

In [136]:
df_mood.loc[df_mood['id']==df_mood.iloc[0,0]][df_mood['time']==df_mood.iloc[0,1]]['value'].agg('mean')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

6.25

In [157]:
for index in df_mood.index:
  df_mood.iloc[index,3] = df_mood.loc[df_mood['id']==df_mood.iloc[index,0]][df_mood['time']==df_mood.iloc[index,1]]['mood'].agg('mean')

df_mood

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

           id        time  mood   moodAvg  moodPred
0     AS14.01  2014-02-26   6.0  6.250000       NaN
1     AS14.01  2014-02-26   6.0  6.250000       NaN
2     AS14.01  2014-02-26   6.0  6.250000       NaN
3     AS14.01  2014-02-26   7.0  6.250000       NaN
4     AS14.01  2014-02-27   6.0  6.333333       NaN
...       ...         ...   ...       ...       ...
5636  AS14.33  2014-05-30   8.0  6.800000       NaN
5637  AS14.33  2014-05-30   6.0  6.800000       NaN
5638  AS14.33  2014-05-30   8.0  6.800000       NaN
5639  AS14.33  2014-05-30   6.0  6.800000       NaN
5640  AS14.33  2014-05-31   7.0  7.000000       NaN

[5641 rows x 5 columns]

In [170]:
df_moodAvg = df_mood.drop(columns=['mood'])
df_moodAvg = df_moodAvg.drop_duplicates(subset=['id','time'])
df_moodAvg

ERROR! Session/line number was not unique in database. History logging moved to new session 68

           id        time   moodAvg  moodPred
0     AS14.01  2014-02-26  6.250000       NaN
4     AS14.01  2014-02-27  6.333333       NaN
7     AS14.01  2014-03-21  6.200000       NaN
12    AS14.01  2014-03-22  6.400000       NaN
17    AS14.01  2014-03-23  6.800000       NaN
...       ...         ...       ...       ...
5622  AS14.33  2014-05-27  6.200000       NaN
5627  AS14.33  2014-05-28  8.200000       NaN
5632  AS14.33  2014-05-29  7.000000       NaN
5635  AS14.33  2014-05-30  6.800000       NaN
5640  AS14.33  2014-05-31  7.000000       NaN

[1268 rows x 4 columns]

In [211]:
df_moodAvg['moodPred'] = np.nan
df_moodAvg

           id        time   moodAvg  moodPred
0     AS14.01  2014-02-26  6.250000       NaN
4     AS14.01  2014-02-27  6.333333       NaN
7     AS14.01  2014-03-21  6.200000       NaN
12    AS14.01  2014-03-22  6.400000       NaN
17    AS14.01  2014-03-23  6.800000       NaN
...       ...         ...       ...       ...
5622  AS14.33  2014-05-27  6.200000       NaN
5627  AS14.33  2014-05-28  8.200000       NaN
5632  AS14.33  2014-05-29  7.000000       NaN
5635  AS14.33  2014-05-30  6.800000       NaN
5640  AS14.33  2014-05-31  7.000000       NaN

[1268 rows x 4 columns]

In [172]:
df_moodAvg['id'].unique()

array(['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07',
       'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15',
       'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24',
       'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30',
       'AS14.31', 'AS14.32', 'AS14.33'], dtype=object)

In [212]:
dfs = {'df_moodAvg_' + str(df_moodAvg['id'].unique()[i]):df_moodAvg.loc[df_moodAvg['id'] == df_moodAvg['id'].unique()[i]] for i in range(0,df_moodAvg['id'].unique().size)}
print (dfs)

{'df_moodAvg_AS14.01':           id        time   moodAvg  moodPred
0    AS14.01  2014-02-26  6.250000       NaN
4    AS14.01  2014-02-27  6.333333       NaN
7    AS14.01  2014-03-21  6.200000       NaN
12   AS14.01  2014-03-22  6.400000       NaN
17   AS14.01  2014-03-23  6.800000       NaN
22   AS14.01  2014-03-24  6.000000       NaN
27   AS14.01  2014-03-25  6.750000       NaN
31   AS14.01  2014-03-26  6.600000       NaN
36   AS14.01  2014-03-27  7.000000       NaN
41   AS14.01  2014-03-28  6.400000       NaN
46   AS14.01  2014-03-29  8.000000       NaN
51   AS14.01  2014-03-30  7.500000       NaN
55   AS14.01  2014-03-31  7.400000       NaN
60   AS14.01  2014-04-01  6.000000       NaN
65   AS14.01  2014-04-02  6.500000       NaN
69   AS14.01  2014-04-03  6.400000       NaN
74   AS14.01  2014-04-04  6.200000       NaN
79   AS14.01  2014-04-05  6.800000       NaN
84   AS14.01  2014-04-06  6.500000       NaN
88   AS14.01  2014-04-07  6.500000       NaN
92   AS14.01  2014-04-08  6.600000       NaN
97   AS14.01  2014-04-09  7.400000       NaN
102  AS14.01  2014-04-10  7.400000       NaN
107  AS14.01  2014-04-11  7.000000       NaN
112  AS14.01  2014-04-12  7.250000       NaN
116  AS14.01  2014-04-13  8.000000       NaN
120  AS14.01  2014-04-14  7.200000       NaN
125  AS14.01  2014-04-15  6.400000       NaN
130  AS14.01  2014-04-16  7.200000       NaN
135  AS14.01  2014-04-17  6.600000       NaN
140  AS14.01  2014-04-18  6.800000       NaN
145  AS14.01  2014-04-19  7.800000       NaN
150  AS14.01  2014-04-20  7.250000       NaN
154  AS14.01  2014-04-21  7.600000       NaN
159  AS14.01  2014-04-22  7.400000       NaN
164  AS14.01  2014-04-23  7.600000       NaN
169  AS14.01  2014-04-24  7.600000       NaN
174  AS14.01  2014-04-25  7.200000       NaN
179  AS14.01  2014-04-26  7.600000       NaN
184  AS14.01  2014-04-27  7.500000       NaN
188  AS14.01  2014-04-28  7.600000       NaN
193  AS14.01  2014-04-29  7.000000       NaN
198  AS14.01  2014-04-30  7.800000       NaN
203  AS14.01  2014-05-01  8.000000       NaN
208  AS14.01  2014-05-02  7.600000       NaN
213  AS14.01  2014-05-03  8.000000       NaN
218  AS14.01  2014-05-04  8.000000       NaN, 'df_moodAvg_AS14.02':           id        time   moodAvg  moodPred
222  AS14.02  2014-03-16  6.333333       NaN
225  AS14.02  2014-03-17  6.750000       NaN
229  AS14.02  2014-03-18  8.200000       NaN
234  AS14.02  2014-03-19  6.800000       NaN
239  AS14.02  2014-03-20  7.250000       NaN
243  AS14.02  2014-03-21  7.500000       NaN
247  AS14.02  2014-03-22  6.500000       NaN
251  AS14.02  2014-03-23  6.250000       NaN
255  AS14.02  2014-03-24  6.400000       NaN
260  AS14.02  2014-03-25  7.750000       NaN
264  AS14.02  2014-03-26  7.200000       NaN
269  AS14.02  2014-03-27  7.250000       NaN
273  AS14.02  2014-03-28  6.800000       NaN
278  AS14.02  2014-03-29  7.250000       NaN
282  AS14.02  2014-03-30  7.000000       NaN
286  AS14.02  2014-03-31  7.200000       NaN
291  AS14.02  2014-04-01  7.400000       NaN
296  AS14.02  2014-04-02  6.400000       NaN
301  AS14.02  2014-04-03  5.750000       NaN
305  AS14.02  2014-04-04  6.400000       NaN
310  AS14.02  2014-04-05  7.400000       NaN
315  AS14.02  2014-04-06  4.500000       NaN
319  AS14.02  2014-04-07  6.800000       NaN
324  AS14.02  2014-04-08  6.250000       NaN
328  AS14.02  2014-04-09  7.250000       NaN
332  AS14.02  2014-04-10  7.250000       NaN
336  AS14.02  2014-04-11  6.500000       NaN
340  AS14.02  2014-04-12  6.000000       NaN
341  AS14.02  2014-04-13  7.200000       NaN
346  AS14.02  2014-04-14  8.000000       NaN
350  AS14.02  2014-04-15  7.250000       NaN
354  AS14.02  2014-04-16  6.666667       NaN
357  AS14.02  2014-04-17  6.500000       NaN
361  AS14.02  2014-04-18  6.500000       NaN
365  AS14.02  2014-04-19  5.666667       NaN
368  AS14.02  2014-04-20  5.000000       NaN
371  AS14.02  2014-04-21  5.500000       NaN
373  AS14.02  2014-04-22  5.666667       NaN
376  AS14.02  2014-04-23  5.500000       NaN
378  AS14.02  2014-04-24  7.000000       NaN
380  AS14.02  2014-04-25  9.000000       NaN, 'df_moodAvg_AS14.03':           id        time   moodAvg  moodPred
381  AS14.03  2014-03-21  9.000000       NaN
383  AS14.03  2014-03-22  7.800000       NaN
388  AS14.03  2014-03-23  8.200000       NaN
393  AS14.03  2014-03-24  7.800000       NaN
398  AS14.03  2014-03-25  7.800000       NaN
403  AS14.03  2014-03-26  8.250000       NaN
407  AS14.03  2014-03-27  7.750000       NaN
411  AS14.03  2014-03-28  8.000000       NaN
415  AS14.03  2014-03-29  8.600000       NaN
420  AS14.03  2014-03-30  8.400000       NaN
425  AS14.03  2014-03-31  7.400000       NaN
430  AS14.03  2014-04-01  7.600000       NaN
435  AS14.03  2014-04-02  7.400000       NaN
440  AS14.03  2014-04-03  7.800000       NaN
445  AS14.03  2014-04-04  7.800000       NaN
450  AS14.03  2014-04-05  7.600000       NaN
455  AS14.03  2014-04-06  6.800000       NaN
460  AS14.03  2014-04-07  7.400000       NaN
465  AS14.03  2014-04-08  7.400000       NaN
470  AS14.03  2014-04-09  7.800000       NaN
475  AS14.03  2014-04-10  7.400000       NaN
480  AS14.03  2014-04-11  7.600000       NaN
485  AS14.03  2014-04-12  7.666667       NaN
488  AS14.03  2014-04-13  7.400000       NaN
493  AS14.03  2014-04-14  7.000000       NaN
498  AS14.03  2014-04-15  7.600000       NaN
503  AS14.03  2014-04-16  8.000000       NaN
508  AS14.03  2014-04-17  7.250000       NaN
512  AS14.03  2014-04-18  7.500000       NaN
516  AS14.03  2014-04-19  7.800000       NaN
521  AS14.03  2014-04-20  7.500000       NaN
525  AS14.03  2014-04-21  7.400000       NaN
530  AS14.03  2014-04-22  7.600000       NaN
535  AS14.03  2014-04-23  7.000000       NaN
540  AS14.03  2014-04-24  7.400000       NaN
545  AS14.03  2014-04-25  7.500000       NaN
549  AS14.03  2014-04-26  7.500000       NaN
553  AS14.03  2014-04-27  7.600000       NaN
558  AS14.03  2014-04-28  7.000000       NaN
563  AS14.03  2014-04-29  7.200000       NaN
568  AS14.03  2014-04-30  7.000000       NaN
573  AS14.03  2014-05-01  7.200000       NaN
578  AS14.03  2014-05-02  7.600000       NaN
583  AS14.03  2014-05-03  7.750000       NaN
587  AS14.03  2014-05-04  7.400000       NaN
592  AS14.03  2014-05-05  7.250000       NaN
596  AS14.03  2014-05-07  7.666667       NaN, 'df_moodAvg_AS14.05':           id        time   moodAvg  moodPred
602  AS14.05  2014-03-14  8.000000       NaN
603  AS14.05  2014-03-15  6.200000       NaN
608  AS14.05  2014-03-16  6.333333       NaN
611  AS14.05  2014-03-17  6.000000       NaN
616  AS14.05  2014-03-18  7.500000       NaN
620  AS14.05  2014-03-19  6.750000       NaN
624  AS14.05  2014-03-20  7.200000       NaN
629  AS14.05  2014-03-21  7.250000       NaN
633  AS14.05  2014-03-22  3.750000       NaN
637  AS14.05  2014-03-23  4.400000       NaN
642  AS14.05  2014-03-24  3.750000       NaN
646  AS14.05  2014-03-25  5.333333       NaN
649  AS14.05  2014-03-26  5.500000       NaN
653  AS14.05  2014-03-27  5.800000       NaN
658  AS14.05  2014-03-28  6.200000       NaN
663  AS14.05  2014-03-29  6.400000       NaN
668  AS14.05  2014-03-30  6.200000       NaN
673  AS14.05  2014-03-31  6.800000       NaN
678  AS14.05  2014-04-01  7.000000       NaN
683  AS14.05  2014-04-02  7.000000       NaN
688  AS14.05  2014-04-03  7.200000       NaN
693  AS14.05  2014-04-04  7.000000       NaN
698  AS14.05  2014-04-05  7.500000       NaN
702  AS14.05  2014-04-06  6.800000       NaN
707  AS14.05  2014-04-07  6.750000       NaN
711  AS14.05  2014-04-08  6.750000       NaN
715  AS14.05  2014-04-09  7.000000       NaN
719  AS14.05  2014-04-10  7.200000       NaN
724  AS14.05  2014-04-11  7.000000       NaN
729  AS14.05  2014-04-12  7.000000       NaN
734  AS14.05  2014-04-13  7.500000       NaN
738  AS14.05  2014-04-14  6.400000       NaN
743  AS14.05  2014-04-15  7.000000       NaN
748  AS14.05  2014-04-16  7.200000       NaN
753  AS14.05  2014-04-17  6.600000       NaN
758  AS14.05  2014-04-18  7.500000       NaN
762  AS14.05  2014-04-19  7.200000       NaN
767  AS14.05  2014-04-20  7.200000       NaN
772  AS14.05  2014-04-21  7.200000       NaN
777  AS14.05  2014-04-22  7.200000       NaN
782  AS14.05  2014-04-23  7.200000       NaN
787  AS14.05  2014-04-24  7.200000       NaN
792  AS14.05  2014-04-25  7.200000       NaN
797  AS14.05  2014-04-26  7.800000       NaN
802  AS14.05  2014-04-27  7.400000       NaN
807  AS14.05  2014-04-28  7.000000       NaN
812  AS14.05  2014-04-29  6.800000       NaN
817  AS14.05  2014-04-30  7.000000       NaN
822  AS14.05  2014-05-01  6.800000       NaN
827  AS14.05  2014-05-02  7.000000       NaN
832  AS14.05  2014-05-03  6.750000       NaN
836  AS14.05  2014-05-04  7.000000       NaN
840  AS14.05  2014-05-05  6.333333       NaN, 'df_moodAvg_AS14.06':            id        time  moodAvg  moodPred
843   AS14.06  2014-03-24     7.00       NaN
844   AS14.06  2014-03-25     7.00       NaN
849   AS14.06  2014-03-26     8.00       NaN
853   AS14.06  2014-03-27     7.00       NaN
857   AS14.06  2014-03-28     7.60       NaN
862   AS14.06  2014-03-29     7.80       NaN
867   AS14.06  2014-03-30     7.80       NaN
872   AS14.06  2014-03-31     7.00       NaN
877   AS14.06  2014-04-01     7.75       NaN
881   AS14.06  2014-04-02     6.80       NaN
886   AS14.06  2014-04-03     7.20       NaN
891   AS14.06  2014-04-04     7.00       NaN
896   AS14.06  2014-04-05     7.00       NaN
901   AS14.06  2014-04-06     7.00       NaN
906   AS14.06  2014-04-07     6.20       NaN
911   AS14.06  2014-04-08     6.60       NaN
916   AS14.06  2014-04-09     7.40       NaN
921   AS14.06  2014-04-10     7.60       NaN
926   AS14.06  2014-04-11     7.80       NaN
931   AS14.06  2014-04-12     8.20       NaN
936   AS14.06  2014-04-13     6.50       NaN
940   AS14.06  2014-04-14     7.25       NaN
944   AS14.06  2014-04-15     7.00       NaN
949   AS14.06  2014-04-16     7.60       NaN
954   AS14.06  2014-04-17     6.80       NaN
959   AS14.06  2014-04-18     6.25       NaN
963   AS14.06  2014-04-19     6.80       NaN
968   AS14.06  2014-04-20     8.20       NaN
973   AS14.06  2014-04-21     7.00       NaN
978   AS14.06  2014-04-22     6.60       NaN
983   AS14.06  2014-04-23     7.00       NaN
988   AS14.06  2014-04-24     7.75       NaN
992   AS14.06  2014-04-25     6.40       NaN
997   AS14.06  2014-04-26     7.50       NaN
1001  AS14.06  2014-04-27     7.20       NaN
1006  AS14.06  2014-04-28     6.75       NaN
1010  AS14.06  2014-04-29     7.25       NaN
1014  AS14.06  2014-04-30     6.80       NaN
1019  AS14.06  2014-05-01     8.00       NaN
1024  AS14.06  2014-05-02     7.20       NaN
1029  AS14.06  2014-05-03     6.25       NaN
1033  AS14.06  2014-05-04     7.60       NaN
1038  AS14.06  2014-05-05     7.00       NaN
1041  AS14.06  2014-05-07     6.75       NaN
1045  AS14.06  2014-05-08     7.00       NaN, 'df_moodAvg_AS14.07':            id        time   moodAvg  moodPred
1046  AS14.07  2014-03-19  6.800000       NaN
1051  AS14.07  2014-03-20  5.250000       NaN
1055  AS14.07  2014-03-21  7.000000       NaN
1058  AS14.07  2014-03-22  6.000000       NaN
1063  AS14.07  2014-03-23  7.750000       NaN
1067  AS14.07  2014-03-24  8.000000       NaN
1069  AS14.07  2014-03-25  7.666667       NaN
1075  AS14.07  2014-03-26  6.600000       NaN
1080  AS14.07  2014-03-27  6.800000       NaN
1085  AS14.07  2014-03-28  8.250000       NaN
1089  AS14.07  2014-03-29  7.000000       NaN
1094  AS14.07  2014-03-30  6.200000       NaN
1099  AS14.07  2014-03-31  4.333333       NaN
1102  AS14.07  2014-04-01  6.600000       NaN
1107  AS14.07  2014-04-02  5.500000       NaN
1111  AS14.07  2014-04-03  6.200000       NaN
1116  AS14.07  2014-04-04  6.500000       NaN
1120  AS14.07  2014-04-05  6.000000       NaN
1123  AS14.07  2014-04-06  6.750000       NaN
1127  AS14.07  2014-04-07  5.400000       NaN
1132  AS14.07  2014-04-08  6.800000       NaN
1137  AS14.07  2014-04-09  6.400000       NaN
1142  AS14.07  2014-04-10  6.200000       NaN
1147  AS14.07  2014-04-11  3.500000       NaN
1149  AS14.07  2014-04-12  6.400000       NaN
1154  AS14.07  2014-04-13  6.500000       NaN
1158  AS14.07  2014-04-14  6.200000       NaN
1163  AS14.07  2014-04-15  6.000000       NaN
1167  AS14.07  2014-04-16  4.750000       NaN
1171  AS14.07  2014-04-17  3.800000       NaN
1176  AS14.07  2014-04-18  5.200000       NaN
1181  AS14.07  2014-04-19  7.000000       NaN
1185  AS14.07  2014-04-20  3.000000       NaN
1186  AS14.07  2014-04-21  6.600000       NaN
1191  AS14.07  2014-04-22  6.000000       NaN
1196  AS14.07  2014-04-23  6.000000       NaN
1199  AS14.07  2014-04-24  5.600000       NaN
1204  AS14.07  2014-04-25  3.333333       NaN
1207  AS14.07  2014-04-26  5.400000       NaN
1212  AS14.07  2014-04-27  6.000000       NaN
1217  AS14.07  2014-04-28  6.750000       NaN
1221  AS14.07  2014-04-29  5.000000       NaN
1222  AS14.07  2014-04-30  5.000000       NaN
1224  AS14.07  2014-05-01  5.000000       NaN
1227  AS14.07  2014-05-02  6.200000       NaN
1232  AS14.07  2014-05-03  5.666667       NaN
1235  AS14.07  2014-05-04  8.000000       NaN
1236  AS14.07  2014-05-05  5.500000       NaN, 'df_moodAvg_AS14.08':            id        time   moodAvg  moodPred
1238  AS14.08  2014-03-05  6.333333       NaN
1241  AS14.08  2014-03-06  7.200000       NaN
1246  AS14.08  2014-03-07  7.400000       NaN
1251  AS14.08  2014-03-08  7.000000       NaN
1256  AS14.08  2014-03-09  7.200000       NaN
...       ...         ...       ...       ...
1514  AS14.08  2014-05-01  7.000000       NaN
1519  AS14.08  2014-05-02  7.200000       NaN
1524  AS14.08  2014-05-03  7.400000       NaN
1529  AS14.08  2014-05-04  6.800000       NaN
1534  AS14.08  2014-05-05  6.666667       NaN

[62 rows x 4 columns], 'df_moodAvg_AS14.09':            id        time   moodAvg  moodPred
1537  AS14.09  2014-03-21  7.000000       NaN
1538  AS14.09  2014-03-22  7.000000       NaN
1541  AS14.09  2014-03-23  6.750000       NaN
1545  AS14.09  2014-03-24  7.250000       NaN
1549  AS14.09  2014-03-25  6.200000       NaN
1554  AS14.09  2014-03-26  7.750000       NaN
1558  AS14.09  2014-03-27  7.800000       NaN
1563  AS14.09  2014-03-28  8.250000       NaN
1567  AS14.09  2014-03-29  8.000000       NaN
1572  AS14.09  2014-03-30  7.750000       NaN
1576  AS14.09  2014-03-31  7.000000       NaN
1581  AS14.09  2014-04-01  7.600000       NaN
1586  AS14.09  2014-04-02  6.200000       NaN
1591  AS14.09  2014-04-03  7.600000       NaN
1596  AS14.09  2014-04-04  7.250000       NaN
1600  AS14.09  2014-04-05  7.500000       NaN
1604  AS14.09  2014-04-06  6.800000       NaN
1609  AS14.09  2014-04-07  6.200000       NaN
1614  AS14.09  2014-04-08  7.200000       NaN
1619  AS14.09  2014-04-09  6.500000       NaN
1623  AS14.09  2014-04-10  6.000000       NaN
1627  AS14.09  2014-04-11  6.800000       NaN
1632  AS14.09  2014-04-12  7.000000       NaN
1637  AS14.09  2014-04-13  6.000000       NaN
1642  AS14.09  2014-04-14  5.800000       NaN
1647  AS14.09  2014-04-15  6.000000       NaN
1652  AS14.09  2014-04-16  5.500000       NaN
1656  AS14.09  2014-04-17  7.000000       NaN
1660  AS14.09  2014-04-18  6.600000       NaN
1665  AS14.09  2014-04-19  8.000000       NaN
1669  AS14.09  2014-04-20  6.250000       NaN
1673  AS14.09  2014-04-21  6.500000       NaN
1677  AS14.09  2014-04-22  6.600000       NaN
1682  AS14.09  2014-04-23  6.333333       NaN
1685  AS14.09  2014-04-24  7.200000       NaN
1690  AS14.09  2014-04-25  7.250000       NaN
1694  AS14.09  2014-04-26  8.000000       NaN
1697  AS14.09  2014-04-27  6.250000       NaN
1701  AS14.09  2014-04-28  6.600000       NaN
1706  AS14.09  2014-04-29  6.750000       NaN
1710  AS14.09  2014-04-30  7.000000       NaN
1714  AS14.09  2014-05-01  7.500000       NaN
1718  AS14.09  2014-05-02  7.600000       NaN
1723  AS14.09  2014-05-03  7.750000       NaN
1727  AS14.09  2014-05-04  6.600000       NaN
1732  AS14.09  2014-05-05  6.000000       NaN, 'df_moodAvg_AS14.12':            id        time  moodAvg  moodPred
1734  AS14.12  2014-03-15     5.50       NaN
1736  AS14.12  2014-03-27     7.00       NaN
1740  AS14.12  2014-03-28     6.75       NaN
1744  AS14.12  2014-03-29     6.75       NaN
1748  AS14.12  2014-03-30     5.80       NaN
1753  AS14.12  2014-03-31     6.40       NaN
1758  AS14.12  2014-04-01     6.40       NaN
1763  AS14.12  2014-04-02     6.00       NaN
1768  AS14.12  2014-04-03     5.40       NaN
1773  AS14.12  2014-04-04     6.50       NaN
1777  AS14.12  2014-04-05     6.20       NaN
1782  AS14.12  2014-04-06     6.25       NaN
1786  AS14.12  2014-04-07     6.40       NaN
1791  AS14.12  2014-04-08     6.25       NaN
1795  AS14.12  2014-04-09     5.25       NaN
1799  AS14.12  2014-04-10     6.40       NaN
1804  AS14.12  2014-04-11     6.60       NaN
1809  AS14.12  2014-04-12     6.80       NaN
1814  AS14.12  2014-04-13     5.60       NaN
1819  AS14.12  2014-04-14     6.60       NaN
1824  AS14.12  2014-04-15     6.80       NaN
1829  AS14.12  2014-04-16     7.00       NaN
1833  AS14.12  2014-04-17     6.80       NaN
1838  AS14.12  2014-04-18     6.60       NaN
1843  AS14.12  2014-04-19     5.80       NaN
1848  AS14.12  2014-04-20     6.40       NaN
1853  AS14.12  2014-04-21     6.00       NaN
1857  AS14.12  2014-04-22     6.50       NaN
1861  AS14.12  2014-04-23     5.80       NaN
1866  AS14.12  2014-04-24     6.60       NaN
1871  AS14.12  2014-04-25     5.60       NaN
1876  AS14.12  2014-04-26     7.00       NaN
1880  AS14.12  2014-04-27     6.00       NaN
1884  AS14.12  2014-04-28     6.60       NaN
1889  AS14.12  2014-04-29     6.00       NaN
1894  AS14.12  2014-04-30     6.25       NaN
1898  AS14.12  2014-05-01     6.20       NaN
1903  AS14.12  2014-05-02     5.50       NaN
1905  AS14.12  2014-05-03     5.60       NaN
1910  AS14.12  2014-05-04     4.80       NaN
1915  AS14.12  2014-05-05     6.00       NaN, 'df_moodAvg_AS14.13':            id        time   moodAvg  moodPred
1919  AS14.13  2014-03-13  7.000000       NaN
1920  AS14.13  2014-03-14  7.800000       NaN
1925  AS14.13  2014-03-15  7.000000       NaN
1930  AS14.13  2014-03-16  6.400000       NaN
1935  AS14.13  2014-03-17  6.600000       NaN
1940  AS14.13  2014-03-18  7.000000       NaN
1945  AS14.13  2014-03-19  7.800000       NaN
1950  AS14.13  2014-03-20  6.400000       NaN
1955  AS14.13  2014-03-21  6.400000       NaN
1960  AS14.13  2014-03-22  8.400000       NaN
1965  AS14.13  2014-03-23  7.400000       NaN
1970  AS14.13  2014-03-24  8.800000       NaN
1975  AS14.13  2014-03-25  7.600000       NaN
1980  AS14.13  2014-03-26  8.400000       NaN
1985  AS14.13  2014-03-27  7.400000       NaN
1990  AS14.13  2014-03-28  7.600000       NaN
1995  AS14.13  2014-03-29  7.200000       NaN
2000  AS14.13  2014-03-30  6.200000       NaN
2005  AS14.13  2014-03-31  7.000000       NaN
2010  AS14.13  2014-04-01  7.500000       NaN
2014  AS14.13  2014-04-02  7.400000       NaN
2019  AS14.13  2014-04-03  7.600000       NaN
2024  AS14.13  2014-04-04  7.800000       NaN
2029  AS14.13  2014-04-05  6.800000       NaN
2034  AS14.13  2014-04-06  6.250000       NaN
2038  AS14.13  2014-04-07  7.400000       NaN
2043  AS14.13  2014-04-08  8.200000       NaN
2048  AS14.13  2014-04-09  7.800000       NaN
2053  AS14.13  2014-04-10  7.600000       NaN
2058  AS14.13  2014-04-11  6.800000       NaN
2063  AS14.13  2014-04-12  6.800000       NaN
2068  AS14.13  2014-04-13  6.600000       NaN
2073  AS14.13  2014-04-14  6.800000       NaN
2078  AS14.13  2014-04-15  6.000000       NaN
2083  AS14.13  2014-04-16  6.000000       NaN
2087  AS14.13  2014-04-17  6.400000       NaN
2092  AS14.13  2014-04-18  3.500000       NaN
2094  AS14.13  2014-04-19  7.200000       NaN
2099  AS14.13  2014-04-20  6.600000       NaN
2104  AS14.13  2014-04-21  7.400000       NaN
2109  AS14.13  2014-04-22  5.750000       NaN
2113  AS14.13  2014-04-23  7.400000       NaN
2118  AS14.13  2014-04-24  7.666667       NaN
2121  AS14.13  2014-04-25  7.750000       NaN
2125  AS14.13  2014-04-26  8.800000       NaN
2130  AS14.13  2014-04-27  8.000000       NaN

In [213]:
print(len(dfs))

27

In [214]:
for id in df_moodAvg['id'].unique():
  print(dfs['df_moodAvg_'+id])

          id        time   moodAvg  moodPred
0    AS14.01  2014-02-26  6.250000       NaN
4    AS14.01  2014-02-27  6.333333       NaN
7    AS14.01  2014-03-21  6.200000       NaN
12   AS14.01  2014-03-22  6.400000       NaN
17   AS14.01  2014-03-23  6.800000       NaN
22   AS14.01  2014-03-24  6.000000       NaN
27   AS14.01  2014-03-25  6.750000       NaN
31   AS14.01  2014-03-26  6.600000       NaN
36   AS14.01  2014-03-27  7.000000       NaN
41   AS14.01  2014-03-28  6.400000       NaN
46   AS14.01  2014-03-29  8.000000       NaN
51   AS14.01  2014-03-30  7.500000       NaN
55   AS14.01  2014-03-31  7.400000       NaN
60   AS14.01  2014-04-01  6.000000       NaN
65   AS14.01  2014-04-02  6.500000       NaN
69   AS14.01  2014-04-03  6.400000       NaN
74   AS14.01  2014-04-04  6.200000       NaN
79   AS14.01  2014-04-05  6.800000       NaN
84   AS14.01  2014-04-06  6.500000       NaN
88   AS14.01  2014-04-07  6.500000       NaN
92   AS14.01  2014-04-08  6.600000       NaN
97   AS14.01  2014-04-09  7.400000       NaN
102  AS14.01  2014-04-10  7.400000       NaN
107  AS14.01  2014-04-11  7.000000       NaN
112  AS14.01  2014-04-12  7.250000       NaN
116  AS14.01  2014-04-13  8.000000       NaN
120  AS14.01  2014-04-14  7.200000       NaN
125  AS14.01  2014-04-15  6.400000       NaN
130  AS14.01  2014-04-16  7.200000       NaN
135  AS14.01  2014-04-17  6.600000       NaN
140  AS14.01  2014-04-18  6.800000       NaN
145  AS14.01  2014-04-19  7.800000       NaN
150  AS14.01  2014-04-20  7.250000       NaN
154  AS14.01  2014-04-21  7.600000       NaN
159  AS14.01  2014-04-22  7.400000       NaN
164  AS14.01  2014-04-23  7.600000       NaN
169  AS14.01  2014-04-24  7.600000       NaN
174  AS14.01  2014-04-25  7.200000       NaN
179  AS14.01  2014-04-26  7.600000       NaN
184  AS14.01  2014-04-27  7.500000       NaN
188  AS14.01  2014-04-28  7.600000       NaN
193  AS14.01  2014-04-29  7.000000       NaN
198  AS14.01  2014-04-30  7.800000       NaN
203  AS14.01  2014-05-01  8.000000       NaN
208  AS14.01  2014-05-02  7.600000       NaN
213  AS14.01  2014-05-03  8.000000       NaN
218  AS14.01  2014-05-04  8.000000       NaN
          id        time   moodAvg  moodPred
222  AS14.02  2014-03-16  6.333333       NaN
225  AS14.02  2014-03-17  6.750000       NaN
229  AS14.02  2014-03-18  8.200000       NaN
234  AS14.02  2014-03-19  6.800000       NaN
239  AS14.02  2014-03-20  7.250000       NaN
243  AS14.02  2014-03-21  7.500000       NaN
247  AS14.02  2014-03-22  6.500000       NaN
251  AS14.02  2014-03-23  6.250000       NaN
255  AS14.02  2014-03-24  6.400000       NaN
260  AS14.02  2014-03-25  7.750000       NaN
264  AS14.02  2014-03-26  7.200000       NaN
269  AS14.02  2014-03-27  7.250000       NaN
273  AS14.02  2014-03-28  6.800000       NaN
278  AS14.02  2014-03-29  7.250000       NaN
282  AS14.02  2014-03-30  7.000000       NaN
286  AS14.02  2014-03-31  7.200000       NaN
291  AS14.02  2014-04-01  7.400000       NaN
296  AS14.02  2014-04-02  6.400000       NaN
301  AS14.02  2014-04-03  5.750000       NaN
305  AS14.02  2014-04-04  6.400000       NaN
310  AS14.02  2014-04-05  7.400000       NaN
315  AS14.02  2014-04-06  4.500000       NaN
319  AS14.02  2014-04-07  6.800000       NaN
324  AS14.02  2014-04-08  6.250000       NaN
328  AS14.02  2014-04-09  7.250000       NaN
332  AS14.02  2014-04-10  7.250000       NaN
336  AS14.02  2014-04-11  6.500000       NaN
340  AS14.02  2014-04-12  6.000000       NaN
341  AS14.02  2014-04-13  7.200000       NaN
346  AS14.02  2014-04-14  8.000000       NaN
350  AS14.02  2014-04-15  7.250000       NaN
354  AS14.02  2014-04-16  6.666667       NaN
357  AS14.02  2014-04-17  6.500000       NaN
361  AS14.02  2014-04-18  6.500000       NaN
365  AS14.02  2014-04-19  5.666667       NaN
368  AS14.02  2014-04-20  5.000000       NaN
371  AS14.02  2014-04-21  5.500000       NaN
373  AS14.02  2014-04-22  5.666667       NaN
376  AS14.02  2014-04-23  5.500000       NaN
378  AS14.02  2014-04-24  7.000000       NaN
380  AS14.02  2014-04-25  9.000000       NaN
          id        time   moodAvg  moodPred
381  AS14.03  2014-03-21  9.000000       NaN
383  AS14.03  2014-03-22  7.800000       NaN
388  AS14.03  2014-03-23  8.200000       NaN
393  AS14.03  2014-03-24  7.800000       NaN
398  AS14.03  2014-03-25  7.800000       NaN
403  AS14.03  2014-03-26  8.250000       NaN
407  AS14.03  2014-03-27  7.750000       NaN
411  AS14.03  2014-03-28  8.000000       NaN
415  AS14.03  2014-03-29  8.600000       NaN
420  AS14.03  2014-03-30  8.400000       NaN
425  AS14.03  2014-03-31  7.400000       NaN
430  AS14.03  2014-04-01  7.600000       NaN
435  AS14.03  2014-04-02  7.400000       NaN
440  AS14.03  2014-04-03  7.800000       NaN
445  AS14.03  2014-04-04  7.800000       NaN
450  AS14.03  2014-04-05  7.600000       NaN
455  AS14.03  2014-04-06  6.800000       NaN
460  AS14.03  2014-04-07  7.400000       NaN
465  AS14.03  2014-04-08  7.400000       NaN
470  AS14.03  2014-04-09  7.800000       NaN
475  AS14.03  2014-04-10  7.400000       NaN
480  AS14.03  2014-04-11  7.600000       NaN
485  AS14.03  2014-04-12  7.666667       NaN
488  AS14.03  2014-04-13  7.400000       NaN
493  AS14.03  2014-04-14  7.000000       NaN
498  AS14.03  2014-04-15  7.600000       NaN
503  AS14.03  2014-04-16  8.000000       NaN
508  AS14.03  2014-04-17  7.250000       NaN
512  AS14.03  2014-04-18  7.500000       NaN
516  AS14.03  2014-04-19  7.800000       NaN
521  AS14.03  2014-04-20  7.500000       NaN
525  AS14.03  2014-04-21  7.400000       NaN
530  AS14.03  2014-04-22  7.600000       NaN
535  AS14.03  2014-04-23  7.000000       NaN
540  AS14.03  2014-04-24  7.400000       NaN
545  AS14.03  2014-04-25  7.500000       NaN
549  AS14.03  2014-04-26  7.500000       NaN
553  AS14.03  2014-04-27  7.600000       NaN
558  AS14.03  2014-04-28  7.000000       NaN
563  AS14.03  2014-04-29  7.200000       NaN
568  AS14.03  2014-04-30  7.000000       NaN
573  AS14.03  2014-05-01  7.200000       NaN
578  AS14.03  2014-05-02  7.600000       NaN
583  AS14.03  2014-05-03  7.750000       NaN
587  AS14.03  2014-05-04  7.400000       NaN
592  AS14.03  2014-05-05  7.250000       NaN
596  AS14.03  2014-05-07  7.666667       NaN
          id        time   moodAvg  moodPred
602  AS14.05  2014-03-14  8.000000       NaN
603  AS14.05  2014-03-15  6.200000       NaN
608  AS14.05  2014-03-16  6.333333       NaN
611  AS14.05  2014-03-17  6.000000       NaN
616  AS14.05  2014-03-18  7.500000       NaN
620  AS14.05  2014-03-19  6.750000       NaN
624  AS14.05  2014-03-20  7.200000       NaN
629  AS14.05  2014-03-21  7.250000       NaN
633  AS14.05  2014-03-22  3.750000       NaN
637  AS14.05  2014-03-23  4.400000       NaN
642  AS14.05  2014-03-24  3.750000       NaN
646  AS14.05  2014-03-25  5.333333       NaN
649  AS14.05  2014-03-26  5.500000       NaN
653  AS14.05  2014-03-27  5.800000       NaN
658  AS14.05  2014-03-28  6.200000       NaN
663  AS14.05  2014-03-29  6.400000       NaN
668  AS14.05  2014-03-30  6.200000       NaN
673  AS14.05  2014-03-31  6.800000       NaN
678  AS14.05  2014-04-01  7.000000       NaN
683  AS14.05  2014-04-02  7.000000       NaN
688  AS14.05  2014-04-03  7.200000       NaN
693  AS14.05  2014-04-04  7.000000       NaN
698  AS14.05  2014-04-05  7.500000       NaN
702  AS14.05  2014-04-06  6.800000       NaN
707  AS14.05  2014-04-07  6.750000       NaN
711  AS14.05  2014-04-08  6.750000       NaN
715  AS14.05  2014-04-09  7.000000       NaN
719  AS14.05  2014-04-10  7.200000       NaN
724  AS14.05  2014-04-11  7.000000       NaN
729  AS14.05  2014-04-12  7.000000       NaN
734  AS14.05  2014-04-13  7.500000       NaN
738  AS14.05  2014-04-14  6.400000       NaN
743  AS14.05  2014-04-15  7.000000       NaN
748  AS14.05  2014-04-16  7.200000       NaN
753  AS14.05  2014-04-17  6.600000       NaN
758  AS14.05  2014-04-18  7.500000       NaN
762  AS14.05  2014-04-19  7.200000       NaN
767  AS14.05  2014-04-20  7.200000       NaN
772  AS14.05  2014-04-21  7.200000       NaN
777  AS14.05  2014-04-22  7.200000       NaN
782  AS14.05  2014-04-23  7.200000       NaN
787  AS14.05  2014-04-24  7.200000       NaN
792  AS14.05  2014-04-25  7.200000       NaN
797  AS14.05  2014-04-26  7.800000       NaN
802  AS14.05  2014-04-27  7.400000       NaN
807  AS14.05  2014-04-28  7.000000       NaN
812  AS14.05  2014-04-29  6.800000       NaN
817  AS14.05  2014-04-30  7.000000       NaN
822  AS14.05  2014-05-01  6.800000       NaN
827  AS14.05  2014-05-02  7.000000       NaN
832  AS14.05  2014-05-03  6.750000       NaN
836  AS14.05  2014-05-04  7.000000       NaN
840  AS14.05  2014-05-05  6.333333       NaN
           id        time  moodAvg  moodPred
843   AS14.06  2014-03-24     7.00       NaN
844   AS14.06  2014-03-25     7.00       NaN
849   AS14.06  2014-03-26     8.00       NaN
853   AS14.06  2014-03-27     7.00       NaN
857   AS14.06  2014-03-28     7.60       NaN
862   AS14.06  2014-03-29     7.80       NaN
867   AS14.06  2014-03-30     7.80       NaN
872   AS14.06  2014-03-31     7.00       NaN
877   AS14.06  2014-04-01     7.75       NaN
881   AS14.06  2014-04-02     6.80       NaN
886   AS14.06  2014-04-03     7.20       NaN
891   AS14.06  2014-04-04     7.00       NaN
896   AS14.06  2014-04-05     7.00       NaN
901   AS14.06  2014-04-06     7.00       NaN
906   AS14.06  2014-04-07     6.20       NaN
911   AS14.06  2014-04-08     6.60       NaN
916   AS14.06  2014-04-09     7.40       NaN
921   AS14.06  2014-04-10     7.60       NaN
926   AS14.06  2014-04-11     7.80       NaN
931   AS14.06  2014-04-12     8.20       NaN
936   AS14.06  2014-04-13     6.50       NaN
940   AS14.06  2014-04-14     7.25       NaN
944   AS14.06  2014-04-15     7.00       NaN
949   AS14.06  2014-04-16     7.60       NaN
954   AS14.06  2014-04-17     6.80       NaN
959   AS14.06  2014-04-18     6.25       NaN
963   AS14.06  2014-04-19     6.80       NaN
968   AS14.06  2014-04-20     8.20       NaN
973   AS14.06  2014-04-21     7.00       NaN
978   AS14.06  2014-04-22     6.60       NaN
983   AS14.06  2014-04-23     7.00       NaN
988   AS14.06  2014-04-24     7.75       NaN
992   AS14.06  2014-04-25     6.40       NaN
997   AS14.06  2014-04-26     7.50       NaN
1001  AS14.06  2014-04-27     7.20       NaN
1006  AS14.06  2014-04-28     6.75       NaN
1010  AS14.06  2014-04-29     7.25       NaN
1014  AS14.06  2014-04-30     6.80       NaN
1019  AS14.06  2014-05-01     8.00       NaN
1024  AS14.06  2014-05-02     7.20       NaN
1029  AS14.06  2014-05-03     6.25       NaN
1033  AS14.06  2014-05-04     7.60       NaN
1038  AS14.06  2014-05-05     7.00       NaN
1041  AS14.06  2014-05-07     6.75       NaN
1045  AS14.06  2014-05-08     7.00       NaN
           id        time   moodAvg  moodPred
1046  AS14.07  2014-03-19  6.800000       NaN
1051  AS14.07  2014-03-20  5.250000       NaN
1055  AS14.07  2014-03-21  7.000000       NaN
1058  AS14.07  2014-03-22  6.000000       NaN
1063  AS14.07  2014-03-23  7.750000       NaN
1067  AS14.07  2014-03-24  8.000000       NaN
1069  AS14.07  2014-03-25  7.666667       NaN
1075  AS14.07  2014-03-26  6.600000       NaN
1080  AS14.07  2014-03-27  6.800000       NaN
1085  AS14.07  2014-03-28  8.250000       NaN
1089  AS14.07  2014-03-29  7.000000       NaN
1094  AS14.07  2014-03-30  6.200000       NaN
1099  AS14.07  2014-03-31  4.333333       NaN
1102  AS14.07  2014-04-01  6.600000       NaN
1107  AS14.07  2014-04-02  5.500000       NaN
1111  AS14.07  2014-04-03  6.200000       NaN
1116  AS14.07  2014-04-04  6.500000       NaN
1120  AS14.07  2014-04-05  6.000000       NaN
1123  AS14.07  2014-04-06  6.750000       NaN
1127  AS14.07  2014-04-07  5.400000       NaN
1132  AS14.07  2014-04-08  6.800000       NaN
1137  AS14.07  2014-04-09  6.400000       NaN
1142  AS14.07  2014-04-10  6.200000       NaN
1147  AS14.07  2014-04-11  3.500000       NaN
1149  AS14.07  2014-04-12  6.400000       NaN
1154  AS14.07  2014-04-13  6.500000       NaN
1158  AS14.07  2014-04-14  6.200000       NaN
1163  AS14.07  2014-04-15  6.000000       NaN
1167  AS14.07  2014-04-16  4.750000       NaN
1171  AS14.07  2014-04-17  3.800000       NaN
1176  AS14.07  2014-04-18  5.200000       NaN
1181  AS14.07  2014-04-19  7.000000       NaN
1185  AS14.07  2014-04-20  3.000000       NaN
1186  AS14.07  2014-04-21  6.600000       NaN
1191  AS14.07  2014-04-22  6.000000       NaN
1196  AS14.07  2014-04-23  6.000000       NaN
1199  AS14.07  2014-04-24  5.600000       NaN
1204  AS14.07  2014-04-25  3.333333       NaN
1207  AS14.07  2014-04-26  5.400000       NaN
1212  AS14.07  2014-04-27  6.000000       NaN
1217  AS14.07  2014-04-28  6.750000       NaN
1221  AS14.07  2014-04-29  5.000000       NaN
1222  AS14.07  2014-04-30  5.000000       NaN
1224  AS14.07  2014-05-01  5.000000       NaN
1227  AS14.07  2014-05-02  6.200000       NaN
1232  AS14.07  2014-05-03  5.666667       NaN
1235  AS14.07  2014-05-04  8.000000       NaN
1236  AS14.07  2014-05-05  5.500000       NaN
           id        time   moodAvg  moodPred
1238  AS14.08  2014-03-05  6.333333       NaN
1241  AS14.08  2014-03-06  7.200000       NaN
1246  AS14.08  2014-03-07  7.400000       NaN
1251  AS14.08  2014-03-08  7.000000       NaN
1256  AS14.08  2014-03-09  7.200000       NaN
...       ...         ...       ...       ...
1514  AS14.08  2014-05-01  7.000000       NaN
1519  AS14.08  2014-05-02  7.200000       NaN
1524  AS14.08  2014-05-03  7.400000       NaN
1529  AS14.08  2014-05-04  6.800000       NaN
1534  AS14.08  2014-05-05  6.666667       NaN

[62 rows x 4 columns]
           id        time   moodAvg  moodPred
1537  AS14.09  2014-03-21  7.000000       NaN
1538  AS14.09  2014-03-22  7.000000       NaN
1541  AS14.09  2014-03-23  6.750000       NaN
1545  AS14.09  2014-03-24  7.250000       NaN
1549  AS14.09  2014-03-25  6.200000       NaN
1554  AS14.09  2014-03-26  7.750000       NaN
1558  AS14.09  2014-03-27  7.800000       NaN
1563  AS14.09  2014-03-28  8.250000       NaN
1567  AS14.09  2014-03-29  8.000000       NaN
1572  AS14.09  2014-03-30  7.750000       NaN
1576  AS14.09  2014-03-31  7.000000       NaN
1581  AS14.09  2014-04-01  7.600000       NaN
1586  AS14.09  2014-04-02  6.200000       NaN
1591  AS14.09  2014-04-03  7.600000       NaN
1596  AS14.09  2014-04-04  7.250000       NaN
1600  AS14.09  2014-04-05  7.500000       NaN
1604  AS14.09  2014-04-06  6.800000       NaN
1609  AS14.09  2014-04-07  6.200000       NaN
1614  AS14.09  2014-04-08  7.200000       NaN
1619  AS14.09  2014-04-09  6.500000       NaN
1623  AS14.09  2014-04-10  6.000000       NaN
1627  AS14.09  2014-04-11  6.800000       NaN
1632  AS14.09  2014-04-12  7.000000       NaN
1637  AS14.09  2014-04-13  6.000000       NaN
1642  AS14.09  2014-04-14  5.800000       NaN
1647  AS14.09  2014-04-15  6.000000       NaN
1652  AS14.09  2014-04-16  5.500000       NaN
1656  AS14.09  2014-04-17  7.000000       NaN
1660  AS14.09  2014-04-18  6.600000       NaN
1665  AS14.09  2014-04-19  8.000000       NaN
1669  AS14.09  2014-04-20  6.250000       NaN
1673  AS14.09  2014-04-21  6.500000       NaN
1677  AS14.09  2014-04-22  6.600000       NaN
1682  AS14.09  2014-04-23  6.333333       NaN
1685  AS14.09  2014-04-24  7.200000       NaN
1690  AS14.09  2014-04-25  7.250000       NaN
1694  AS14.09  2014-04-26  8.000000       NaN
1697  AS14.09  2014-04-27  6.250000       NaN
1701  AS14.09  2014-04-28  6.600000       NaN
1706  AS14.09  2014-04-29  6.750000       NaN
1710  AS14.09  2014-04-30  7.000000       NaN
1714  AS14.09  2014-05-01  7.500000       NaN
1718  AS14.09  2014-05-02  7.600000       NaN
1723  AS14.09  2014-05-03  7.750000       NaN
1727  AS14.09  2014-05-04  6.600000       NaN
1732  AS14.09  2014-05-05  6.000000       NaN
           id        time  moodAvg  moodPred
1734  AS14.12  2014-03-15     5.50       NaN
1736  AS14.12  2014-03-27     7.00       NaN
1740  AS14.12  2014-03-28     6.75       NaN
1744  AS14.12  2014-03-29     6.75       NaN
1748  AS14.12  2014-03-30     5.80       NaN
1753  AS14.12  2014-03-31     6.40       NaN
1758  AS14.12  2014-04-01     6.40       NaN
1763  AS14.12  2014-04-02     6.00       NaN
1768  AS14.12  2014-04-03     5.40       NaN
1773  AS14.12  2014-04-04     6.50       NaN
1777  AS14.12  2014-04-05     6.20       NaN
1782  AS14.12  2014-04-06     6.25       NaN
1786  AS14.12  2014-04-07     6.40       NaN
1791  AS14.12  2014-04-08     6.25       NaN
1795  AS14.12  2014-04-09     5.25       NaN
1799  AS14.12  2014-04-10     6.40       NaN
1804  AS14.12  2014-04-11     6.60       NaN
1809  AS14.12  2014-04-12     6.80       NaN
1814  AS14.12  2014-04-13     5.60       NaN
1819  AS14.12  2014-04-14     6.60       NaN
1824  AS14.12  2014-04-15     6.80       NaN
1829  AS14.12  2014-04-16     7.00       NaN
1833  AS14.12  2014-04-17     6.80       NaN
1838  AS14.12  2014-04-18     6.60       NaN
1843  AS14.12  2014-04-19     5.80       NaN
1848  AS14.12  2014-04-20     6.40       NaN
1853  AS14.12  2014-04-21     6.00       NaN
1857  AS14.12  2014-04-22     6.50       NaN
1861  AS14.12  2014-04-23     5.80       NaN
1866  AS14.12  2014-04-24     6.60       NaN
1871  AS14.12  2014-04-25     5.60       NaN
1876  AS14.12  2014-04-26     7.00       NaN
1880  AS14.12  2014-04-27     6.00       NaN
1884  AS14.12  2014-04-28     6.60       NaN
1889  AS14.12  2014-04-29     6.00       NaN
1894  AS14.12  2014-04-30     6.25       NaN
1898  AS14.12  2014-05-01     6.20       NaN
1903  AS14.12  2014-05-02     5.50       NaN
1905  AS14.12  2014-05-03     5.60       NaN
1910  AS14.12  2014-05-04     4.80       NaN
1915  AS14.12  2014-05-05     6.00       NaN
           id        time   moodAvg  moodPred
1919  AS14.13  2014-03-13  7.000000       NaN
1920  AS14.13  2014-03-14  7.800000       NaN
1925  AS14.13  2014-03-15  7.000000       NaN
1930  AS14.13  2014-03-16  6.400000       NaN
1935  AS14.13  2014-03-17  6.600000       NaN
1940  AS14.13  2014-03-18  7.000000       NaN
1945  AS14.13  2014-03-19  7.800000       NaN
1950  AS14.13  2014-03-20  6.400000       NaN
1955  AS14.13  2014-03-21  6.400000       NaN
1960  AS14.13  2014-03-22  8.400000       NaN
1965  AS14.13  2014-03-23  7.400000       NaN
1970  AS14.13  2014-03-24  8.800000       NaN
1975  AS14.13  2014-03-25  7.600000       NaN
1980  AS14.13  2014-03-26  8.400000       NaN
1985  AS14.13  2014-03-27  7.400000       NaN
1990  AS14.13  2014-03-28  7.600000       NaN
1995  AS14.13  2014-03-29  7.200000       NaN
2000  AS14.13  2014-03-30  6.200000       NaN
2005  AS14.13  2014-03-31  7.000000       NaN
2010  AS14.13  2014-04-01  7.500000       NaN
2014  AS14.13  2014-04-02  7.400000       NaN
2019  AS14.13  2014-04-03  7.600000       NaN
2024  AS14.13  2014-04-04  7.800000       NaN
2029  AS14.13  2014-04-05  6.800000       NaN
2034  AS14.13  2014-04-06  6.250000       NaN
2038  AS14.13  2014-04-07  7.400000       NaN
2043  AS14.13  2014-04-08  8.200000       NaN
2048  AS14.13  2014-04-09  7.800000       NaN
2053  AS14.13  2014-04-10  7.600000       NaN
2058  AS14.13  2014-04-11  6.800000       NaN
2063  AS14.13  2014-04-12  6.800000       NaN
2068  AS14.13  2014-04-13  6.600000       NaN
2073  AS14.13  2014-04-14  6.800000       NaN
2078  AS14.13  2014-04-15  6.000000       NaN
2083  AS14.13  2014-04-16  6.000000       NaN
2087  AS14.13  2014-04-17  6.400000       NaN
2092  AS14.13  2014-04-18  3.500000       NaN
2094  AS14.13  2014-04-19  7.200000       NaN
2099  AS14.13  2014-04-20  6.600000       NaN
2104  AS14.13  2014-04-21  7.400000       NaN
2109  AS14.13  2014-04-22  5.750000       NaN
2113  AS14.13  2014-04-23  7.400000       NaN
2118  AS14.13  2014-04-24  7.666667       NaN
2121  AS14.13  2014-04-25  7.750000       NaN
2125  AS14.13  2014-04-26  8.800000       NaN
2130  AS14.13  2014-04-27  8.000000       NaN
2134  AS14.13  2014-04-28  8.166667       NaN
2140  AS14.13  2014-04-29  8.500000       NaN
2144  AS14.13  2014-04-30  7.833333       NaN
2150  AS14.13  2014-05-01  8.333333       NaN
2153  AS14.13  2014-05-02  8.000000       NaN

In [217]:
for id in df_moodAvg['id'].unique():
  dfs['df_moodAvg_'+id]['moodPred'] = dfs['df_moodAvg_'+id]['moodAvg'].shift(periods=1)
  print(dfs['df_moodAvg_'+id])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          id        time   moodAvg  moodPred
0    AS14.01  2014-02-26  6.250000       NaN
4    AS14.01  2014-02-27  6.333333  6.250000
7    AS14.01  2014-03-21  6.200000  6.333333
12   AS14.01  2014-03-22  6.400000  6.200000
17   AS14.01  2014-03-23  6.800000  6.400000
22   AS14.01  2014-03-24  6.000000  6.800000
27   AS14.01  2014-03-25  6.750000  6.000000
31   AS14.01  2014-03-26  6.600000  6.750000
36   AS14.01  2014-03-27  7.000000  6.600000
41   AS14.01  2014-03-28  6.400000  7.000000
46   AS14.01  2014-03-29  8.000000  6.400000
51   AS14.01  2014-03-30  7.500000  8.000000
55   AS14.01  2014-03-31  7.400000  7.500000
60   AS14.01  2014-04-01  6.000000  7.400000
65   AS14.01  2014-04-02  6.500000  6.000000
69   AS14.01  2014-04-03  6.400000  6.500000
74   AS14.01  2014-04-04  6.200000  6.400000
79   AS14.01  2014-04-05  6.800000  6.200000
84   AS14.01  2014-04-06  6.500000  6.800000
88   AS14.01  2014-04-07  6.500000  6.500000
92   AS14.01  2014-04-08  6.600000  6.500000
97   AS14.01  2014-04-09  7.400000  6.600000
102  AS14.01  2014-04-10  7.400000  7.400000
107  AS14.01  2014-04-11  7.000000  7.400000
112  AS14.01  2014-04-12  7.250000  7.000000
116  AS14.01  2014-04-13  8.000000  7.250000
120  AS14.01  2014-04-14  7.200000  8.000000
125  AS14.01  2014-04-15  6.400000  7.200000
130  AS14.01  2014-04-16  7.200000  6.400000
135  AS14.01  2014-04-17  6.600000  7.200000
140  AS14.01  2014-04-18  6.800000  6.600000
145  AS14.01  2014-04-19  7.800000  6.800000
150  AS14.01  2014-04-20  7.250000  7.800000
154  AS14.01  2014-04-21  7.600000  7.250000
159  AS14.01  2014-04-22  7.400000  7.600000
164  AS14.01  2014-04-23  7.600000  7.400000
169  AS14.01  2014-04-24  7.600000  7.600000
174  AS14.01  2014-04-25  7.200000  7.600000
179  AS14.01  2014-04-26  7.600000  7.200000
184  AS14.01  2014-04-27  7.500000  7.600000
188  AS14.01  2014-04-28  7.600000  7.500000
193  AS14.01  2014-04-29  7.000000  7.600000
198  AS14.01  2014-04-30  7.800000  7.000000
203  AS14.01  2014-05-01  8.000000  7.800000
208  AS14.01  2014-05-02  7.600000  8.000000
213  AS14.01  2014-05-03  8.000000  7.600000
218  AS14.01  2014-05-04  8.000000  8.000000
          id        time   moodAvg  moodPred
222  AS14.02  2014-03-16  6.333333       NaN
225  AS14.02  2014-03-17  6.750000  6.333333
229  AS14.02  2014-03-18  8.200000  6.750000
234  AS14.02  2014-03-19  6.800000  8.200000
239  AS14.02  2014-03-20  7.250000  6.800000
243  AS14.02  2014-03-21  7.500000  7.250000
247  AS14.02  2014-03-22  6.500000  7.500000
251  AS14.02  2014-03-23  6.250000  6.500000
255  AS14.02  2014-03-24  6.400000  6.250000
260  AS14.02  2014-03-25  7.750000  6.400000
264  AS14.02  2014-03-26  7.200000  7.750000
269  AS14.02  2014-03-27  7.250000  7.200000
273  AS14.02  2014-03-28  6.800000  7.250000
278  AS14.02  2014-03-29  7.250000  6.800000
282  AS14.02  2014-03-30  7.000000  7.250000
286  AS14.02  2014-03-31  7.200000  7.000000
291  AS14.02  2014-04-01  7.400000  7.200000
296  AS14.02  2014-04-02  6.400000  7.400000
301  AS14.02  2014-04-03  5.750000  6.400000
305  AS14.02  2014-04-04  6.400000  5.750000
310  AS14.02  2014-04-05  7.400000  6.400000
315  AS14.02  2014-04-06  4.500000  7.400000
319  AS14.02  2014-04-07  6.800000  4.500000
324  AS14.02  2014-04-08  6.250000  6.800000
328  AS14.02  2014-04-09  7.250000  6.250000
332  AS14.02  2014-04-10  7.250000  7.250000
336  AS14.02  2014-04-11  6.500000  7.250000
340  AS14.02  2014-04-12  6.000000  6.500000
341  AS14.02  2014-04-13  7.200000  6.000000
346  AS14.02  2014-04-14  8.000000  7.200000
350  AS14.02  2014-04-15  7.250000  8.000000
354  AS14.02  2014-04-16  6.666667  7.250000
357  AS14.02  2014-04-17  6.500000  6.666667
361  AS14.02  2014-04-18  6.500000  6.500000
365  AS14.02  2014-04-19  5.666667  6.500000
368  AS14.02  2014-04-20  5.000000  5.666667
371  AS14.02  2014-04-21  5.500000  5.000000
373  AS14.02  2014-04-22  5.666667  5.500000
376  AS14.02  2014-04-23  5.500000  5.666667
378  AS14.02  2014-04-24  7.000000  5.500000
380  AS14.02  2014-04-25  9.000000  7.000000
          id        time   moodAvg  moodPred
381  AS14.03  2014-03-21  9.000000       NaN
383  AS14.03  2014-03-22  7.800000  9.000000
388  AS14.03  2014-03-23  8.200000  7.800000
393  AS14.03  2014-03-24  7.800000  8.200000
398  AS14.03  2014-03-25  7.800000  7.800000
403  AS14.03  2014-03-26  8.250000  7.800000
407  AS14.03  2014-03-27  7.750000  8.250000
411  AS14.03  2014-03-28  8.000000  7.750000
415  AS14.03  2014-03-29  8.600000  8.000000
420  AS14.03  2014-03-30  8.400000  8.600000
425  AS14.03  2014-03-31  7.400000  8.400000
430  AS14.03  2014-04-01  7.600000  7.400000
435  AS14.03  2014-04-02  7.400000  7.600000
440  AS14.03  2014-04-03  7.800000  7.400000
445  AS14.03  2014-04-04  7.800000  7.800000
450  AS14.03  2014-04-05  7.600000  7.800000
455  AS14.03  2014-04-06  6.800000  7.600000
460  AS14.03  2014-04-07  7.400000  6.800000
465  AS14.03  2014-04-08  7.400000  7.400000
470  AS14.03  2014-04-09  7.800000  7.400000
475  AS14.03  2014-04-10  7.400000  7.800000
480  AS14.03  2014-04-11  7.600000  7.400000
485  AS14.03  2014-04-12  7.666667  7.600000
488  AS14.03  2014-04-13  7.400000  7.666667
493  AS14.03  2014-04-14  7.000000  7.400000
498  AS14.03  2014-04-15  7.600000  7.000000
503  AS14.03  2014-04-16  8.000000  7.600000
508  AS14.03  2014-04-17  7.250000  8.000000
512  AS14.03  2014-04-18  7.500000  7.250000
516  AS14.03  2014-04-19  7.800000  7.500000
521  AS14.03  2014-04-20  7.500000  7.800000
525  AS14.03  2014-04-21  7.400000  7.500000
530  AS14.03  2014-04-22  7.600000  7.400000
535  AS14.03  2014-04-23  7.000000  7.600000
540  AS14.03  2014-04-24  7.400000  7.000000
545  AS14.03  2014-04-25  7.500000  7.400000
549  AS14.03  2014-04-26  7.500000  7.500000
553  AS14.03  2014-04-27  7.600000  7.500000
558  AS14.03  2014-04-28  7.000000  7.600000
563  AS14.03  2014-04-29  7.200000  7.000000
568  AS14.03  2014-04-30  7.000000  7.200000
573  AS14.03  2014-05-01  7.200000  7.000000
578  AS14.03  2014-05-02  7.600000  7.200000
583  AS14.03  2014-05-03  7.750000  7.600000
587  AS14.03  2014-05-04  7.400000  7.750000
592  AS14.03  2014-05-05  7.250000  7.400000
596  AS14.03  2014-05-07  7.666667  7.250000
          id        time   moodAvg  moodPred
602  AS14.05  2014-03-14  8.000000       NaN
603  AS14.05  2014-03-15  6.200000  8.000000
608  AS14.05  2014-03-16  6.333333  6.200000
611  AS14.05  2014-03-17  6.000000  6.333333
616  AS14.05  2014-03-18  7.500000  6.000000
620  AS14.05  2014-03-19  6.750000  7.500000
624  AS14.05  2014-03-20  7.200000  6.750000
629  AS14.05  2014-03-21  7.250000  7.200000
633  AS14.05  2014-03-22  3.750000  7.250000
637  AS14.05  2014-03-23  4.400000  3.750000
642  AS14.05  2014-03-24  3.750000  4.400000
646  AS14.05  2014-03-25  5.333333  3.750000
649  AS14.05  2014-03-26  5.500000  5.333333
653  AS14.05  2014-03-27  5.800000  5.500000
658  AS14.05  2014-03-28  6.200000  5.800000
663  AS14.05  2014-03-29  6.400000  6.200000
668  AS14.05  2014-03-30  6.200000  6.400000
673  AS14.05  2014-03-31  6.800000  6.200000
678  AS14.05  2014-04-01  7.000000  6.800000
683  AS14.05  2014-04-02  7.000000  7.000000
688  AS14.05  2014-04-03  7.200000  7.000000
693  AS14.05  2014-04-04  7.000000  7.200000
698  AS14.05  2014-04-05  7.500000  7.000000
702  AS14.05  2014-04-06  6.800000  7.500000
707  AS14.05  2014-04-07  6.750000  6.800000
711  AS14.05  2014-04-08  6.750000  6.750000
715  AS14.05  2014-04-09  7.000000  6.750000
719  AS14.05  2014-04-10  7.200000  7.000000
724  AS14.05  2014-04-11  7.000000  7.200000
729  AS14.05  2014-04-12  7.000000  7.000000
734  AS14.05  2014-04-13  7.500000  7.000000
738  AS14.05  2014-04-14  6.400000  7.500000
743  AS14.05  2014-04-15  7.000000  6.400000
748  AS14.05  2014-04-16  7.200000  7.000000
753  AS14.05  2014-04-17  6.600000  7.200000
758  AS14.05  2014-04-18  7.500000  6.600000
762  AS14.05  2014-04-19  7.200000  7.500000
767  AS14.05  2014-04-20  7.200000  7.200000
772  AS14.05  2014-04-21  7.200000  7.200000
777  AS14.05  2014-04-22  7.200000  7.200000
782  AS14.05  2014-04-23  7.200000  7.200000
787  AS14.05  2014-04-24  7.200000  7.200000
792  AS14.05  2014-04-25  7.200000  7.200000
797  AS14.05  2014-04-26  7.800000  7.200000
802  AS14.05  2014-04-27  7.400000  7.800000
807  AS14.05  2014-04-28  7.000000  7.400000
812  AS14.05  2014-04-29  6.800000  7.000000
817  AS14.05  2014-04-30  7.000000  6.800000
822  AS14.05  2014-05-01  6.800000  7.000000
827  AS14.05  2014-05-02  7.000000  6.800000
832  AS14.05  2014-05-03  6.750000  7.000000
836  AS14.05  2014-05-04  7.000000  6.750000
840  AS14.05  2014-05-05  6.333333  7.000000
           id        time  moodAvg  moodPred
843   AS14.06  2014-03-24     7.00       NaN
844   AS14.06  2014-03-25     7.00      7.00
849   AS14.06  2014-03-26     8.00      7.00
853   AS14.06  2014-03-27     7.00      8.00
857   AS14.06  2014-03-28     7.60      7.00
862   AS14.06  2014-03-29     7.80      7.60
867   AS14.06  2014-03-30     7.80      7.80
872   AS14.06  2014-03-31     7.00      7.80
877   AS14.06  2014-04-01     7.75      7.00
881   AS14.06  2014-04-02     6.80      7.75
886   AS14.06  2014-04-03     7.20      6.80
891   AS14.06  2014-04-04     7.00      7.20
896   AS14.06  2014-04-05     7.00      7.00
901   AS14.06  2014-04-06     7.00      7.00
906   AS14.06  2014-04-07     6.20      7.00
911   AS14.06  2014-04-08     6.60      6.20
916   AS14.06  2014-04-09     7.40      6.60
921   AS14.06  2014-04-10     7.60      7.40
926   AS14.06  2014-04-11     7.80      7.60
931   AS14.06  2014-04-12     8.20      7.80
936   AS14.06  2014-04-13     6.50      8.20
940   AS14.06  2014-04-14     7.25      6.50
944   AS14.06  2014-04-15     7.00      7.25
949   AS14.06  2014-04-16     7.60      7.00
954   AS14.06  2014-04-17     6.80      7.60
959   AS14.06  2014-04-18     6.25      6.80
963   AS14.06  2014-04-19     6.80      6.25
968   AS14.06  2014-04-20     8.20      6.80
973   AS14.06  2014-04-21     7.00      8.20
978   AS14.06  2014-04-22     6.60      7.00
983   AS14.06  2014-04-23     7.00      6.60
988   AS14.06  2014-04-24     7.75      7.00
992   AS14.06  2014-04-25     6.40      7.75
997   AS14.06  2014-04-26     7.50      6.40
1001  AS14.06  2014-04-27     7.20      7.50
1006  AS14.06  2014-04-28     6.75      7.20
1010  AS14.06  2014-04-29     7.25      6.75
1014  AS14.06  2014-04-30     6.80      7.25
1019  AS14.06  2014-05-01     8.00      6.80
1024  AS14.06  2014-05-02     7.20      8.00
1029  AS14.06  2014-05-03     6.25      7.20
1033  AS14.06  2014-05-04     7.60      6.25
1038  AS14.06  2014-05-05     7.00      7.60
1041  AS14.06  2014-05-07     6.75      7.00
1045  AS14.06  2014-05-08     7.00      6.75
           id        time   moodAvg  moodPred
1046  AS14.07  2014-03-19  6.800000       NaN
1051  AS14.07  2014-03-20  5.250000  6.800000
1055  AS14.07  2014-03-21  7.000000  5.250000
1058  AS14.07  2014-03-22  6.000000  7.000000
1063  AS14.07  2014-03-23  7.750000  6.000000
1067  AS14.07  2014-03-24  8.000000  7.750000
1069  AS14.07  2014-03-25  7.666667  8.000000
1075  AS14.07  2014-03-26  6.600000  7.666667
1080  AS14.07  2014-03-27  6.800000  6.600000
1085  AS14.07  2014-03-28  8.250000  6.800000
1089  AS14.07  2014-03-29  7.000000  8.250000
1094  AS14.07  2014-03-30  6.200000  7.000000
1099  AS14.07  2014-03-31  4.333333  6.200000
1102  AS14.07  2014-04-01  6.600000  4.333333
1107  AS14.07  2014-04-02  5.500000  6.600000
1111  AS14.07  2014-04-03  6.200000  5.500000
1116  AS14.07  2014-04-04  6.500000  6.200000
1120  AS14.07  2014-04-05  6.000000  6.500000
1123  AS14.07  2014-04-06  6.750000  6.000000
1127  AS14.07  2014-04-07  5.400000  6.750000
1132  AS14.07  2014-04-08  6.800000  5.400000
1137  AS14.07  2014-04-09  6.400000  6.800000
1142  AS14.07  2014-04-10  6.200000  6.400000
1147  AS14.07  2014-04-11  3.500000  6.200000
1149  AS14.07  2014-04-12  6.400000  3.500000
1154  AS14.07  2014-04-13  6.500000  6.400000
1158  AS14.07  2014-04-14  6.200000  6.500000
1163  AS14.07  2014-04-15  6.000000  6.200000
1167  AS14.07  2014-04-16  4.750000  6.000000
1171  AS14.07  2014-04-17  3.800000  4.750000
1176  AS14.07  2014-04-18  5.200000  3.800000
1181  AS14.07  2014-04-19  7.000000  5.200000
1185  AS14.07  2014-04-20  3.000000  7.000000
1186  AS14.07  2014-04-21  6.600000  3.000000
1191  AS14.07  2014-04-22  6.000000  6.600000
1196  AS14.07  2014-04-23  6.000000  6.000000
1199  AS14.07  2014-04-24  5.600000  6.000000
1204  AS14.07  2014-04-25  3.333333  5.600000
1207  AS14.07  2014-04-26  5.400000  3.333333
1212  AS14.07  2014-04-27  6.000000  5.400000
1217  AS14.07  2014-04-28  6.750000  6.000000
1221  AS14.07  2014-04-29  5.000000  6.750000
1222  AS14.07  2014-04-30  5.000000  5.000000
1224  AS14.07  2014-05-01  5.000000  5.000000
1227  AS14.07  2014-05-02  6.200000  5.000000
1232  AS14.07  2014-05-03  5.666667  6.200000
1235  AS14.07  2014-05-04  8.000000  5.666667
1236  AS14.07  2014-05-05  5.500000  8.000000
           id        time   moodAvg  moodPred
1238  AS14.08  2014-03-05  6.333333       NaN
1241  AS14.08  2014-03-06  7.200000  6.333333
1246  AS14.08  2014-03-07  7.400000  7.200000
1251  AS14.08  2014-03-08  7.000000  7.400000
1256  AS14.08  2014-03-09  7.200000  7.000000
...       ...         ...       ...       ...
1514  AS14.08  2014-05-01  7.000000  6.666667
1519  AS14.08  2014-05-02  7.200000  7.000000
1524  AS14.08  2014-05-03  7.400000  7.200000
1529  AS14.08  2014-05-04  6.800000  7.400000
1534  AS14.08  2014-05-05  6.666667  6.800000

[62 rows x 4 columns]
           id        time   moodAvg  moodPred
1537  AS14.09  2014-03-21  7.000000       NaN
1538  AS14.09  2014-03-22  7.000000  7.000000
1541  AS14.09  2014-03-23  6.750000  7.000000
1545  AS14.09  2014-03-24  7.250000  6.750000
1549  AS14.09  2014-03-25  6.200000  7.250000
1554  AS14.09  2014-03-26  7.750000  6.200000
1558  AS14.09  2014-03-27  7.800000  7.750000
1563  AS14.09  2014-03-28  8.250000  7.800000
1567  AS14.09  2014-03-29  8.000000  8.250000
1572  AS14.09  2014-03-30  7.750000  8.000000
1576  AS14.09  2014-03-31  7.000000  7.750000
1581  AS14.09  2014-04-01  7.600000  7.000000
1586  AS14.09  2014-04-02  6.200000  7.600000
1591  AS14.09  2014-04-03  7.600000  6.200000
1596  AS14.09  2014-04-04  7.250000  7.600000
1600  AS14.09  2014-04-05  7.500000  7.250000
1604  AS14.09  2014-04-06  6.800000  7.500000
1609  AS14.09  2014-04-07  6.200000  6.800000
1614  AS14.09  2014-04-08  7.200000  6.200000
1619  AS14.09  2014-04-09  6.500000  7.200000
1623  AS14.09  2014-04-10  6.000000  6.500000
1627  AS14.09  2014-04-11  6.800000  6.000000
1632  AS14.09  2014-04-12  7.000000  6.800000
1637  AS14.09  2014-04-13  6.000000  7.000000
1642  AS14.09  2014-04-14  5.800000  6.000000
1647  AS14.09  2014-04-15  6.000000  5.800000
1652  AS14.09  2014-04-16  5.500000  6.000000
1656  AS14.09  2014-04-17  7.000000  5.500000
1660  AS14.09  2014-04-18  6.600000  7.000000
1665  AS14.09  2014-04-19  8.000000  6.600000
1669  AS14.09  2014-04-20  6.250000  8.000000
1673  AS14.09  2014-04-21  6.500000  6.250000
1677  AS14.09  2014-04-22  6.600000  6.500000
1682  AS14.09  2014-04-23  6.333333  6.600000
1685  AS14.09  2014-04-24  7.200000  6.333333
1690  AS14.09  2014-04-25  7.250000  7.200000
1694  AS14.09  2014-04-26  8.000000  7.250000
1697  AS14.09  2014-04-27  6.250000  8.000000
1701  AS14.09  2014-04-28  6.600000  6.250000
1706  AS14.09  2014-04-29  6.750000  6.600000
1710  AS14.09  2014-04-30  7.000000  6.750000
1714  AS14.09  2014-05-01  7.500000  7.000000
1718  AS14.09  2014-05-02  7.600000  7.500000
1723  AS14.09  2014-05-03  7.750000  7.600000
1727  AS14.09  2014-05-04  6.600000  7.750000
1732  AS14.09  2014-05-05  6.000000  6.600000
           id        time  moodAvg  moodPred
1734  AS14.12  2014-03-15     5.50       NaN
1736  AS14.12  2014-03-27     7.00      5.50
1740  AS14.12  2014-03-28     6.75      7.00
1744  AS14.12  2014-03-29     6.75      6.75
1748  AS14.12  2014-03-30     5.80      6.75
1753  AS14.12  2014-03-31     6.40      5.80
1758  AS14.12  2014-04-01     6.40      6.40
1763  AS14.12  2014-04-02     6.00      6.40
1768  AS14.12  2014-04-03     5.40      6.00
1773  AS14.12  2014-04-04     6.50      5.40
1777  AS14.12  2014-04-05     6.20      6.50
1782  AS14.12  2014-04-06     6.25      6.20
1786  AS14.12  2014-04-07     6.40      6.25
1791  AS14.12  2014-04-08     6.25      6.40
1795  AS14.12  2014-04-09     5.25      6.25
1799  AS14.12  2014-04-10     6.40      5.25
1804  AS14.12  2014-04-11     6.60      6.40
1809  AS14.12  2014-04-12     6.80      6.60
1814  AS14.12  2014-04-13     5.60      6.80
1819  AS14.12  2014-04-14     6.60      5.60
1824  AS14.12  2014-04-15     6.80      6.60
1829  AS14.12  2014-04-16     7.00      6.80
1833  AS14.12  2014-04-17     6.80      7.00
1838  AS14.12  2014-04-18     6.60      6.80
1843  AS14.12  2014-04-19     5.80      6.60
1848  AS14.12  2014-04-20     6.40      5.80
1853  AS14.12  2014-04-21     6.00      6.40
1857  AS14.12  2014-04-22     6.50      6.00
1861  AS14.12  2014-04-23     5.80      6.50
1866  AS14.12  2014-04-24     6.60      5.80
1871  AS14.12  2014-04-25     5.60      6.60
1876  AS14.12  2014-04-26     7.00      5.60
1880  AS14.12  2014-04-27     6.00      7.00
1884  AS14.12  2014-04-28     6.60      6.00
1889  AS14.12  2014-04-29     6.00      6.60
1894  AS14.12  2014-04-30     6.25      6.00
1898  AS14.12  2014-05-01     6.20      6.25
1903  AS14.12  2014-05-02     5.50      6.20
1905  AS14.12  2014-05-03     5.60      5.50
1910  AS14.12  2014-05-04     4.80      5.60
1915  AS14.12  2014-05-05     6.00      4.80
           id        time   moodAvg  moodPred
1919  AS14.13  2014-03-13  7.000000       NaN
1920  AS14.13  2014-03-14  7.800000  7.000000
1925  AS14.13  2014-03-15  7.000000  7.800000
1930  AS14.13  2014-03-16  6.400000  7.000000
1935  AS14.13  2014-03-17  6.600000  6.400000
1940  AS14.13  2014-03-18  7.000000  6.600000
1945  AS14.13  2014-03-19  7.800000  7.000000
1950  AS14.13  2014-03-20  6.400000  7.800000
1955  AS14.13  2014-03-21  6.400000  6.400000
1960  AS14.13  2014-03-22  8.400000  6.400000
1965  AS14.13  2014-03-23  7.400000  8.400000
1970  AS14.13  2014-03-24  8.800000  7.400000
1975  AS14.13  2014-03-25  7.600000  8.800000
1980  AS14.13  2014-03-26  8.400000  7.600000
1985  AS14.13  2014-03-27  7.400000  8.400000
1990  AS14.13  2014-03-28  7.600000  7.400000
1995  AS14.13  2014-03-29  7.200000  7.600000
2000  AS14.13  2014-03-30  6.200000  7.200000
2005  AS14.13  2014-03-31  7.000000  6.200000
2010  AS14.13  2014-04-01  7.500000  7.000000
2014  AS14.13  2014-04-02  7.400000  7.500000
2019  AS14.13  2014-04-03  7.600000  7.400000
2024  AS14.13  2014-04-04  7.800000  7.600000
2029  AS14.13  2014-04-05  6.800000  7.800000
2034  AS14.13  2014-04-06  6.250000  6.800000
2038  AS14.13  2014-04-07  7.400000  6.250000
2043  AS14.13  2014-04-08  8.200000  7.400000
2048  AS14.13  2014-04-09  7.800000  8.200000
2053  AS14.13  2014-04-10  7.600000  7.800000
2058  AS14.13  2014-04-11  6.800000  7.600000
2063  AS14.13  2014-04-12  6.800000  6.800000
2068  AS14.13  2014-04-13  6.600000  6.800000
2073  AS14.13  2014-04-14  6.800000  6.600000
2078  AS14.13  2014-04-15  6.000000  6.800000
2083  AS14.13  2014-04-16  6.000000  6.000000
2087  AS14.13  2014-04-17  6.400000  6.000000
2092  AS14.13  2014-04-18  3.500000  6.400000
2094  AS14.13  2014-04-19  7.200000  3.500000
2099  AS14.13  2014-04-20  6.600000  7.200000
2104  AS14.13  2014-04-21  7.400000  6.600000
2109  AS14.13  2014-04-22  5.750000  7.400000
2113  AS14.13  2014-04-23  7.400000  5.750000
2118  AS14.13  2014-04-24  7.666667  7.400000
2121  AS14.13  2014-04-25  7.750000  7.666667
2125  AS14.13  2014-04-26  8.800000  7.750000
2130  AS14.13  2014-04-27  8.000000  8.800000
2134  AS14.13  2014-04-28  8.166667  8.000000
2140  AS14.13  2014-04-29  8.500000  8.166667
2144  AS14.13  2014-04-30  7.833333  8.500000
2150  AS14.13  2014-05-01  8.333333  7.833333
2153  AS14.13  2014-05-02  8.000000  8.333333

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy