<a href="https://colab.research.google.com/github/guybrush1989/DMT-Group80/blob/master/benchmark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls '/content/drive/My Drive/Group 80 - DTM/assignment1/'

 assignment_1_advanced.pdf     Report.gdoc
 dataset_mood_smartphone.csv  'Scientific explanation algorithms DSS.docx'
'General Summary.gdoc'	       sources
 Log.gdoc

In [0]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Group 80 - DTM/assignment1/dataset_mood_smartphone.csv')

In [4]:
df.head(5)

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [0]:
df = df[['id','time','variable','value']]

In [6]:
df_mood = df.loc[df['variable'] == 'mood']
df_mood

           id                     time variable  value
0     AS14.01  2014-02-26 13:00:00.000     mood    6.0
1     AS14.01  2014-02-26 15:00:00.000     mood    6.0
2     AS14.01  2014-02-26 18:00:00.000     mood    6.0
3     AS14.01  2014-02-26 21:00:00.000     mood    7.0
4     AS14.01  2014-02-27 09:00:00.000     mood    6.0
...       ...                      ...      ...    ...
5636  AS14.33  2014-05-30 09:00:00.000     mood    8.0
5637  AS14.33  2014-05-30 13:00:00.000     mood    6.0
5638  AS14.33  2014-05-30 19:00:00.000     mood    8.0
5639  AS14.33  2014-05-30 20:00:00.000     mood    6.0
5640  AS14.33  2014-05-31 12:00:00.000     mood    7.0

[5641 rows x 4 columns]

In [0]:
import numpy as np

df_mood = df_mood.drop(columns=['variable'])
df_mood = df_mood.rename(columns={'value':'mood'})

df_mood['moodAvg'] = np.nan
df_mood['moodPred'] = np.nan

In [8]:
df_mood.loc[df_mood['time']=='2014-04-17 11:00:00.000']

           id                     time  mood  moodAvg  moodPred
135   AS14.01  2014-04-17 11:00:00.000   7.0      NaN       NaN
136   AS14.01  2014-04-17 11:00:00.000   6.0      NaN       NaN
5380  AS14.32  2014-04-17 11:00:00.000   8.0      NaN       NaN

In [0]:
df_mood = df_mood.drop_duplicates(subset=['id','time'], keep='last').reset_index(drop=True)

In [10]:
df_mood.loc[df_mood['time']=='2014-04-17 11:00:00.000']

           id                     time  mood  moodAvg  moodPred
135   AS14.01  2014-04-17 11:00:00.000   6.0      NaN       NaN
5368  AS14.32  2014-04-17 11:00:00.000   8.0      NaN       NaN

In [11]:
for index in df_mood.index:
  df_mood.iloc[index,1] = pd.to_datetime(df_mood.iloc[index,1]).date()

df_mood

           id        time  mood  moodAvg  moodPred
0     AS14.01  2014-02-26   6.0      NaN       NaN
1     AS14.01  2014-02-26   6.0      NaN       NaN
2     AS14.01  2014-02-26   6.0      NaN       NaN
3     AS14.01  2014-02-26   7.0      NaN       NaN
4     AS14.01  2014-02-27   6.0      NaN       NaN
...       ...         ...   ...      ...       ...
5623  AS14.33  2014-05-30   8.0      NaN       NaN
5624  AS14.33  2014-05-30   6.0      NaN       NaN
5625  AS14.33  2014-05-30   8.0      NaN       NaN
5626  AS14.33  2014-05-30   6.0      NaN       NaN
5627  AS14.33  2014-05-31   7.0      NaN       NaN

[5628 rows x 5 columns]

In [12]:
df_mood.loc[df_mood['id']==df_mood.iloc[0,0]][df_mood['time']==df_mood.iloc[0,1]]['mood'].agg('mean')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

6.25

In [13]:
for index in df_mood.index:
  df_mood.iloc[index,3] = df_mood.loc[df_mood['id']==df_mood.iloc[index,0]][df_mood['time']==df_mood.iloc[index,1]]['mood'].agg('mean')

df_mood

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

           id        time  mood   moodAvg  moodPred
0     AS14.01  2014-02-26   6.0  6.250000       NaN
1     AS14.01  2014-02-26   6.0  6.250000       NaN
2     AS14.01  2014-02-26   6.0  6.250000       NaN
3     AS14.01  2014-02-26   7.0  6.250000       NaN
4     AS14.01  2014-02-27   6.0  6.333333       NaN
...       ...         ...   ...       ...       ...
5623  AS14.33  2014-05-30   8.0  6.800000       NaN
5624  AS14.33  2014-05-30   6.0  6.800000       NaN
5625  AS14.33  2014-05-30   8.0  6.800000       NaN
5626  AS14.33  2014-05-30   6.0  6.800000       NaN
5627  AS14.33  2014-05-31   7.0  7.000000       NaN

[5628 rows x 5 columns]

In [14]:
from datetime import date
df_mood.loc[df_mood['time']== date(2014, 4, 17)]

           id        time  mood   moodAvg  moodPred
135   AS14.01  2014-04-17   6.0  6.500000       NaN
136   AS14.01  2014-04-17   7.0  6.500000       NaN
137   AS14.01  2014-04-17   6.0  6.500000       NaN
138   AS14.01  2014-04-17   7.0  6.500000       NaN
356   AS14.02  2014-04-17   5.0  6.666667       NaN
...       ...         ...   ...       ...       ...
5440  AS14.33  2014-04-17   8.0  7.200000       NaN
5441  AS14.33  2014-04-17   6.0  7.200000       NaN
5442  AS14.33  2014-04-17   7.0  7.200000       NaN
5443  AS14.33  2014-04-17   7.0  7.200000       NaN
5444  AS14.33  2014-04-17   8.0  7.200000       NaN

[125 rows x 5 columns]

In [15]:
df_moodAvg = df_mood.drop(columns=['mood'])
df_moodAvg = df_moodAvg.drop_duplicates(subset=['id','time']).reset_index(drop=True)
df_moodAvg

           id        time   moodAvg  moodPred
0     AS14.01  2014-02-26  6.250000       NaN
1     AS14.01  2014-02-27  6.333333       NaN
2     AS14.01  2014-03-21  6.200000       NaN
3     AS14.01  2014-03-22  6.400000       NaN
4     AS14.01  2014-03-23  6.800000       NaN
...       ...         ...       ...       ...
1263  AS14.33  2014-05-27  6.200000       NaN
1264  AS14.33  2014-05-28  8.200000       NaN
1265  AS14.33  2014-05-29  7.000000       NaN
1266  AS14.33  2014-05-30  6.800000       NaN
1267  AS14.33  2014-05-31  7.000000       NaN

[1268 rows x 4 columns]

In [16]:
df_moodAvg['id'].unique()

array(['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07',
       'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15',
       'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24',
       'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30',
       'AS14.31', 'AS14.32', 'AS14.33'], dtype=object)

In [0]:
dfs = {'df_moodAvg_' + str(df_moodAvg['id'].unique()[i]):df_moodAvg.loc[df_moodAvg['id'] == df_moodAvg['id'].unique()[i]].reset_index(drop = True) for i in range(0,df_moodAvg['id'].unique().size)}

In [18]:
print(len(dfs))

27

In [19]:
for id in df_moodAvg['id'].unique():
  print(dfs['df_moodAvg_'+id])

         id        time   moodAvg  moodPred
0   AS14.01  2014-02-26  6.250000       NaN
1   AS14.01  2014-02-27  6.333333       NaN
2   AS14.01  2014-03-21  6.200000       NaN
3   AS14.01  2014-03-22  6.400000       NaN
4   AS14.01  2014-03-23  6.800000       NaN
5   AS14.01  2014-03-24  6.000000       NaN
6   AS14.01  2014-03-25  6.750000       NaN
7   AS14.01  2014-03-26  6.600000       NaN
8   AS14.01  2014-03-27  7.000000       NaN
9   AS14.01  2014-03-28  6.400000       NaN
10  AS14.01  2014-03-29  8.000000       NaN
11  AS14.01  2014-03-30  7.500000       NaN
12  AS14.01  2014-03-31  7.400000       NaN
13  AS14.01  2014-04-01  6.000000       NaN
14  AS14.01  2014-04-02  6.500000       NaN
15  AS14.01  2014-04-03  6.400000       NaN
16  AS14.01  2014-04-04  6.200000       NaN
17  AS14.01  2014-04-05  6.800000       NaN
18  AS14.01  2014-04-06  6.500000       NaN
19  AS14.01  2014-04-07  6.500000       NaN
20  AS14.01  2014-04-08  6.600000       NaN
21  AS14.01  2014-04-09  7.400000       NaN
22  AS14.01  2014-04-10  7.400000       NaN
23  AS14.01  2014-04-11  7.000000       NaN
24  AS14.01  2014-04-12  7.250000       NaN
25  AS14.01  2014-04-13  8.000000       NaN
26  AS14.01  2014-04-14  7.200000       NaN
27  AS14.01  2014-04-15  6.400000       NaN
28  AS14.01  2014-04-16  7.200000       NaN
29  AS14.01  2014-04-17  6.500000       NaN
30  AS14.01  2014-04-18  6.800000       NaN
31  AS14.01  2014-04-19  7.800000       NaN
32  AS14.01  2014-04-20  7.250000       NaN
33  AS14.01  2014-04-21  7.600000       NaN
34  AS14.01  2014-04-22  7.400000       NaN
35  AS14.01  2014-04-23  7.600000       NaN
36  AS14.01  2014-04-24  7.600000       NaN
37  AS14.01  2014-04-25  7.200000       NaN
38  AS14.01  2014-04-26  7.600000       NaN
39  AS14.01  2014-04-27  7.500000       NaN
40  AS14.01  2014-04-28  7.600000       NaN
41  AS14.01  2014-04-29  7.000000       NaN
42  AS14.01  2014-04-30  7.800000       NaN
43  AS14.01  2014-05-01  8.000000       NaN
44  AS14.01  2014-05-02  7.600000       NaN
45  AS14.01  2014-05-03  8.000000       NaN
46  AS14.01  2014-05-04  8.000000       NaN
         id        time   moodAvg  moodPred
0   AS14.02  2014-03-16  6.333333       NaN
1   AS14.02  2014-03-17  6.750000       NaN
2   AS14.02  2014-03-18  8.200000       NaN
3   AS14.02  2014-03-19  6.800000       NaN
4   AS14.02  2014-03-20  7.250000       NaN
5   AS14.02  2014-03-21  7.500000       NaN
6   AS14.02  2014-03-22  6.500000       NaN
7   AS14.02  2014-03-23  6.250000       NaN
8   AS14.02  2014-03-24  6.400000       NaN
9   AS14.02  2014-03-25  7.750000       NaN
10  AS14.02  2014-03-26  7.200000       NaN
11  AS14.02  2014-03-27  7.250000       NaN
12  AS14.02  2014-03-28  6.800000       NaN
13  AS14.02  2014-03-29  7.250000       NaN
14  AS14.02  2014-03-30  7.000000       NaN
15  AS14.02  2014-03-31  7.200000       NaN
16  AS14.02  2014-04-01  7.400000       NaN
17  AS14.02  2014-04-02  6.400000       NaN
18  AS14.02  2014-04-03  5.750000       NaN
19  AS14.02  2014-04-04  6.400000       NaN
20  AS14.02  2014-04-05  7.400000       NaN
21  AS14.02  2014-04-06  4.500000       NaN
22  AS14.02  2014-04-07  6.800000       NaN
23  AS14.02  2014-04-08  6.250000       NaN
24  AS14.02  2014-04-09  7.250000       NaN
25  AS14.02  2014-04-10  7.250000       NaN
26  AS14.02  2014-04-11  6.500000       NaN
27  AS14.02  2014-04-12  6.000000       NaN
28  AS14.02  2014-04-13  7.200000       NaN
29  AS14.02  2014-04-14  8.000000       NaN
30  AS14.02  2014-04-15  7.250000       NaN
31  AS14.02  2014-04-16  6.666667       NaN
32  AS14.02  2014-04-17  6.666667       NaN
33  AS14.02  2014-04-18  6.500000       NaN
34  AS14.02  2014-04-19  5.666667       NaN
35  AS14.02  2014-04-20  5.000000       NaN
36  AS14.02  2014-04-21  6.000000       NaN
37  AS14.02  2014-04-22  5.666667       NaN
38  AS14.02  2014-04-23  5.500000       NaN
39  AS14.02  2014-04-24  7.000000       NaN
40  AS14.02  2014-04-25  9.000000       NaN
         id        time   moodAvg  moodPred
0   AS14.03  2014-03-21  9.000000       NaN
1   AS14.03  2014-03-22  7.800000       NaN
2   AS14.03  2014-03-23  8.200000       NaN
3   AS14.03  2014-03-24  7.800000       NaN
4   AS14.03  2014-03-25  7.800000       NaN
5   AS14.03  2014-03-26  8.250000       NaN
6   AS14.03  2014-03-27  7.750000       NaN
7   AS14.03  2014-03-28  8.000000       NaN
8   AS14.03  2014-03-29  8.600000       NaN
9   AS14.03  2014-03-30  8.400000       NaN
10  AS14.03  2014-03-31  7.400000       NaN
11  AS14.03  2014-04-01  7.600000       NaN
12  AS14.03  2014-04-02  7.400000       NaN
13  AS14.03  2014-04-03  7.800000       NaN
14  AS14.03  2014-04-04  7.800000       NaN
15  AS14.03  2014-04-05  7.600000       NaN
16  AS14.03  2014-04-06  6.800000       NaN
17  AS14.03  2014-04-07  7.400000       NaN
18  AS14.03  2014-04-08  7.400000       NaN
19  AS14.03  2014-04-09  7.800000       NaN
20  AS14.03  2014-04-10  7.400000       NaN
21  AS14.03  2014-04-11  7.600000       NaN
22  AS14.03  2014-04-12  7.666667       NaN
23  AS14.03  2014-04-13  7.400000       NaN
24  AS14.03  2014-04-14  7.000000       NaN
25  AS14.03  2014-04-15  7.600000       NaN
26  AS14.03  2014-04-16  8.000000       NaN
27  AS14.03  2014-04-17  7.250000       NaN
28  AS14.03  2014-04-18  7.500000       NaN
29  AS14.03  2014-04-19  7.800000       NaN
30  AS14.03  2014-04-20  7.500000       NaN
31  AS14.03  2014-04-21  7.400000       NaN
32  AS14.03  2014-04-22  7.600000       NaN
33  AS14.03  2014-04-23  7.000000       NaN
34  AS14.03  2014-04-24  7.400000       NaN
35  AS14.03  2014-04-25  7.500000       NaN
36  AS14.03  2014-04-26  7.500000       NaN
37  AS14.03  2014-04-27  7.600000       NaN
38  AS14.03  2014-04-28  7.000000       NaN
39  AS14.03  2014-04-29  7.200000       NaN
40  AS14.03  2014-04-30  7.000000       NaN
41  AS14.03  2014-05-01  7.200000       NaN
42  AS14.03  2014-05-02  7.600000       NaN
43  AS14.03  2014-05-03  7.750000       NaN
44  AS14.03  2014-05-04  7.400000       NaN
45  AS14.03  2014-05-05  7.250000       NaN
46  AS14.03  2014-05-07  7.666667       NaN
         id        time   moodAvg  moodPred
0   AS14.05  2014-03-14  8.000000       NaN
1   AS14.05  2014-03-15  6.200000       NaN
2   AS14.05  2014-03-16  6.333333       NaN
3   AS14.05  2014-03-17  6.000000       NaN
4   AS14.05  2014-03-18  7.500000       NaN
5   AS14.05  2014-03-19  6.750000       NaN
6   AS14.05  2014-03-20  7.200000       NaN
7   AS14.05  2014-03-21  7.250000       NaN
8   AS14.05  2014-03-22  3.750000       NaN
9   AS14.05  2014-03-23  4.400000       NaN
10  AS14.05  2014-03-24  3.750000       NaN
11  AS14.05  2014-03-25  5.333333       NaN
12  AS14.05  2014-03-26  5.500000       NaN
13  AS14.05  2014-03-27  5.800000       NaN
14  AS14.05  2014-03-28  6.200000       NaN
15  AS14.05  2014-03-29  6.400000       NaN
16  AS14.05  2014-03-30  6.200000       NaN
17  AS14.05  2014-03-31  6.800000       NaN
18  AS14.05  2014-04-01  7.000000       NaN
19  AS14.05  2014-04-02  7.000000       NaN
20  AS14.05  2014-04-03  7.200000       NaN
21  AS14.05  2014-04-04  7.000000       NaN
22  AS14.05  2014-04-05  7.500000       NaN
23  AS14.05  2014-04-06  6.800000       NaN
24  AS14.05  2014-04-07  6.750000       NaN
25  AS14.05  2014-04-08  6.750000       NaN
26  AS14.05  2014-04-09  7.000000       NaN
27  AS14.05  2014-04-10  7.200000       NaN
28  AS14.05  2014-04-11  7.000000       NaN
29  AS14.05  2014-04-12  7.000000       NaN
30  AS14.05  2014-04-13  7.500000       NaN
31  AS14.05  2014-04-14  6.400000       NaN
32  AS14.05  2014-04-15  7.000000       NaN
33  AS14.05  2014-04-16  7.200000       NaN
34  AS14.05  2014-04-17  6.600000       NaN
35  AS14.05  2014-04-18  7.500000       NaN
36  AS14.05  2014-04-19  7.200000       NaN
37  AS14.05  2014-04-20  7.200000       NaN
38  AS14.05  2014-04-21  7.200000       NaN
39  AS14.05  2014-04-22  7.200000       NaN
40  AS14.05  2014-04-23  7.200000       NaN
41  AS14.05  2014-04-24  7.200000       NaN
42  AS14.05  2014-04-25  7.200000       NaN
43  AS14.05  2014-04-26  7.800000       NaN
44  AS14.05  2014-04-27  7.400000       NaN
45  AS14.05  2014-04-28  7.000000       NaN
46  AS14.05  2014-04-29  6.800000       NaN
47  AS14.05  2014-04-30  7.000000       NaN
48  AS14.05  2014-05-01  6.800000       NaN
49  AS14.05  2014-05-02  7.000000       NaN
50  AS14.05  2014-05-03  6.750000       NaN
51  AS14.05  2014-05-04  7.000000       NaN
52  AS14.05  2014-05-05  6.333333       NaN
         id        time   moodAvg  moodPred
0   AS14.06  2014-03-24  7.000000       NaN
1   AS14.06  2014-03-25  7.000000       NaN
2   AS14.06  2014-03-26  8.000000       NaN
3   AS14.06  2014-03-27  7.000000       NaN
4   AS14.06  2014-03-28  7.600000       NaN
5   AS14.06  2014-03-29  7.800000       NaN
6   AS14.06  2014-03-30  7.800000       NaN
7   AS14.06  2014-03-31  7.000000       NaN
8   AS14.06  2014-04-01  7.750000       NaN
9   AS14.06  2014-04-02  6.800000       NaN
10  AS14.06  2014-04-03  7.200000       NaN
11  AS14.06  2014-04-04  7.000000       NaN
12  AS14.06  2014-04-05  7.000000       NaN
13  AS14.06  2014-04-06  7.000000       NaN
14  AS14.06  2014-04-07  6.200000       NaN
15  AS14.06  2014-04-08  6.600000       NaN
16  AS14.06  2014-04-09  7.400000       NaN
17  AS14.06  2014-04-10  7.600000       NaN
18  AS14.06  2014-04-11  7.800000       NaN
19  AS14.06  2014-04-12  8.200000       NaN
20  AS14.06  2014-04-13  6.333333       NaN
21  AS14.06  2014-04-14  7.250000       NaN
22  AS14.06  2014-04-15  7.000000       NaN
23  AS14.06  2014-04-16  7.600000       NaN
24  AS14.06  2014-04-17  6.800000       NaN
25  AS14.06  2014-04-18  6.250000       NaN
26  AS14.06  2014-04-19  6.800000       NaN
27  AS14.06  2014-04-20  8.200000       NaN
28  AS14.06  2014-04-21  7.000000       NaN
29  AS14.06  2014-04-22  6.600000       NaN
30  AS14.06  2014-04-23  7.000000       NaN
31  AS14.06  2014-04-24  7.750000       NaN
32  AS14.06  2014-04-25  6.400000       NaN
33  AS14.06  2014-04-26  7.500000       NaN
34  AS14.06  2014-04-27  7.200000       NaN
35  AS14.06  2014-04-28  6.750000       NaN
36  AS14.06  2014-04-29  7.250000       NaN
37  AS14.06  2014-04-30  6.800000       NaN
38  AS14.06  2014-05-01  8.000000       NaN
39  AS14.06  2014-05-02  7.200000       NaN
40  AS14.06  2014-05-03  6.250000       NaN
41  AS14.06  2014-05-04  7.600000       NaN
42  AS14.06  2014-05-05  7.000000       NaN
43  AS14.06  2014-05-07  6.750000       NaN
44  AS14.06  2014-05-08  7.000000       NaN
         id        time   moodAvg  moodPred
0   AS14.07  2014-03-19  6.800000       NaN
1   AS14.07  2014-03-20  5.250000       NaN
2   AS14.07  2014-03-21  7.000000       NaN
3   AS14.07  2014-03-22  6.000000       NaN
4   AS14.07  2014-03-23  7.750000       NaN
5   AS14.07  2014-03-24  8.000000       NaN
6   AS14.07  2014-03-25  7.666667       NaN
7   AS14.07  2014-03-26  6.600000       NaN
8   AS14.07  2014-03-27  6.800000       NaN
9   AS14.07  2014-03-28  8.250000       NaN
10  AS14.07  2014-03-29  7.000000       NaN
11  AS14.07  2014-03-30  6.200000       NaN
12  AS14.07  2014-03-31  4.333333       NaN
13  AS14.07  2014-04-01  6.600000       NaN
14  AS14.07  2014-04-02  5.500000       NaN
15  AS14.07  2014-04-03  6.200000       NaN
16  AS14.07  2014-04-04  6.500000       NaN
17  AS14.07  2014-04-05  6.000000       NaN
18  AS14.07  2014-04-06  6.750000       NaN
19  AS14.07  2014-04-07  5.400000       NaN
20  AS14.07  2014-04-08  6.800000       NaN
21  AS14.07  2014-04-09  6.400000       NaN
22  AS14.07  2014-04-10  6.200000       NaN
23  AS14.07  2014-04-11  3.500000       NaN
24  AS14.07  2014-04-12  6.400000       NaN
25  AS14.07  2014-04-13  6.500000       NaN
26  AS14.07  2014-04-14  6.200000       NaN
27  AS14.07  2014-04-15  6.000000       NaN
28  AS14.07  2014-04-16  4.750000       NaN
29  AS14.07  2014-04-17  3.800000       NaN
30  AS14.07  2014-04-18  5.200000       NaN
31  AS14.07  2014-04-19  7.000000       NaN
32  AS14.07  2014-04-20  3.000000       NaN
33  AS14.07  2014-04-21  6.600000       NaN
34  AS14.07  2014-04-22  6.000000       NaN
35  AS14.07  2014-04-23  6.000000       NaN
36  AS14.07  2014-04-24  5.600000       NaN
37  AS14.07  2014-04-25  3.333333       NaN
38  AS14.07  2014-04-26  5.400000       NaN
39  AS14.07  2014-04-27  6.000000       NaN
40  AS14.07  2014-04-28  6.750000       NaN
41  AS14.07  2014-04-29  5.000000       NaN
42  AS14.07  2014-04-30  5.000000       NaN
43  AS14.07  2014-05-01  5.000000       NaN
44  AS14.07  2014-05-02  6.200000       NaN
45  AS14.07  2014-05-03  5.666667       NaN
46  AS14.07  2014-05-04  8.000000       NaN
47  AS14.07  2014-05-05  5.500000       NaN
         id        time   moodAvg  moodPred
0   AS14.08  2014-03-05  6.333333       NaN
1   AS14.08  2014-03-06  7.200000       NaN
2   AS14.08  2014-03-07  7.400000       NaN
3   AS14.08  2014-03-08  7.000000       NaN
4   AS14.08  2014-03-09  7.200000       NaN
..      ...         ...       ...       ...
57  AS14.08  2014-05-01  7.000000       NaN
58  AS14.08  2014-05-02  7.200000       NaN
59  AS14.08  2014-05-03  7.400000       NaN
60  AS14.08  2014-05-04  6.800000       NaN
61  AS14.08  2014-05-05  6.666667       NaN

[62 rows x 4 columns]
         id        time   moodAvg  moodPred
0   AS14.09  2014-03-21  7.000000       NaN
1   AS14.09  2014-03-22  7.000000       NaN
2   AS14.09  2014-03-23  6.750000       NaN
3   AS14.09  2014-03-24  7.250000       NaN
4   AS14.09  2014-03-25  6.200000       NaN
5   AS14.09  2014-03-26  7.750000       NaN
6   AS14.09  2014-03-27  7.800000       NaN
7   AS14.09  2014-03-28  8.250000       NaN
8   AS14.09  2014-03-29  8.000000       NaN
9   AS14.09  2014-03-30  7.750000       NaN
10  AS14.09  2014-03-31  7.000000       NaN
11  AS14.09  2014-04-01  7.600000       NaN
12  AS14.09  2014-04-02  6.200000       NaN
13  AS14.09  2014-04-03  7.600000       NaN
14  AS14.09  2014-04-04  7.250000       NaN
15  AS14.09  2014-04-05  7.500000       NaN
16  AS14.09  2014-04-06  6.800000       NaN
17  AS14.09  2014-04-07  6.200000       NaN
18  AS14.09  2014-04-08  7.200000       NaN
19  AS14.09  2014-04-09  6.500000       NaN
20  AS14.09  2014-04-10  6.000000       NaN
21  AS14.09  2014-04-11  6.800000       NaN
22  AS14.09  2014-04-12  7.000000       NaN
23  AS14.09  2014-04-13  6.000000       NaN
24  AS14.09  2014-04-14  5.800000       NaN
25  AS14.09  2014-04-15  6.000000       NaN
26  AS14.09  2014-04-16  5.500000       NaN
27  AS14.09  2014-04-17  7.000000       NaN
28  AS14.09  2014-04-18  6.600000       NaN
29  AS14.09  2014-04-19  8.000000       NaN
30  AS14.09  2014-04-20  6.250000       NaN
31  AS14.09  2014-04-21  6.500000       NaN
32  AS14.09  2014-04-22  6.600000       NaN
33  AS14.09  2014-04-23  6.333333       NaN
34  AS14.09  2014-04-24  7.200000       NaN
35  AS14.09  2014-04-25  7.250000       NaN
36  AS14.09  2014-04-26  8.000000       NaN
37  AS14.09  2014-04-27  6.250000       NaN
38  AS14.09  2014-04-28  6.600000       NaN
39  AS14.09  2014-04-29  6.750000       NaN
40  AS14.09  2014-04-30  7.000000       NaN
41  AS14.09  2014-05-01  7.500000       NaN
42  AS14.09  2014-05-02  7.600000       NaN
43  AS14.09  2014-05-03  7.750000       NaN
44  AS14.09  2014-05-04  6.600000       NaN
45  AS14.09  2014-05-05  6.000000       NaN
         id        time  moodAvg  moodPred
0   AS14.12  2014-03-15     5.50       NaN
1   AS14.12  2014-03-27     7.00       NaN
2   AS14.12  2014-03-28     6.75       NaN
3   AS14.12  2014-03-29     6.75       NaN
4   AS14.12  2014-03-30     5.75       NaN
5   AS14.12  2014-03-31     6.40       NaN
6   AS14.12  2014-04-01     6.40       NaN
7   AS14.12  2014-04-02     6.00       NaN
8   AS14.12  2014-04-03     5.40       NaN
9   AS14.12  2014-04-04     6.50       NaN
10  AS14.12  2014-04-05     6.20       NaN
11  AS14.12  2014-04-06     6.25       NaN
12  AS14.12  2014-04-07     6.40       NaN
13  AS14.12  2014-04-08     6.25       NaN
14  AS14.12  2014-04-09     5.25       NaN
15  AS14.12  2014-04-10     6.40       NaN
16  AS14.12  2014-04-11     6.60       NaN
17  AS14.12  2014-04-12     6.80       NaN
18  AS14.12  2014-04-13     5.60       NaN
19  AS14.12  2014-04-14     6.60       NaN
20  AS14.12  2014-04-15     6.80       NaN
21  AS14.12  2014-04-16     7.00       NaN
22  AS14.12  2014-04-17     6.80       NaN
23  AS14.12  2014-04-18     6.60       NaN
24  AS14.12  2014-04-19     5.80       NaN
25  AS14.12  2014-04-20     6.40       NaN
26  AS14.12  2014-04-21     6.00       NaN
27  AS14.12  2014-04-22     6.50       NaN
28  AS14.12  2014-04-23     5.80       NaN
29  AS14.12  2014-04-24     6.60       NaN
30  AS14.12  2014-04-25     6.00       NaN
31  AS14.12  2014-04-26     7.00       NaN
32  AS14.12  2014-04-27     6.00       NaN
33  AS14.12  2014-04-28     6.60       NaN
34  AS14.12  2014-04-29     6.00       NaN
35  AS14.12  2014-04-30     6.25       NaN
36  AS14.12  2014-05-01     6.20       NaN
37  AS14.12  2014-05-02     5.50       NaN
38  AS14.12  2014-05-03     5.60       NaN
39  AS14.12  2014-05-04     4.80       NaN
40  AS14.12  2014-05-05     6.00       NaN
         id        time   moodAvg  moodPred
0   AS14.13  2014-03-13  7.000000       NaN
1   AS14.13  2014-03-14  7.800000       NaN
2   AS14.13  2014-03-15  7.000000       NaN
3   AS14.13  2014-03-16  6.400000       NaN
4   AS14.13  2014-03-17  6.600000       NaN
5   AS14.13  2014-03-18  7.000000       NaN
6   AS14.13  2014-03-19  7.800000       NaN
7   AS14.13  2014-03-20  6.400000       NaN
8   AS14.13  2014-03-21  6.400000       NaN
9   AS14.13  2014-03-22  8.400000       NaN
10  AS14.13  2014-03-23  7.400000       NaN
11  AS14.13  2014-03-24  8.800000       NaN
12  AS14.13  2014-03-25  7.600000       NaN
13  AS14.13  2014-03-26  8.400000       NaN
14  AS14.13  2014-03-27  7.400000       NaN
15  AS14.13  2014-03-28  7.600000       NaN
16  AS14.13  2014-03-29  7.200000       NaN
17  AS14.13  2014-03-30  6.200000       NaN
18  AS14.13  2014-03-31  7.000000       NaN
19  AS14.13  2014-04-01  7.500000       NaN
20  AS14.13  2014-04-02  7.400000       NaN
21  AS14.13  2014-04-03  7.600000       NaN
22  AS14.13  2014-04-04  7.800000       NaN
23  AS14.13  2014-04-05  6.800000       NaN
24  AS14.13  2014-04-06  6.250000       NaN
25  AS14.13  2014-04-07  7.400000       NaN
26  AS14.13  2014-04-08  8.200000       NaN
27  AS14.13  2014-04-09  7.800000       NaN
28  AS14.13  2014-04-10  7.600000       NaN
29  AS14.13  2014-04-11  6.800000       NaN
30  AS14.13  2014-04-12  6.800000       NaN
31  AS14.13  2014-04-13  6.600000       NaN
32  AS14.13  2014-04-14  6.800000       NaN
33  AS14.13  2014-04-15  6.000000       NaN
34  AS14.13  2014-04-16  6.000000       NaN
35  AS14.13  2014-04-17  6.400000       NaN
36  AS14.13  2014-04-18  3.500000       NaN
37  AS14.13  2014-04-19  7.200000       NaN
38  AS14.13  2014-04-20  6.600000       NaN
39  AS14.13  2014-04-21  7.400000       NaN
40  AS14.13  2014-04-22  5.750000       NaN
41  AS14.13  2014-04-23  7.400000       NaN
42  AS14.13  2014-04-24  7.666667       NaN
43  AS14.13  2014-04-25  7.750000       NaN
44  AS14.13  2014-04-26  8.800000       NaN
45  AS14.13  2014-04-27  8.000000       NaN
46  AS14.13  2014-04-28  8.166667       NaN
47  AS14.13  2014-04-29  8.500000       NaN
48  AS14.13  2014-04-30  7.833333       NaN
49  AS14.13  2014-05-01  8.333333       NaN
50  AS14.13  2014-05-02  8.000000       NaN
51  AS14.13  2014-05-03  7.250000       NaN
52  AS14.13  2014-05-04  8.000000       NaN
         id        time   moodAvg  moodPred
0   AS14.14  2014-03-20  7.000000       NaN
1   AS14.14  2014-03-21  6.400000       NaN
2   AS14.14  2014-03-22  5.800000       NaN
3   AS14.14  2014-03-23  6.000000       NaN
4   AS14.14  2014-03-24  6.500000       NaN
5   AS14.14  2014-03-25  5.750000       NaN
6   AS14.14  2014-03-26  7.000000       NaN
7   AS14.14  2014-03-27  6.600000       NaN
8   AS14.14  2014-03-28  6.200000       NaN
9   AS14.14  2014-03-29  8.000000       NaN
10  AS14.14  2014-03-30  6.500000       NaN

In [20]:
for id in df_moodAvg['id'].unique():
  dfs['df_moodAvg_'+id]['moodPred'] = dfs['df_moodAvg_'+id]['moodAvg'].shift(periods=1)
  print(dfs['df_moodAvg_'+id])

         id        time   moodAvg  moodPred
0   AS14.01  2014-02-26  6.250000       NaN
1   AS14.01  2014-02-27  6.333333  6.250000
2   AS14.01  2014-03-21  6.200000  6.333333
3   AS14.01  2014-03-22  6.400000  6.200000
4   AS14.01  2014-03-23  6.800000  6.400000
5   AS14.01  2014-03-24  6.000000  6.800000
6   AS14.01  2014-03-25  6.750000  6.000000
7   AS14.01  2014-03-26  6.600000  6.750000
8   AS14.01  2014-03-27  7.000000  6.600000
9   AS14.01  2014-03-28  6.400000  7.000000
10  AS14.01  2014-03-29  8.000000  6.400000
11  AS14.01  2014-03-30  7.500000  8.000000
12  AS14.01  2014-03-31  7.400000  7.500000
13  AS14.01  2014-04-01  6.000000  7.400000
14  AS14.01  2014-04-02  6.500000  6.000000
15  AS14.01  2014-04-03  6.400000  6.500000
16  AS14.01  2014-04-04  6.200000  6.400000
17  AS14.01  2014-04-05  6.800000  6.200000
18  AS14.01  2014-04-06  6.500000  6.800000
19  AS14.01  2014-04-07  6.500000  6.500000
20  AS14.01  2014-04-08  6.600000  6.500000
21  AS14.01  2014-04-09  7.400000  6.600000
22  AS14.01  2014-04-10  7.400000  7.400000
23  AS14.01  2014-04-11  7.000000  7.400000
24  AS14.01  2014-04-12  7.250000  7.000000
25  AS14.01  2014-04-13  8.000000  7.250000
26  AS14.01  2014-04-14  7.200000  8.000000
27  AS14.01  2014-04-15  6.400000  7.200000
28  AS14.01  2014-04-16  7.200000  6.400000
29  AS14.01  2014-04-17  6.500000  7.200000
30  AS14.01  2014-04-18  6.800000  6.500000
31  AS14.01  2014-04-19  7.800000  6.800000
32  AS14.01  2014-04-20  7.250000  7.800000
33  AS14.01  2014-04-21  7.600000  7.250000
34  AS14.01  2014-04-22  7.400000  7.600000
35  AS14.01  2014-04-23  7.600000  7.400000
36  AS14.01  2014-04-24  7.600000  7.600000
37  AS14.01  2014-04-25  7.200000  7.600000
38  AS14.01  2014-04-26  7.600000  7.200000
39  AS14.01  2014-04-27  7.500000  7.600000
40  AS14.01  2014-04-28  7.600000  7.500000
41  AS14.01  2014-04-29  7.000000  7.600000
42  AS14.01  2014-04-30  7.800000  7.000000
43  AS14.01  2014-05-01  8.000000  7.800000
44  AS14.01  2014-05-02  7.600000  8.000000
45  AS14.01  2014-05-03  8.000000  7.600000
46  AS14.01  2014-05-04  8.000000  8.000000
         id        time   moodAvg  moodPred
0   AS14.02  2014-03-16  6.333333       NaN
1   AS14.02  2014-03-17  6.750000  6.333333
2   AS14.02  2014-03-18  8.200000  6.750000
3   AS14.02  2014-03-19  6.800000  8.200000
4   AS14.02  2014-03-20  7.250000  6.800000
5   AS14.02  2014-03-21  7.500000  7.250000
6   AS14.02  2014-03-22  6.500000  7.500000
7   AS14.02  2014-03-23  6.250000  6.500000
8   AS14.02  2014-03-24  6.400000  6.250000
9   AS14.02  2014-03-25  7.750000  6.400000
10  AS14.02  2014-03-26  7.200000  7.750000
11  AS14.02  2014-03-27  7.250000  7.200000
12  AS14.02  2014-03-28  6.800000  7.250000
13  AS14.02  2014-03-29  7.250000  6.800000
14  AS14.02  2014-03-30  7.000000  7.250000
15  AS14.02  2014-03-31  7.200000  7.000000
16  AS14.02  2014-04-01  7.400000  7.200000
17  AS14.02  2014-04-02  6.400000  7.400000
18  AS14.02  2014-04-03  5.750000  6.400000
19  AS14.02  2014-04-04  6.400000  5.750000
20  AS14.02  2014-04-05  7.400000  6.400000
21  AS14.02  2014-04-06  4.500000  7.400000
22  AS14.02  2014-04-07  6.800000  4.500000
23  AS14.02  2014-04-08  6.250000  6.800000
24  AS14.02  2014-04-09  7.250000  6.250000
25  AS14.02  2014-04-10  7.250000  7.250000
26  AS14.02  2014-04-11  6.500000  7.250000
27  AS14.02  2014-04-12  6.000000  6.500000
28  AS14.02  2014-04-13  7.200000  6.000000
29  AS14.02  2014-04-14  8.000000  7.200000
30  AS14.02  2014-04-15  7.250000  8.000000
31  AS14.02  2014-04-16  6.666667  7.250000
32  AS14.02  2014-04-17  6.666667  6.666667
33  AS14.02  2014-04-18  6.500000  6.666667
34  AS14.02  2014-04-19  5.666667  6.500000
35  AS14.02  2014-04-20  5.000000  5.666667
36  AS14.02  2014-04-21  6.000000  5.000000
37  AS14.02  2014-04-22  5.666667  6.000000
38  AS14.02  2014-04-23  5.500000  5.666667
39  AS14.02  2014-04-24  7.000000  5.500000
40  AS14.02  2014-04-25  9.000000  7.000000
         id        time   moodAvg  moodPred
0   AS14.03  2014-03-21  9.000000       NaN
1   AS14.03  2014-03-22  7.800000  9.000000
2   AS14.03  2014-03-23  8.200000  7.800000
3   AS14.03  2014-03-24  7.800000  8.200000
4   AS14.03  2014-03-25  7.800000  7.800000
5   AS14.03  2014-03-26  8.250000  7.800000
6   AS14.03  2014-03-27  7.750000  8.250000
7   AS14.03  2014-03-28  8.000000  7.750000
8   AS14.03  2014-03-29  8.600000  8.000000
9   AS14.03  2014-03-30  8.400000  8.600000
10  AS14.03  2014-03-31  7.400000  8.400000
11  AS14.03  2014-04-01  7.600000  7.400000
12  AS14.03  2014-04-02  7.400000  7.600000
13  AS14.03  2014-04-03  7.800000  7.400000
14  AS14.03  2014-04-04  7.800000  7.800000
15  AS14.03  2014-04-05  7.600000  7.800000
16  AS14.03  2014-04-06  6.800000  7.600000
17  AS14.03  2014-04-07  7.400000  6.800000
18  AS14.03  2014-04-08  7.400000  7.400000
19  AS14.03  2014-04-09  7.800000  7.400000
20  AS14.03  2014-04-10  7.400000  7.800000
21  AS14.03  2014-04-11  7.600000  7.400000
22  AS14.03  2014-04-12  7.666667  7.600000
23  AS14.03  2014-04-13  7.400000  7.666667
24  AS14.03  2014-04-14  7.000000  7.400000
25  AS14.03  2014-04-15  7.600000  7.000000
26  AS14.03  2014-04-16  8.000000  7.600000
27  AS14.03  2014-04-17  7.250000  8.000000
28  AS14.03  2014-04-18  7.500000  7.250000
29  AS14.03  2014-04-19  7.800000  7.500000
30  AS14.03  2014-04-20  7.500000  7.800000
31  AS14.03  2014-04-21  7.400000  7.500000
32  AS14.03  2014-04-22  7.600000  7.400000
33  AS14.03  2014-04-23  7.000000  7.600000
34  AS14.03  2014-04-24  7.400000  7.000000
35  AS14.03  2014-04-25  7.500000  7.400000
36  AS14.03  2014-04-26  7.500000  7.500000
37  AS14.03  2014-04-27  7.600000  7.500000
38  AS14.03  2014-04-28  7.000000  7.600000
39  AS14.03  2014-04-29  7.200000  7.000000
40  AS14.03  2014-04-30  7.000000  7.200000
41  AS14.03  2014-05-01  7.200000  7.000000
42  AS14.03  2014-05-02  7.600000  7.200000
43  AS14.03  2014-05-03  7.750000  7.600000
44  AS14.03  2014-05-04  7.400000  7.750000
45  AS14.03  2014-05-05  7.250000  7.400000
46  AS14.03  2014-05-07  7.666667  7.250000
         id        time   moodAvg  moodPred
0   AS14.05  2014-03-14  8.000000       NaN
1   AS14.05  2014-03-15  6.200000  8.000000
2   AS14.05  2014-03-16  6.333333  6.200000
3   AS14.05  2014-03-17  6.000000  6.333333
4   AS14.05  2014-03-18  7.500000  6.000000
5   AS14.05  2014-03-19  6.750000  7.500000
6   AS14.05  2014-03-20  7.200000  6.750000
7   AS14.05  2014-03-21  7.250000  7.200000
8   AS14.05  2014-03-22  3.750000  7.250000
9   AS14.05  2014-03-23  4.400000  3.750000
10  AS14.05  2014-03-24  3.750000  4.400000
11  AS14.05  2014-03-25  5.333333  3.750000
12  AS14.05  2014-03-26  5.500000  5.333333
13  AS14.05  2014-03-27  5.800000  5.500000
14  AS14.05  2014-03-28  6.200000  5.800000
15  AS14.05  2014-03-29  6.400000  6.200000
16  AS14.05  2014-03-30  6.200000  6.400000
17  AS14.05  2014-03-31  6.800000  6.200000
18  AS14.05  2014-04-01  7.000000  6.800000
19  AS14.05  2014-04-02  7.000000  7.000000
20  AS14.05  2014-04-03  7.200000  7.000000
21  AS14.05  2014-04-04  7.000000  7.200000
22  AS14.05  2014-04-05  7.500000  7.000000
23  AS14.05  2014-04-06  6.800000  7.500000
24  AS14.05  2014-04-07  6.750000  6.800000
25  AS14.05  2014-04-08  6.750000  6.750000
26  AS14.05  2014-04-09  7.000000  6.750000
27  AS14.05  2014-04-10  7.200000  7.000000
28  AS14.05  2014-04-11  7.000000  7.200000
29  AS14.05  2014-04-12  7.000000  7.000000
30  AS14.05  2014-04-13  7.500000  7.000000
31  AS14.05  2014-04-14  6.400000  7.500000
32  AS14.05  2014-04-15  7.000000  6.400000
33  AS14.05  2014-04-16  7.200000  7.000000
34  AS14.05  2014-04-17  6.600000  7.200000
35  AS14.05  2014-04-18  7.500000  6.600000
36  AS14.05  2014-04-19  7.200000  7.500000
37  AS14.05  2014-04-20  7.200000  7.200000
38  AS14.05  2014-04-21  7.200000  7.200000
39  AS14.05  2014-04-22  7.200000  7.200000
40  AS14.05  2014-04-23  7.200000  7.200000
41  AS14.05  2014-04-24  7.200000  7.200000
42  AS14.05  2014-04-25  7.200000  7.200000
43  AS14.05  2014-04-26  7.800000  7.200000
44  AS14.05  2014-04-27  7.400000  7.800000
45  AS14.05  2014-04-28  7.000000  7.400000
46  AS14.05  2014-04-29  6.800000  7.000000
47  AS14.05  2014-04-30  7.000000  6.800000
48  AS14.05  2014-05-01  6.800000  7.000000
49  AS14.05  2014-05-02  7.000000  6.800000
50  AS14.05  2014-05-03  6.750000  7.000000
51  AS14.05  2014-05-04  7.000000  6.750000
52  AS14.05  2014-05-05  6.333333  7.000000
         id        time   moodAvg  moodPred
0   AS14.06  2014-03-24  7.000000       NaN
1   AS14.06  2014-03-25  7.000000  7.000000
2   AS14.06  2014-03-26  8.000000  7.000000
3   AS14.06  2014-03-27  7.000000  8.000000
4   AS14.06  2014-03-28  7.600000  7.000000
5   AS14.06  2014-03-29  7.800000  7.600000
6   AS14.06  2014-03-30  7.800000  7.800000
7   AS14.06  2014-03-31  7.000000  7.800000
8   AS14.06  2014-04-01  7.750000  7.000000
9   AS14.06  2014-04-02  6.800000  7.750000
10  AS14.06  2014-04-03  7.200000  6.800000
11  AS14.06  2014-04-04  7.000000  7.200000
12  AS14.06  2014-04-05  7.000000  7.000000
13  AS14.06  2014-04-06  7.000000  7.000000
14  AS14.06  2014-04-07  6.200000  7.000000
15  AS14.06  2014-04-08  6.600000  6.200000
16  AS14.06  2014-04-09  7.400000  6.600000
17  AS14.06  2014-04-10  7.600000  7.400000
18  AS14.06  2014-04-11  7.800000  7.600000
19  AS14.06  2014-04-12  8.200000  7.800000
20  AS14.06  2014-04-13  6.333333  8.200000
21  AS14.06  2014-04-14  7.250000  6.333333
22  AS14.06  2014-04-15  7.000000  7.250000
23  AS14.06  2014-04-16  7.600000  7.000000
24  AS14.06  2014-04-17  6.800000  7.600000
25  AS14.06  2014-04-18  6.250000  6.800000
26  AS14.06  2014-04-19  6.800000  6.250000
27  AS14.06  2014-04-20  8.200000  6.800000
28  AS14.06  2014-04-21  7.000000  8.200000
29  AS14.06  2014-04-22  6.600000  7.000000
30  AS14.06  2014-04-23  7.000000  6.600000
31  AS14.06  2014-04-24  7.750000  7.000000
32  AS14.06  2014-04-25  6.400000  7.750000
33  AS14.06  2014-04-26  7.500000  6.400000
34  AS14.06  2014-04-27  7.200000  7.500000
35  AS14.06  2014-04-28  6.750000  7.200000
36  AS14.06  2014-04-29  7.250000  6.750000
37  AS14.06  2014-04-30  6.800000  7.250000
38  AS14.06  2014-05-01  8.000000  6.800000
39  AS14.06  2014-05-02  7.200000  8.000000
40  AS14.06  2014-05-03  6.250000  7.200000
41  AS14.06  2014-05-04  7.600000  6.250000
42  AS14.06  2014-05-05  7.000000  7.600000
43  AS14.06  2014-05-07  6.750000  7.000000
44  AS14.06  2014-05-08  7.000000  6.750000
         id        time   moodAvg  moodPred
0   AS14.07  2014-03-19  6.800000       NaN
1   AS14.07  2014-03-20  5.250000  6.800000
2   AS14.07  2014-03-21  7.000000  5.250000
3   AS14.07  2014-03-22  6.000000  7.000000
4   AS14.07  2014-03-23  7.750000  6.000000
5   AS14.07  2014-03-24  8.000000  7.750000
6   AS14.07  2014-03-25  7.666667  8.000000
7   AS14.07  2014-03-26  6.600000  7.666667
8   AS14.07  2014-03-27  6.800000  6.600000
9   AS14.07  2014-03-28  8.250000  6.800000
10  AS14.07  2014-03-29  7.000000  8.250000
11  AS14.07  2014-03-30  6.200000  7.000000
12  AS14.07  2014-03-31  4.333333  6.200000
13  AS14.07  2014-04-01  6.600000  4.333333
14  AS14.07  2014-04-02  5.500000  6.600000
15  AS14.07  2014-04-03  6.200000  5.500000
16  AS14.07  2014-04-04  6.500000  6.200000
17  AS14.07  2014-04-05  6.000000  6.500000
18  AS14.07  2014-04-06  6.750000  6.000000
19  AS14.07  2014-04-07  5.400000  6.750000
20  AS14.07  2014-04-08  6.800000  5.400000
21  AS14.07  2014-04-09  6.400000  6.800000
22  AS14.07  2014-04-10  6.200000  6.400000
23  AS14.07  2014-04-11  3.500000  6.200000
24  AS14.07  2014-04-12  6.400000  3.500000
25  AS14.07  2014-04-13  6.500000  6.400000
26  AS14.07  2014-04-14  6.200000  6.500000
27  AS14.07  2014-04-15  6.000000  6.200000
28  AS14.07  2014-04-16  4.750000  6.000000
29  AS14.07  2014-04-17  3.800000  4.750000
30  AS14.07  2014-04-18  5.200000  3.800000
31  AS14.07  2014-04-19  7.000000  5.200000
32  AS14.07  2014-04-20  3.000000  7.000000
33  AS14.07  2014-04-21  6.600000  3.000000
34  AS14.07  2014-04-22  6.000000  6.600000
35  AS14.07  2014-04-23  6.000000  6.000000
36  AS14.07  2014-04-24  5.600000  6.000000
37  AS14.07  2014-04-25  3.333333  5.600000
38  AS14.07  2014-04-26  5.400000  3.333333
39  AS14.07  2014-04-27  6.000000  5.400000
40  AS14.07  2014-04-28  6.750000  6.000000
41  AS14.07  2014-04-29  5.000000  6.750000
42  AS14.07  2014-04-30  5.000000  5.000000
43  AS14.07  2014-05-01  5.000000  5.000000
44  AS14.07  2014-05-02  6.200000  5.000000
45  AS14.07  2014-05-03  5.666667  6.200000
46  AS14.07  2014-05-04  8.000000  5.666667
47  AS14.07  2014-05-05  5.500000  8.000000
         id        time   moodAvg  moodPred
0   AS14.08  2014-03-05  6.333333       NaN
1   AS14.08  2014-03-06  7.200000  6.333333
2   AS14.08  2014-03-07  7.400000  7.200000
3   AS14.08  2014-03-08  7.000000  7.400000
4   AS14.08  2014-03-09  7.200000  7.000000
..      ...         ...       ...       ...
57  AS14.08  2014-05-01  7.000000  6.666667
58  AS14.08  2014-05-02  7.200000  7.000000
59  AS14.08  2014-05-03  7.400000  7.200000
60  AS14.08  2014-05-04  6.800000  7.400000
61  AS14.08  2014-05-05  6.666667  6.800000

[62 rows x 4 columns]
         id        time   moodAvg  moodPred
0   AS14.09  2014-03-21  7.000000       NaN
1   AS14.09  2014-03-22  7.000000  7.000000
2   AS14.09  2014-03-23  6.750000  7.000000
3   AS14.09  2014-03-24  7.250000  6.750000
4   AS14.09  2014-03-25  6.200000  7.250000
5   AS14.09  2014-03-26  7.750000  6.200000
6   AS14.09  2014-03-27  7.800000  7.750000
7   AS14.09  2014-03-28  8.250000  7.800000
8   AS14.09  2014-03-29  8.000000  8.250000
9   AS14.09  2014-03-30  7.750000  8.000000
10  AS14.09  2014-03-31  7.000000  7.750000
11  AS14.09  2014-04-01  7.600000  7.000000
12  AS14.09  2014-04-02  6.200000  7.600000
13  AS14.09  2014-04-03  7.600000  6.200000
14  AS14.09  2014-04-04  7.250000  7.600000
15  AS14.09  2014-04-05  7.500000  7.250000
16  AS14.09  2014-04-06  6.800000  7.500000
17  AS14.09  2014-04-07  6.200000  6.800000
18  AS14.09  2014-04-08  7.200000  6.200000
19  AS14.09  2014-04-09  6.500000  7.200000
20  AS14.09  2014-04-10  6.000000  6.500000
21  AS14.09  2014-04-11  6.800000  6.000000
22  AS14.09  2014-04-12  7.000000  6.800000
23  AS14.09  2014-04-13  6.000000  7.000000
24  AS14.09  2014-04-14  5.800000  6.000000
25  AS14.09  2014-04-15  6.000000  5.800000
26  AS14.09  2014-04-16  5.500000  6.000000
27  AS14.09  2014-04-17  7.000000  5.500000
28  AS14.09  2014-04-18  6.600000  7.000000
29  AS14.09  2014-04-19  8.000000  6.600000
30  AS14.09  2014-04-20  6.250000  8.000000
31  AS14.09  2014-04-21  6.500000  6.250000
32  AS14.09  2014-04-22  6.600000  6.500000
33  AS14.09  2014-04-23  6.333333  6.600000
34  AS14.09  2014-04-24  7.200000  6.333333
35  AS14.09  2014-04-25  7.250000  7.200000
36  AS14.09  2014-04-26  8.000000  7.250000
37  AS14.09  2014-04-27  6.250000  8.000000
38  AS14.09  2014-04-28  6.600000  6.250000
39  AS14.09  2014-04-29  6.750000  6.600000
40  AS14.09  2014-04-30  7.000000  6.750000
41  AS14.09  2014-05-01  7.500000  7.000000
42  AS14.09  2014-05-02  7.600000  7.500000
43  AS14.09  2014-05-03  7.750000  7.600000
44  AS14.09  2014-05-04  6.600000  7.750000
45  AS14.09  2014-05-05  6.000000  6.600000
         id        time  moodAvg  moodPred
0   AS14.12  2014-03-15     5.50       NaN
1   AS14.12  2014-03-27     7.00      5.50
2   AS14.12  2014-03-28     6.75      7.00
3   AS14.12  2014-03-29     6.75      6.75
4   AS14.12  2014-03-30     5.75      6.75
5   AS14.12  2014-03-31     6.40      5.75
6   AS14.12  2014-04-01     6.40      6.40
7   AS14.12  2014-04-02     6.00      6.40
8   AS14.12  2014-04-03     5.40      6.00
9   AS14.12  2014-04-04     6.50      5.40
10  AS14.12  2014-04-05     6.20      6.50
11  AS14.12  2014-04-06     6.25      6.20
12  AS14.12  2014-04-07     6.40      6.25
13  AS14.12  2014-04-08     6.25      6.40
14  AS14.12  2014-04-09     5.25      6.25
15  AS14.12  2014-04-10     6.40      5.25
16  AS14.12  2014-04-11     6.60      6.40
17  AS14.12  2014-04-12     6.80      6.60
18  AS14.12  2014-04-13     5.60      6.80
19  AS14.12  2014-04-14     6.60      5.60
20  AS14.12  2014-04-15     6.80      6.60
21  AS14.12  2014-04-16     7.00      6.80
22  AS14.12  2014-04-17     6.80      7.00
23  AS14.12  2014-04-18     6.60      6.80
24  AS14.12  2014-04-19     5.80      6.60
25  AS14.12  2014-04-20     6.40      5.80
26  AS14.12  2014-04-21     6.00      6.40
27  AS14.12  2014-04-22     6.50      6.00
28  AS14.12  2014-04-23     5.80      6.50
29  AS14.12  2014-04-24     6.60      5.80
30  AS14.12  2014-04-25     6.00      6.60
31  AS14.12  2014-04-26     7.00      6.00
32  AS14.12  2014-04-27     6.00      7.00
33  AS14.12  2014-04-28     6.60      6.00
34  AS14.12  2014-04-29     6.00      6.60
35  AS14.12  2014-04-30     6.25      6.00
36  AS14.12  2014-05-01     6.20      6.25
37  AS14.12  2014-05-02     5.50      6.20
38  AS14.12  2014-05-03     5.60      5.50
39  AS14.12  2014-05-04     4.80      5.60
40  AS14.12  2014-05-05     6.00      4.80
         id        time   moodAvg  moodPred
0   AS14.13  2014-03-13  7.000000       NaN
1   AS14.13  2014-03-14  7.800000  7.000000
2   AS14.13  2014-03-15  7.000000  7.800000
3   AS14.13  2014-03-16  6.400000  7.000000
4   AS14.13  2014-03-17  6.600000  6.400000
5   AS14.13  2014-03-18  7.000000  6.600000
6   AS14.13  2014-03-19  7.800000  7.000000
7   AS14.13  2014-03-20  6.400000  7.800000
8   AS14.13  2014-03-21  6.400000  6.400000
9   AS14.13  2014-03-22  8.400000  6.400000
10  AS14.13  2014-03-23  7.400000  8.400000
11  AS14.13  2014-03-24  8.800000  7.400000
12  AS14.13  2014-03-25  7.600000  8.800000
13  AS14.13  2014-03-26  8.400000  7.600000
14  AS14.13  2014-03-27  7.400000  8.400000
15  AS14.13  2014-03-28  7.600000  7.400000
16  AS14.13  2014-03-29  7.200000  7.600000
17  AS14.13  2014-03-30  6.200000  7.200000
18  AS14.13  2014-03-31  7.000000  6.200000
19  AS14.13  2014-04-01  7.500000  7.000000
20  AS14.13  2014-04-02  7.400000  7.500000
21  AS14.13  2014-04-03  7.600000  7.400000
22  AS14.13  2014-04-04  7.800000  7.600000
23  AS14.13  2014-04-05  6.800000  7.800000
24  AS14.13  2014-04-06  6.250000  6.800000
25  AS14.13  2014-04-07  7.400000  6.250000
26  AS14.13  2014-04-08  8.200000  7.400000
27  AS14.13  2014-04-09  7.800000  8.200000
28  AS14.13  2014-04-10  7.600000  7.800000
29  AS14.13  2014-04-11  6.800000  7.600000
30  AS14.13  2014-04-12  6.800000  6.800000
31  AS14.13  2014-04-13  6.600000  6.800000
32  AS14.13  2014-04-14  6.800000  6.600000
33  AS14.13  2014-04-15  6.000000  6.800000
34  AS14.13  2014-04-16  6.000000  6.000000
35  AS14.13  2014-04-17  6.400000  6.000000
36  AS14.13  2014-04-18  3.500000  6.400000
37  AS14.13  2014-04-19  7.200000  3.500000
38  AS14.13  2014-04-20  6.600000  7.200000
39  AS14.13  2014-04-21  7.400000  6.600000
40  AS14.13  2014-04-22  5.750000  7.400000
41  AS14.13  2014-04-23  7.400000  5.750000
42  AS14.13  2014-04-24  7.666667  7.400000
43  AS14.13  2014-04-25  7.750000  7.666667
44  AS14.13  2014-04-26  8.800000  7.750000
45  AS14.13  2014-04-27  8.000000  8.800000
46  AS14.13  2014-04-28  8.166667  8.000000
47  AS14.13  2014-04-29  8.500000  8.166667
48  AS14.13  2014-04-30  7.833333  8.500000
49  AS14.13  2014-05-01  8.333333  7.833333
50  AS14.13  2014-05-02  8.000000  8.333333
51  AS14.13  2014-05-03  7.250000  8.000000
52  AS14.13  2014-05-04  8.000000  7.250000
         id        time   moodAvg  moodPred
0   AS14.14  2014-03-20  7.000000       NaN
1   AS14.14  2014-03-21  6.400000  7.000000
2   AS14.14  2014-03-22  5.800000  6.400000
3   AS14.14  2014-03-23  6.000000  5.800000
4   AS14.14  2014-03-24  6.500000  6.000000
5   AS14.14  2014-03-25  5.750000  6.500000
6   AS14.14  2014-03-26  7.000000  5.750000
7   AS14.14  2014-03-27  6.600000  7.000000
8   AS14.14  2014-03-28  6.200000  6.600000
9   AS14.14  2014-03-29  8.000000  6.200000
10  AS14.14  2014-03-30  6.500000  8.000000

In [21]:
for id in df_moodAvg['id'].unique():
  print(dfs['df_moodAvg_'+id].shape[0])
  print(int(dfs['df_moodAvg_'+id].shape[0]/5))
  print('-----')

47
9
-----
41
8
-----
47
9
-----
53
10
-----
45
9
-----
48
9
-----
62
12
-----
46
9
-----
41
8
-----
53
10
-----
44
8
-----
55
11
-----
53
10
-----
56
11
-----
46
9
-----
47
9
-----
39
7
-----
55
11
-----
30
6
-----
68
13
-----
42
8
-----
38
7
-----
42
8
-----
47
9
-----
43
8
-----
37
7
-----
43
8
-----

In [22]:
for id in df_moodAvg['id'].unique():
  print(dfs['df_moodAvg_'+id].tail(int(dfs['df_moodAvg_'+id].shape[0]/5)))
  print('-----')

         id        time  moodAvg  moodPred
38  AS14.01  2014-04-26      7.6       7.2
39  AS14.01  2014-04-27      7.5       7.6
40  AS14.01  2014-04-28      7.6       7.5
41  AS14.01  2014-04-29      7.0       7.6
42  AS14.01  2014-04-30      7.8       7.0
43  AS14.01  2014-05-01      8.0       7.8
44  AS14.01  2014-05-02      7.6       8.0
45  AS14.01  2014-05-03      8.0       7.6
46  AS14.01  2014-05-04      8.0       8.0
-----
         id        time   moodAvg  moodPred
33  AS14.02  2014-04-18  6.500000  6.666667
34  AS14.02  2014-04-19  5.666667  6.500000
35  AS14.02  2014-04-20  5.000000  5.666667
36  AS14.02  2014-04-21  6.000000  5.000000
37  AS14.02  2014-04-22  5.666667  6.000000
38  AS14.02  2014-04-23  5.500000  5.666667
39  AS14.02  2014-04-24  7.000000  5.500000
40  AS14.02  2014-04-25  9.000000  7.000000
-----
         id        time   moodAvg  moodPred
38  AS14.03  2014-04-28  7.000000      7.60
39  AS14.03  2014-04-29  7.200000      7.00
40  AS14.03  2014-04-30  7.000000      7.20
41  AS14.03  2014-05-01  7.200000      7.00
42  AS14.03  2014-05-02  7.600000      7.20
43  AS14.03  2014-05-03  7.750000      7.60
44  AS14.03  2014-05-04  7.400000      7.75
45  AS14.03  2014-05-05  7.250000      7.40
46  AS14.03  2014-05-07  7.666667      7.25
-----
         id        time   moodAvg  moodPred
43  AS14.05  2014-04-26  7.800000      7.20
44  AS14.05  2014-04-27  7.400000      7.80
45  AS14.05  2014-04-28  7.000000      7.40
46  AS14.05  2014-04-29  6.800000      7.00
47  AS14.05  2014-04-30  7.000000      6.80
48  AS14.05  2014-05-01  6.800000      7.00
49  AS14.05  2014-05-02  7.000000      6.80
50  AS14.05  2014-05-03  6.750000      7.00
51  AS14.05  2014-05-04  7.000000      6.75
52  AS14.05  2014-05-05  6.333333      7.00
-----
         id        time  moodAvg  moodPred
36  AS14.06  2014-04-29     7.25      6.75
37  AS14.06  2014-04-30     6.80      7.25
38  AS14.06  2014-05-01     8.00      6.80
39  AS14.06  2014-05-02     7.20      8.00
40  AS14.06  2014-05-03     6.25      7.20
41  AS14.06  2014-05-04     7.60      6.25
42  AS14.06  2014-05-05     7.00      7.60
43  AS14.06  2014-05-07     6.75      7.00
44  AS14.06  2014-05-08     7.00      6.75
-----
         id        time   moodAvg  moodPred
39  AS14.07  2014-04-27  6.000000  5.400000
40  AS14.07  2014-04-28  6.750000  6.000000
41  AS14.07  2014-04-29  5.000000  6.750000
42  AS14.07  2014-04-30  5.000000  5.000000
43  AS14.07  2014-05-01  5.000000  5.000000
44  AS14.07  2014-05-02  6.200000  5.000000
45  AS14.07  2014-05-03  5.666667  6.200000
46  AS14.07  2014-05-04  8.000000  5.666667
47  AS14.07  2014-05-05  5.500000  8.000000
-----
         id        time   moodAvg  moodPred
50  AS14.08  2014-04-24  6.666667  5.600000
51  AS14.08  2014-04-25  6.333333  6.666667
52  AS14.08  2014-04-26  6.000000  6.333333
53  AS14.08  2014-04-27  6.000000  6.000000
54  AS14.08  2014-04-28  5.800000  6.000000
55  AS14.08  2014-04-29  5.750000  5.800000
56  AS14.08  2014-04-30  6.666667  5.750000
57  AS14.08  2014-05-01  7.000000  6.666667
58  AS14.08  2014-05-02  7.200000  7.000000
59  AS14.08  2014-05-03  7.400000  7.200000
60  AS14.08  2014-05-04  6.800000  7.400000
61  AS14.08  2014-05-05  6.666667  6.800000
-----
         id        time  moodAvg  moodPred
37  AS14.09  2014-04-27     6.25      8.00
38  AS14.09  2014-04-28     6.60      6.25
39  AS14.09  2014-04-29     6.75      6.60
40  AS14.09  2014-04-30     7.00      6.75
41  AS14.09  2014-05-01     7.50      7.00
42  AS14.09  2014-05-02     7.60      7.50
43  AS14.09  2014-05-03     7.75      7.60
44  AS14.09  2014-05-04     6.60      7.75
45  AS14.09  2014-05-05     6.00      6.60
-----
         id        time  moodAvg  moodPred
33  AS14.12  2014-04-28     6.60      6.00
34  AS14.12  2014-04-29     6.00      6.60
35  AS14.12  2014-04-30     6.25      6.00
36  AS14.12  2014-05-01     6.20      6.25
37  AS14.12  2014-05-02     5.50      6.20
38  AS14.12  2014-05-03     5.60      5.50
39  AS14.12  2014-05-04     4.80      5.60
40  AS14.12  2014-05-05     6.00      4.80
-----
         id        time   moodAvg  moodPred
43  AS14.13  2014-04-25  7.750000  7.666667
44  AS14.13  2014-04-26  8.800000  7.750000
45  AS14.13  2014-04-27  8.000000  8.800000
46  AS14.13  2014-04-28  8.166667  8.000000
47  AS14.13  2014-04-29  8.500000  8.166667
48  AS14.13  2014-04-30  7.833333  8.500000
49  AS14.13  2014-05-01  8.333333  7.833333
50  AS14.13  2014-05-02  8.000000  8.333333
51  AS14.13  2014-05-03  7.250000  8.000000
52  AS14.13  2014-05-04  8.000000  7.250000
-----
         id        time   moodAvg  moodPred
36  AS14.14  2014-04-26  8.000000  8.000000
37  AS14.14  2014-04-27  7.666667  8.000000
38  AS14.14  2014-04-30  7.000000  7.666667
39  AS14.14  2014-05-01  6.000000  7.000000
40  AS14.14  2014-05-02  6.666667  6.000000
41  AS14.14  2014-05-03  6.800000  6.666667
42  AS14.14  2014-05-04  6.800000  6.800000
43  AS14.14  2014-05-05  7.000000  6.800000
-----
         id        time  moodAvg  moodPred
44  AS14.15  2014-04-27      7.0       6.2
45  AS14.15  2014-04-28      7.0       7.0
46  AS14.15  2014-04-29      7.0       7.0
47  AS14.15  2014-04-30      6.0       7.0
48  AS14.15  2014-05-01      6.6       6.0
49  AS14.15  2014-05-02      7.0       6.6
50  AS14.15  2014-05-03      6.8       7.0
51  AS14.15  2014-05-04      7.0       6.8
52  AS14.15  2014-05-05      7.0       7.0
53  AS14.15  2014-05-07      7.0       7.0
54  AS14.15  2014-05-08      7.0       7.0
-----
         id        time   moodAvg  moodPred
43  AS14.16  2014-04-25  7.200000      5.40
44  AS14.16  2014-04-26  6.750000      7.20
45  AS14.16  2014-04-27  7.200000      6.75
46  AS14.16  2014-04-28  8.000000      7.20
47  AS14.16  2014-04-29  7.000000      8.00
48  AS14.16  2014-04-30  7.000000      7.00
49  AS14.16  2014-05-01  7.000000      7.00
50  AS14.16  2014-05-02  8.000000      7.00
51  AS14.16  2014-05-04  7.000000      8.00
52  AS14.16  2014-05-05  7.333333      7.00
-----
         id        time   moodAvg  moodPred
45  AS14.17  2014-04-24  7.200000  7.250000
46  AS14.17  2014-04-25  7.200000  7.200000
47  AS14.17  2014-04-26  8.000000  7.200000
48  AS14.17  2014-04-27  7.200000  8.000000
49  AS14.17  2014-04-28  6.750000  7.200000
50  AS14.17  2014-04-29  7.000000  6.750000
51  AS14.17  2014-04-30  7.000000  7.000000
52  AS14.17  2014-05-01  8.000000  7.000000
53  AS14.17  2014-05-02  7.000000  8.000000
54  AS14.17  2014-05-03  7.333333  7.000000
55  AS14.17  2014-05-05  7.500000  7.333333
-----
         id        time   moodAvg  moodPred
37  AS14.19  2014-04-27  6.333333  7.750000
38  AS14.19  2014-04-28  6.400000  6.333333
39  AS14.19  2014-04-29  7.200000  6.400000
40  AS14.19  2014-04-30  7.000000  7.200000
41  AS14.19  2014-05-01  6.800000  7.000000
42  AS14.19  2014-05-02  7.800000  6.800000
43  AS14.19  2014-05-03  7.400000  7.800000
44  AS14.19  2014-05-04  6.600000  7.400000
45  AS14.19  2014-05-05  7.000000  6.600000
-----
         id        time   moodAvg  moodPred
38  AS14.20  2014-04-27  6.800000  7.000000
39  AS14.20  2014-04-28  6.800000  6.800000
40  AS14.20  2014-04-29  7.250000  6.800000
41  AS14.20  2014-04-30  7.000000  7.250000
42  AS14.20  2014-05-01  7.000000  7.000000
43  AS14.20  2014-05-02  7.200000  7.000000
44  AS14.20  2014-05-03  6.750000  7.200000
45  AS14.20  2014-05-04  7.333333  6.750000
46  AS14.20  2014-05-05  7.000000  7.333333
-----
         id        time  moodAvg  moodPred
32  AS14.23  2014-04-24      7.4       7.0
33  AS14.23  2014-04-25      7.8       7.4
34  AS14.23  2014-04-26      7.5       7.8
35  AS14.23  2014-04-27      7.0       7.5
36  AS14.23  2014-04-28      7.6       7.0
37  AS14.23  2014-04-29      7.4       7.6
38  AS14.23  2014-04-30      9.0       7.4
-----
         id        time   moodAvg  moodPred
44  AS14.24  2014-05-29  7.000000  6.600000
45  AS14.24  2014-05-30  7.400000  7.000000
46  AS14.24  2014-05-31  7.000000  7.400000
47  AS14.24  2014-06-01  6.833333  7.000000
48  AS14.24  2014-06-02  6.750000  6.833333
49  AS14.24  2014-06-03  7.800000  6.750000
50  AS14.24  2014-06-04  7.000000  7.800000
51  AS14.24  2014-06-05  7.000000  7.000000
52  AS14.24  2014-06-06  7.500000  7.000000
53  AS14.24  2014-06-07  8.000000  7.500000
54  AS14.24  2014-06-08  6.500000  8.000000
-----
         id        time   moodAvg  moodPred
24  AS14.25  2014-05-02  6.500000  7.000000
25  AS14.25  2014-05-03  6.250000  6.500000
26  AS14.25  2014-05-04  7.200000  6.250000
27  AS14.25  2014-05-05  6.666667  7.200000
28  AS14.25  2014-05-07  6.800000  6.666667
29  AS14.25  2014-05-08  7.000000  6.800000
-----
         id        time  moodAvg  moodPred
55  AS14.26  2014-05-18      7.2       7.4
56  AS14.26  2014-05-19      7.4       7.2
57  AS14.26  2014-05-20      7.6       7.4
58  AS14.26  2014-05-21      7.0       7.6
59  AS14.26  2014-05-22      6.6       7.0
60  AS14.26  2014-05-23      6.2       6.6
61  AS14.26  2014-05-24      7.6       6.2
62  AS14.26  2014-05-25      8.0       7.6
63  AS14.26  2014-05-26      7.2       8.0
64  AS14.26  2014-05-27      5.8       7.2
65  AS14.26  2014-05-28      5.4       5.8
66  AS14.26  2014-05-29      7.4       5.4
67  AS14.26  2014-05-30      6.4       7.4
-----
         id        time  moodAvg  moodPred
34  AS14.27  2014-05-08      7.0       7.8
35  AS14.27  2014-05-09      6.4       7.0
36  AS14.27  2014-05-10      6.6       6.4
37  AS14.27  2014-05-11      7.0       6.6
38  AS14.27  2014-05-12      7.8       7.0
39  AS14.27  2014-05-13      6.8       7.8
40  AS14.27  2014-05-14      7.5       6.8
41  AS14.27  2014-05-15      7.0       7.5
-----
         id        time   moodAvg  moodPred
31  AS14.28  2014-05-01  6.400000  6.200000
32  AS14.28  2014-05-02  6.800000  6.400000
33  AS14.28  2014-05-03  7.400000  6.800000
34  AS14.28  2014-05-04  6.800000  7.400000
35  AS14.28  2014-05-05  7.000000  6.800000
36  AS14.28  2014-05-07  6.333333  7.000000
37  AS14.28  2014-05-08  6.500000  6.333333
-----
         id        time  moodAvg  moodPred
34  AS14.29  2014-05-08      7.8       7.8
35  AS14.29  2014-05-09      7.4       7.8
36  AS14.29  2014-05-10      7.0       7.4
37  AS14.29  2014-05-11      7.0       7.0
38  AS14.29  2014-05-12      7.6       7.0
39  AS14.29  2014-05-13      8.2       7.6
40  AS14.29  2014-05-14      7.6       8.2
41  AS14.29  2014-05-15      6.0       7.6
-----
         id        time  moodAvg  moodPred
38  AS14.30  2014-04-27      7.8       7.8
39  AS14.30  2014-04-28      8.0       7.8
40  AS14.30  2014-04-29      8.0       8.0
41  AS14.30  2014-04-30      7.8       8.0
42  AS14.30  2014-05-01      8.2       7.8
43  AS14.30  2014-05-02      8.0       8.2
44  AS14.30  2014-05-03      7.8       8.0
45  AS14.30  2014-05-04      7.8       7.8
46  AS14.30  2014-05-05      8.0       7.8
-----
         id        time   moodAvg  moodPred
35  AS14.31  2014-05-08  7.000000  6.750000
36  AS14.31  2014-05-09  7.000000  7.000000
37  AS14.31  2014-05-10  7.333333  7.000000
38  AS14.31  2014-05-11  7.000000  7.333333
39  AS14.31  2014-05-12  7.000000  7.000000
40  AS14.31  2014-05-13  7.000000  7.000000
41  AS14.31  2014-05-14  7.000000  7.000000
42  AS14.31  2014-05-15  7.000000  7.000000
-----
         id        time  moodAvg  moodPred
30  AS14.32  2014-05-05     7.00  8.666667
31  AS14.32  2014-05-07     6.00  7.000000
32  AS14.32  2014-05-08     6.00  6.000000
33  AS14.32  2014-05-09     7.75  6.000000
34  AS14.32  2014-05-10     7.25  7.750000
35  AS14.32  2014-05-11     7.20  7.250000
36  AS14.32  2014-05-12     7.20  7.200000
-----
         id        time  moodAvg  moodPred
35  AS14.33  2014-05-24     6.40  5.833333
36  AS14.33  2014-05-25     6.25  6.400000
37  AS14.33  2014-05-26     5.40  6.250000
38  AS14.33  2014-05-27     6.20  5.400000
39  AS14.33  2014-05-28     8.20  6.200000
40  AS14.33  2014-05-29     7.00  8.200000
41  AS14.33  2014-05-30     6.80  7.000000
42  AS14.33  2014-05-31     7.00  6.800000
-----

In [0]:
y = dfs['df_moodAvg_AS14.01'].tail(int(dfs['df_moodAvg_AS14.01'].shape[0]/5)).loc[:,'moodPred']

In [0]:
x = dfs['df_moodAvg_AS14.01'].tail(int(dfs['df_moodAvg_AS14.01'].shape[0]/5)).loc[:,'moodAvg']

In [25]:
import statsmodels.api as sm

model = sm.OLS(y, x)
results = model.fit()
print(results.summary())

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                                 OLS Regression Results
=======================================================================================
Dep. Variable:               moodPred   R-squared (uncentered):                   0.997
Model:                            OLS   Adj. R-squared (uncentered):              0.997
Method:                 Least Squares   F-statistic:                              2853.
Date:                Sun, 12 Apr 2020   Prob (F-statistic):                    1.67e-11
Time:                        19:06:42   Log-Likelihood:                         -4.5602
No. Observations:                   9   AIC:                                      11.12
Df Residuals:                       8   BIC:                                      11.32
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
moodAvg        0.9871      0.018     53.416      0.000       0.944       1.030
==============================================================================
Omnibus:                        0.010   Durbin-Watson:                   2.898
Prob(Omnibus):                  0.995   Jarque-Bera (JB):                0.172
Skew:                           0.035   Prob(JB):                        0.917
Kurtosis:                       2.326   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  "anyway, n=%i" % int(n))

In [30]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y,x)

0.17111111111111102

In [31]:
import math
import numpy as np

loss= pd.DataFrame(columns=['id', 'mse', 'rmse'])
for id in df_moodAvg['id'].unique():
  #loss = loss.append({'id':id, 'mse':format(mse(dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodPred'],dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodAvg']), '.4f')}, ignore_index=True)
  mse = mean_squared_error(dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodPred'],dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodAvg'])
  rmse = math.sqrt(mse)
  loss = loss.append({'id':id, 'mse':mse, 'rmse':rmse}, ignore_index=True)
  print('MSE ' + str(id) + ': ' + str(format(mean_squared_error(dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodPred'],dfs['df_moodAvg_' + id].tail(int(dfs['df_moodAvg_' + id].shape[0]/5)).loc[:,'moodAvg']), '.4f')))
  print('-----')

MSE AS14.01: 0.1711
-----
MSE AS14.02: 1.0694
-----
MSE AS14.03: 0.1090
-----
MSE AS14.05: 0.1409
-----
MSE AS14.06: 0.6381
-----
MSE AS14.07: 1.9338
-----
MSE AS14.08: 0.2343
-----
MSE AS14.09: 0.5817
-----
MSE AS14.12: 0.4206
-----
MSE AS14.13: 0.3819
-----
MSE AS14.14: 0.2572
-----
MSE AS14.15: 0.2036
-----
MSE AS14.16: 0.7396
-----
MSE AS14.17: 0.3351
-----
MSE AS14.19: 0.5213
-----
MSE AS14.20: 0.1110
-----
MSE AS14.23: 0.5171
-----
MSE AS14.24: 0.4552
-----
MSE AS14.25: 0.2595
-----
MSE AS14.26: 0.8215
-----
MSE AS14.27: 0.4475
-----
MSE AS14.28: 0.2046
-----
MSE AS14.29: 0.4950
-----
MSE AS14.30: 0.0400
-----
MSE AS14.31: 0.0356
-----
MSE AS14.32: 1.0133
-----
MSE AS14.33: 0.9033
-----

In [32]:
print(loss)

         id       mse      rmse
0   AS14.01  0.171111  0.413656
1   AS14.02  1.069444  1.034139
2   AS14.03  0.109012  0.330170
3   AS14.05  0.140944  0.375426
4   AS14.06  0.638056  0.798784
5   AS14.07  1.933765  1.390599
6   AS14.08  0.234306  0.484051
7   AS14.09  0.581667  0.762671
8   AS14.12  0.420625  0.648556
9   AS14.13  0.381889  0.617972
10  AS14.14  0.257222  0.507171
11  AS14.15  0.203636  0.451261
12  AS14.16  0.739611  0.860006
13  AS14.17  0.335126  0.578901
14  AS14.19  0.521265  0.721987
15  AS14.20  0.110988  0.333148
16  AS14.23  0.517143  0.719126
17  AS14.24  0.455202  0.674687
18  AS14.25  0.259537  0.509448
19  AS14.26  0.821538  0.906388
20  AS14.27  0.447500  0.668954
21  AS14.28  0.204603  0.452331
22  AS14.29  0.495000  0.703562
23  AS14.30  0.040000  0.200000
24  AS14.31  0.035590  0.188654
25  AS14.32  1.013254  1.006605
26  AS14.33  0.903264  0.950402

In [35]:
print(format(loss.loc[:,'mse'].mean(),'4f'))

0.483011

In [36]:
print(format(loss.loc[:,'rmse'].mean(),'4f'))

0.640321