In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [14]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls '/content/drive/My Drive/Group 80 - DTM/assignment1/'

assignment_1_advanced.pdf  dataset_mood_smartphone.csv

In [11]:
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/Group 80 - DTM/assignment1/dataset_mood_smartphone.csv')
print(data)

        Unnamed: 0       id                     time        variable   value
0                1  AS14.01  2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01  2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01  2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01  2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01  2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                      ...             ...     ...
376907     2770399  AS14.30  2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30  2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30  2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30  2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32  2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 5 columns]

In [45]:
print('data.shape')
print(data.shape)
print('-----------------------------------')
print('data.dtypes')
print(data.dtypes)
print('-----------------------------------')
print('data.describe()')
print(data.describe())
print('-----------------------------------')
print('data.id.describe()')
print(data.id.describe())
print('-----------------------------------')
print('data.time.describe()')
print(data.time.describe())
print('-----------------------------------')
print('data.variable.describe()')
print(data.variable.describe())
print('-----------------------------------')
print('data.value.describe()')
print(data.value.describe())

data.shape
(376912, 5)
-----------------------------------
data.dtypes
Unnamed: 0      int64
id             object
time           object
variable       object
value         float64
dtype: object
-----------------------------------
data.describe()
         Unnamed: 0          value
count  3.769120e+05  376710.000000
mean   4.501273e+05      40.665313
std    5.411519e+05     273.726007
min    1.000000e+00  -82798.871000
25%    9.422875e+04       2.025000
50%    2.274385e+05       7.029000
75%    5.160412e+05      29.356000
max    1.427711e+07   33960.246000
-----------------------------------
data.id.describe()
count      376912
unique         27
top       AS14.01
freq        21999
Name: id, dtype: object
-----------------------------------
data.time.describe()
count                      376912
unique                     336907
top       2014-04-14 12:00:00.000
freq                           91
Name: time, dtype: object
-----------------------------------
data.variable.describe()
count     376912
unique        19
top       screen
freq       96578
Name: variable, dtype: object
-----------------------------------
data.value.describe()
count    376710.000000
mean         40.665313
std         273.726007
min      -82798.871000
25%           2.025000
50%           7.029000
75%          29.356000
max       33960.246000
Name: value, dtype: float64

In [46]:
print(data.variable.unique())

['mood' 'circumplex.arousal' 'circumplex.valence' 'activity' 'screen'
 'call' 'sms' 'appCat.builtin' 'appCat.communication'
 'appCat.entertainment' 'appCat.finance' 'appCat.game' 'appCat.office'
 'appCat.other' 'appCat.social' 'appCat.travel' 'appCat.unknown'
 'appCat.utilities' 'appCat.weather']

In [47]:
print(data.id.unique())

['AS14.01' 'AS14.02' 'AS14.03' 'AS14.05' 'AS14.06' 'AS14.07' 'AS14.08'
 'AS14.09' 'AS14.12' 'AS14.13' 'AS14.14' 'AS14.15' 'AS14.16' 'AS14.17'
 'AS14.19' 'AS14.20' 'AS14.23' 'AS14.24' 'AS14.25' 'AS14.26' 'AS14.27'
 'AS14.28' 'AS14.29' 'AS14.30' 'AS14.31' 'AS14.32' 'AS14.33']

In [42]:
data[data.id.eq('AS14.33') & data.time.eq('2014-04-16 15:00:00.000')]

       Unnamed: 0       id  ...            variable     value
5449         5450  AS14.33  ...                mood  7.000000
11092       11093  AS14.33  ...  circumplex.arousal -1.000000
16735       16736  AS14.33  ...  circumplex.valence  1.000000
38889       38890  AS14.33  ...            activity  0.341667

[4 rows x 5 columns]